<br />
<br />
<br/>
<!--Inicio Modal Promocion  -->
<div class="container  d-flex justify-content-center padding-carddetail">
	<!-- Card -->
	<div class="card promoting-card col-lg-10 col-md-10  col-sm-12">

		<!-- Card content -->
		<div class="card-body padding-bodycard ">
		
			<!-- Content -->
				<div >
				
				<!-- Title -->
				<h4 class="card-title font-weight-bold mb-2"> <span >{{'NEW_JOB' | translate}}/</span>{{JobDetail.titlejob}}</h4>
				<!-- Subtitle -->
				
					 <span class="text-muted"> {{'BUSINES' | translate}} :</span> 
					 <button type="button"
										class="btn btn-a-ecrece btn-withoutshadow text-capitalize"
										ng-click="gobusiness(JobDetail.business.idbusiness)">
										<span>{{ JobDetail.business.name_business }}</span>
									</button>
				</div>
				<div class="row ">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div >
							<span class="text-muted"> {{'EXPERIENCE' | translate}} :</span> {{JobDetail.contracttype.desc_contracttype }}
						</div>
						<div >
							<span class="text-muted"> {{'MAX_AGE' | translate}} :</span> {{JobDetail.maxage }}
						</div>
						<div >
							<span class="text-muted"> {{'PROFESSIONALEXPERIENCE' | translate}} :</span> {{JobDetail.professionalExperience.desc_professionalexperience }}
						</div>
						<div >
							<span class="text-muted"> {{'SCHEDULE_JOB_OFFER' | translate}} :</span >  {{JobDetail.schoollevel.desc_schoollevel }} 
						</div>
						<div >
							<span class="text-muted"> {{'SCHOOL_LEVEL' | translate}} :</span> {{JobDetail.schoollevel.desc_schoollevel }}
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div >
							<span class="text-muted"> {{'PHONE' | translate}} :</span> {{JobDetail.phonejob }}
						</div>
						<div >
							<span class="text-muted"> {{'MIN_AGE' | translate}} :</span> {{JobDetail.minage }}
						</div>
						<div >
							<span class="text-muted"> {{'SALARY_JOB' | translate}} :</span> {{JobDetail.salaryjob }}
						</div>
						<div >
							<span class="text-muted"> {{'SEX' | translate}} :</span>  <span ng-if="JobDetail.sex == 0">{{'MALE' | translate}}</span><span ng-if="JobDetail.sex == 1">{{'FEMALE' | translate}}</span>
						</div>
					</div>				
				</div>
				
				<div>
						<p ><span class="text-muted"> {{'DESCRIPTION' | translate}} :</span> {{JobDetail.descjob}}</p>
				</div>
				<div>
						<p ><span class="text-muted"> {{'OTHERREQUIREMENT' | translate}} :</span> {{JobDetail.otherrequirement}}</p>
				</div>


		</div>
		<!-- Card content -->
		<div class="card-body padding-bodycard">
			<div >
				<!-- Text -->
			
				<!-- Button -->
				 <div class="modal-footer modal-footer-ecrece">
				 <div></div>
				 <div>
				<button type="button" title="{{'HOME' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-click="out()"><span
						class="glyphicon glyphicon-remove-circle"></span>{{'HOME' | translate}}</button>
					<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
				ng-click="back()"><span
					class="glyphicon glyphicon-remove-circle"></span>{{'BACK' | translate}}</button>	
					</div>		
			</div>

			</div>

		</div>

	</div>
	<!-- Card -->
</div>

<!--Fin Modal Promocion  -->