<br/>
<br/>
<br/>
<div class="container">
<!-- inicio modal empleo -->
	<modal title="{{'JOB' | translate}}" visible="showModalJob"
		class="formodals-hide">

	<div class="modal-dialog" role="dialog">
		<div class="modal-content">
			<form class="form" name="formjob">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'NEW_JOB' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModal()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="verMessageError">
						<p ng-bind-html="errorMessage"></p>
					</div>
					<input type="hidden" id="idoffer" name="idoffer"
						class="form-control" readonly="readonly" ng-model="Job.idjob" />
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="titlejob" >{{'TITLE_JOB' |
										translate}}<span class="asteristo"> * </span>
									</label> <input type="text" id="titlejob" name="titlejob"  class="form-control"
										ng-model="Job.titlejob" required/> 
										<span class="text-danger" ng-show="formjob.titlejob.$dirty && formjob.titlejob.$error.required">{{'TITLE_JOB_REQUIRED'
										| translate}}</span> 
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  
									<label for="descjob" >{{'DESCRIPTION' | translate}}<span class="asteristo"> *</span></label>
									<textarea rows="" cols="" id="descjob" name="descjob" class="md-textarea form-control"
										ng-model="Job.descjob"  maxlength="255" required></textarea>									
									<span class="text-danger"
										ng-show="formjob.descjob.$dirty && formjob.descjob.$error.required">{{'DIRECCION_REQUIRED' | translate}}</span>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">	
									<label for="sex" class="active">{{'SEX' | translate}}</label>
									<select name="sex" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.sex">
										<option 
												ng-repeat="item in Sexs"
												value="{{item.idsex}}">
										{{item.namesex }}
										</option>
									</select>
								</div>	
							</div>
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="maxage" class="active">{{'MAX_AGE' |
											translate}} </label> 
											<input type="number" id="maxage" name="maxage"  class="form-control"
											ng-model="Job.maxage" />
									</div>
							</div>
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="maxage" class="active">{{'MIN_AGE' |
											translate}} </label> 
											<input type="number" id="minage" name="minage"  class="form-control"
											ng-model="Job.minage" />
									</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  
									<label for="descjob" >{{'OTHERREQUIREMENT' | translate}}</label>
									<textarea rows="" cols="" id="otherrequirement" name="otherrequirement" class="md-textarea form-control"
										ng-model="Job.otherrequirement"  maxlength="255" ></textarea>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="dateend" class="active">{{'DATE_END_OFFER'
											| translate}}<span class="asteristo"> * </span>
										</label> <input type="date" id="dateend" name="dateend"
											class="form-control" ng-model="Job.dateend"  max="{{dayblock | date:'yyyy-MM-dd'}}"  required />
										<span class="text-danger"
											ng-show="formjob.dateend.$dirty && formjob.dateend.$error.required">{{'DATE_END_REQUIRED'
											| translate}}</span>
									</div>
							</div>
							<div class="form-group col-sm-12">
							<div class="md-form">
								<label for="phonejob">{{'PHONE' | translate}}</label>
								<input type="text" id="phonejob" name="phonejob" class="form-control"  maxlength="12"
									ng-pattern="/^[0-9]{1,8}$/" ng-model="Job.phonejob" />								
								<span class="text-danger "
									ng-show="formjob.phonejob.$error.pattern">{{'NUMBER_NVALIDATE' | translate}}</span>
							</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="salaryjob" class="active">{{'SALARY_JOB' |
										translate}} </label> 
										<input type="number" id="salaryjob" name="salaryjob"  class="form-control"
										ng-model="Job.salaryjob" />
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="schedulejoboffer" class="active" >{{'SCHEDULE_JOB_OFFER' | translate}} </label>
									<select name="schedulejoboffer" id="schedulejoboffer" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.schedulejoboffer"																				
										ng-options="item as item.desc_schedu for item in ScheduleJobOffer | orderBy:'desc_schedu'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="schoollevel" class="active" >{{'SCHOOL_LEVEL' | translate}} </label>
									<select name="schoollevel" id="schoollevel" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.schoollevel"																				
										ng-options="item as item.desc_schoollevel for item in Schoollevel | orderBy:'desc_schoollevel'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="contracttype" class="active" >{{'CONTRACT_TYPE' | translate}} </label>
									<select name="contracttype" id="contracttype" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.contracttype"																				
										ng-options="item as item.desc_contracttype for item in ContractType | orderBy:'desc_contracttype'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
							<div class="md-form">								
									 <label for="professionalexperience" class="active" >{{'PROFESSIONALEXPERIENCE' | translate}} </label>
									<select name="professionalexperience" id="professionalexperience" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.professionalexperience"																				
										ng-options="item as item.desc_professionalexperience for item in ProfessionalExperience | orderBy:'desc_professionalexperience'" >
									</select>  
								 </div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="clearfield()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'ACCEPT' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled="!formjob.$valid"
							ng-click="savejob(Job)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal empleo -->
    <div class="form-inline" >
         <div style="margin-right: 25px;">
			 <button type="button" style="margin-left: 0px;" ng-disabled="showbotomadd" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
			 <span class="touppercase">{{'JOBS' | translate}}</span>			 			
        </div>   	   
    </div>
     <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="user">{{'MY_JOBS' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0" ng-model="Business.idbusiness" class="browser-default custom-select bg-transparent nav-link dropdown-toggle withoutborder col-xl-5 col-sm-8"
					ng-init="Business.idbusiness = Business.idbusiness || BusinessList[0].idbusiness"
					ng-change = "changetoradiobusiness()"
					ng-options="item.idbusiness as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 
		</div>
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio)">{{'SEARCH' | translate}}</button>
			
		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>     
     <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'TITLE_JOB' | translate}}</th>
            <th>{{'CONTRACT_TYPE' | translate}}</th>
            <th>{{'SCHEDULE_JOB_OFFER' | translate}}</th>
            <th>{{'SALARY_JOB' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="width-colum-nameshort"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'TITLE_JOB' | translate}}" ng-change="searchtitle()" ng-model="search_jobtitle" /></td>
			<td class="width-colum-nameshort"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'CONTRACT_TYPE' | translate}}" ng-change="searchcontract()" ng-model="search_contract" /></td>
			<td class="width-colum-nameshort"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'SCHEDULE_JOB_OFFER' | translate}}" ng-change="searchschedulejob()" ng-model="search_schedulejob" /></td>
			<td class="width-colum-date"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'SALARY_JOB' | translate}}" ng-change="searchsalary()" ng-model="search_salarymodel" /></td>
			<td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] | orderBy: '-create_at'">
            <td class="td-ecrece-white">{{ item.titlejob | limitTo: 80}}</td>
            <td class="td-ecrece-white">{{ item.contracttype.desc_contracttype}}</td>
            <td class="td-ecrece-white" >{{ item.schedulejoboffer.desc_schedu }}</td>
            <td class="td-ecrece-white" >{{ item.salaryjob }}</td>           
            <td class="width-colum-action">
                 <div >
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idjob)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
                 <button  ng-if="showbuttondelete(item)" title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="DeleteJob(item.idjob)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
                 </div>					
			</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>