<br/>
<br/>
<br/>
<div class="container">  
     <div class="form-inline" >		
		<div>
			<span class="touppercase">{{'JOBS_OFFERS' | translate}}</span>	
		</div>
		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>     
     <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'TITLE_JOB' | translate}}</th>
            <th>{{'CONTRACT_TYPE' | translate}}</th>
            <th>{{'SCHEDULE_JOB_OFFER' | translate}}</th>
            <th>{{'SALARY_JOB' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="width-colum-nameshort"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'TITLE_JOB' | translate}}" ng-change="searchtitle()" ng-model="search_jobtitle" /></td>
			<td class="width-colum-nameshort"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'CONTRACT_TYPE' | translate}}" ng-change="searchcontract()" ng-model="search_contract" /></td>
			<td class="width-colum-nameshort"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'SCHEDULE_JOB_OFFER' | translate}}" ng-change="searchschedulejob()" ng-model="search_schedulejob" /></td>
			<td class="width-colum-date"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'SALARY_JOB' | translate}}" ng-change="searchsalary()" ng-model="search_salarymodel" /></td>
			<td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] | orderBy: '-create_at'">
            <td class="td-ecrece-white">{{ item.titlejob | limitTo: 80}}</td>
            <td class="td-ecrece-white">{{ item.contracttype.desc_contracttype}}</td>
            <td class="td-ecrece-white" >{{ item.schedulejoboffer.desc_schedu }}</td>
            <td class="td-ecrece-white" >{{ item.salaryjob }}</td>           
            <td class="width-colum-action">
                 <div >
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idjob)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
                 <button  ng-if="showbuttondelete(item)" title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="DeleteJob(item.idjob)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
                 </div>					
			</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>