<br/>
<br/>
<br/>
<div class="container" >
    <modal title="{{'PAYMENT_FORM' | translate}}" visible="showModal" >
      
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                  <form class="form" name="paymentformsform" id="paymentformsform" novalidate>
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'PAYMENT_FORM' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError">{{errorMessage | translate}}</div>
                        <input type="hidden" id="idpayment_form" name="idpayment_form" class="form-control" readonly="readonly" ng-model="PaymentForms.idpayment_form" />
                        <div class="md-form">                            
                            <input type="text" id="name_payment_form"  maxlength="150" name="name_payment_form" class="form-control" ng-model="PaymentForms.name_payment_form" required autofocus/>
                           
                            <label for="name_payment_form" ng-if="PaymentForms.name_payment_form.length == 0">{{'PAYMENT_FORM_NAME' | translate}} <span class="asteristo"> *</span></label>
							<label for="name_payment_form" ng-if="PaymentForms.name_payment_form.length >0" class="active">{{'PAYMENT_FORM_NAME' | translate}}<span class="asteristo"> * </span></label>                                             
                            <span class="text-danger" ng-show="paymentformsform.name_payment_form.$dirty && paymentformsform.name_payment_form.$error.required">{{'PAYMENT_FORM_REQUIRED' | translate}}</span>
                        </div>
                        <div class="md-form">                            
                            <input type="text" id="desc_payment_form"  maxlength="255" name="desc_payment_form" class="form-control" ng-model="PaymentForms.desc_payment_form" required/>
                           
                            <label for="desc_payment_form" ng-if="PaymentForms.desc_payment_form.length == 0">{{'PAYMENT_FORM_DESC' | translate}} <span class="asteristo"> *</span></label>
							<label for="desc_payment_form" ng-if="PaymentForms.desc_payment_form.length >0" class="active">{{'PAYMENT_FORM_DESC' | translate}}<span class="asteristo"> * </span></label>                                              
                             <span class="text-danger" ng-show="paymentformsform.desc_payment_form.$dirty && paymentformsform.desc_payment_form.$error.required">{{'PAYMENT_FORM_DESC_REQUIRED' | translate}}</span>
                        </div>
                        
                    </div>
                    <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!paymentformsform.$valid" ng-click="save(PaymentForms)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                        	 </div>
						</div>
						</form>
                </div>
            </div>
        
    </modal>
    <div class="form-inline">
        <div>
            <button type="button" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
            <span class="touppercase">{{'PAYMENT_FORMS' | translate}}</span>
        </div>
        <div class="alert alert-success" ng-show="verMessage">{{ Message | translate }}</div>
        <div class="ml-auto padding-botomnback  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'PAYMENT_FORM_NAME' | translate}}</th>
            <th>{{'PAYMENT_FORM_DESC' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="td-ecrece-white width-colum-name"> <input type="search" id="id_search"  class="form-control-ecrece" placeholder="{{'PAYMENT_FORM' | translate}}" ng-change="searchpayment()" ng-model="search_name_payment_form" /></td>
            <td class="td-ecrece-white width-colum-desc"> <input type="search" id="id_search_desc"  class="form-control-ecrece" placeholder="{{'PAYMENT_FORM_DESC' | translate}}" ng-change="searchpayment()" ng-model="desc_payment_form" /></td>
            <td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] ">
            <td class="td-ecrece-white">{{ item.name_payment_form }}</td>
            <td class="td-ecrece-white">{{ item.desc_payment_form }}</td>
            <td>
                <div >
				<button  title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
                <button  title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
		   		</div>
			</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
		  <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
           <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
        </div>                    
         </tfoot>
</div>