<br />
<br />
<br />
<div class="container d-flex justify-content-center padding-carddetail">
	<!-- Card -->
	<div class="card promoting-card col-lg-8 col-md-8  col-sm-12">
		<!-- Card content -->
		<div class="card-body padding-bodycard d-flex flex-row ">			
			<!-- Content -->
			<div >
			<h5 class="card-title font-weight-bold mb-2">{{'REQUEST_RESERVATION' | translate}} <span ng-if="Reservation.domicile">{{'DOMICILE' | translate}}</span>: {{Reservation.usertoreservation.nameUser}}</h5>			
		   <h6 class="card-title"><strong>{{'DATE' | translate}}:</strong> {{Reservation.date | date:'dd-MM-yyyy' }} <span ng-show="Reservation.dateend.length>0"><strong> -- {{'DATE_END' | translate}}:</strong> {{Reservation.dateend | date:'dd-MM-yyyy' }}</span></h6>
		  
		      <div ><span ng-show="Reservation.night != null"><strong>{{'NIGTH_AMOUNT' | translate}}:</strong> {{Reservation.night}}</span>		      
		      <div ng-show="Reservation.personsamount != null"> <span >   <strong>{{'PERSONS_AMOUNT' | translate}}:</strong> {{Reservation.personsamount}}</span></div>
		      <div ng-show="Reservation.schedule != null"><span >  <strong>{{'SCHEDULE' | translate}}:</strong> {{Reservation.schedule | date:'HH:mm'}}</span> </div>
		      <div ng-show="Reservation.scheduleend != null"><span >  <strong>{{'SCHEDULE_END' | translate}}:</strong> {{Reservation.scheduleend | date:'HH:mm'}}</span></div>
		      <div ng-show="Reservation.article.lenght>0 "><span >  <strong>{{'ARTICLE' | translate}}:</strong> {{Reservation.article}}</span></div>
		     </div>
			     <div> 
			     	<span ng-if="Reservation.immediate" class="font-weight-bold text-danger">{{'IMMEDIATE' | translate}}</span>
			     	<div>
			     		<span ng-if="Reservation.domicile"><strong>{{'DIRECCION_DOMICILE' | translate}}: </strong>{{Reservation.dir_reservation}}</span>
			     	</div>			     	
					<p>
						<strong>{{'DESCRIPTION' | translate}}:</strong> {{Reservation.description}}
						
			      	</p>
			      </div>		      	
			</div>
		</div>

		<!-- Card image -->
		<!-- <div class="view overlay">
			<img class="card-img-top rounded-0"
				src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
				alt="Card image cap"> <a href="#!">
				<div class="mask rgba-white-slight"></div>
			</a>
		</div> -->

		<!-- Card content -->
		<div class="card-body ">

			<div >

				<!-- Text -->
				<p class="card-text">{{OfferDetail.descOffer}}</p>
				<!-- Button -->
				 <div class="modal-footer modal-footer-ecrece">
				 <div></div>
				 <div>
				<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-show="showbotom"
					ng-click="acceptreservation()">{{'ACCEPT' | translate}}</button>
				<button type="button" title="{{'REJECT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-show="showbotom" ng-click="rejectreservation()">{{'REJECT' | translate}}</button>
				<button type="button" title="{{'HOME' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="gohome()">{{'HOME' | translate}}</button>	
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>	
						</div>			
				</div>
			</div>

		</div>

	</div>
	<!-- Card -->
</div>

