<br/>
<br/>
<br/>
<div class="container">   
	
    <div class="form-inline" >
    	<span class="touppercase">{{'RESERVATIONS' | translate}}</span>       
    </div>
    <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="user">{{'MY_RESER' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business" ng-model="Business.idbusiness" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0"
					ng-init="Business.idbusiness = Business.idbusiness || BusinessList[0].idbusiness"
					ng-options="item.idbusiness as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 		
		</div>
		<div >
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio)">{{'SEARCH' | translate}}</button>
		</div  > 
		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>	
    </div>
     <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'DATE' | translate}}</th>
            <th>{{'DATE_END' | translate}}</th>
            <th>{{'DESCRIPTION' | translate}}</th>
            <th>{{'STATE' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >            
            <td class="width-colum-date"><input type="date" id="date" class="form-control-ecrece md-date validate" placeholder="{{'DATE' | translate}}"ng-change="searchdate()"  ng-model="search_date"></td>
			<td class="width-colum-date"><input type="date" id="date" class="form-control-ecrece md-date validate" placeholder="{{'DATE_END' | translate}}"ng-change="searchdateend()"  ng-model="search_dateend"></td>
			<td class="width-colum-desc"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'DESCRIPTION' | translate}}" ng-change="searchdesc()"  ng-model="search_desc" /></td>
			<td class="width-colum-date"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'STATE' | translate}}"   ng-model="search_state" /></td>
			<td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor" ng-repeat="item in pagedItems[currentPage] | orderBy:'-date' ">
            <td class="td-ecrece-white">{{ item.date | date:'dd-MM-yyyy'}}</td>
            <td class="td-ecrece-white">{{ item.dateend  | date:'dd-MM-yyyy'}}</td>
            <td class="td-ecrece-white">{{ item.description }}</td> 
             <td class="td-ecrece-white"><span class="font-weight-bold text-danger" ng-if="item.reject">{{'REJECTED ' | translate}}</span><span class="font-weight-bold text-success" ng-if="item.accept">{{'ACEPTED ' | translate}}</span><span class="font-weight-bold text-primary" ng-if="item.pend">{{'PEND ' | translate}}</span></td>              
            <td class="width-colum-action">
                 <div >	
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idreservation)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>				
                 </div>
					
				</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>