<div class="section-three" ng-controller = "TopBusinessController" ng-show="businesscount > 0">
	<div class="container d-flex justify-content-center"  >	
	<div class="full-width" >
		<div >
		<div>
			<h1 style="text-align: center;">MAS DESTACADOS</h1>
		</div>
		
	<div class="card-deck row">
		<div class="col col-sm-4" ng-repeat="item in Business | orderBy:'name_business' track by $index ">
			<div class="card">
				<div ng-click="get(item)" class="rounded mb-0 view overlay waves-effect waves-light"  back-img="{{rutaimagen}}{{item.business.name_image}}" >
					<a >
						<div class="mask rgba-white-slight"  ></div>
					</a>
				</div>
			<div class="card-body">
				<h4 class="card-title">{{item.business.name_business}}</h4>
				 <!-- <div class = "row" >
					<div star-rating rating-value="1" max="5" readonly = "false" on-rating-selected="getSelectedRating(rating)"></div>
				
				</div>  -->
				 <div class="row paddingleft20" ng-show="item.countcalif > 0" title="{{'RATINGS' | translate}}"> 
				<div star-rating rating-value="1" max="1"
					readonly="forreadonly"></div> <span class="class-foravg">({{item.avg}}/{{item.countcalif}})</span>
				 </div> 
				<p class="card-text">{{item.business.desc_business | limitTo:65}}...</p>
				<a  ng-click="get(item)" class="btn-a-ecrece color-link">{{'READ_MORE' | translate}}</a>
			</div>
			</div>
		</div> 
		</div>
		</div> 
	</div>
	</div>
</div>