<!-- Masthead -->
<header class="masthead1" ng-controller="SesionTwo">
<section>
<div class="container">
 <div class="row justify-content-center text-center">
    <div class="col-12 col-sm-4" ng-click="showpath()">
       <a class="btn btn-withoutshadow stwo-a" ><img class="img-fluid " src="{{PROMOCIONES}}" alt="">
       <h3 class="stwo-h3">{{'PICTURE_ONE' | translate}}</h3>
       <h6 class="stwo-h6">{{'PICTURE_ONE_TWO' | translate}}</h6>
       </a>
       
    </div>
    <div class="col-12 col-sm-4" ng-click="navegate('business')">
		<a class="btn btn-withoutshadow stwo-a" ><img class="img-fluid " src="{{NEGOCIO}}" alt="">
		<h3 class="stwo-h3">{{'PICTURE_TWO' | translate}}</h3>
		<h6 class="stwo-h6">{{'PICTURE_TWO_TWO' | translate}}</h6>
		</a>
		
	</div>
	<div class="col-12 col-sm-4" ng-click="navegate('buypoints')">
		 <a  class="btn btn-withoutshadow stwo-a"  ><img class="img-fluid " src="{{PUNTOS}}" alt="">
		 <h3 class="stwo-h3">{{'PICTURE_THREE' | translate}}</h3>  
		 <h6 class="stwo-h6">{{'PICTURE_THREE_TWO' | translate}}</h6> 
		 </a> 
   		</div>
  </div>
</div>
</section> 
</header>
