<header class="masthead3">
<section class="">
	<div class="container  d-flex justify-content-center">
       <div class="row div-descarga-home">
        <div class=" col-lg-8">                
            <h2>{{'APK' | translate}}</h2>   
		</div>		
		 <div class="col-lg-4">                
            <button type="button" title="{{'DOWNLOAD' | translate}}" class="btn boton-descarga"><span class="glyphicon glyphicon-floppy-disk"></span>{{'DOWNLOAD' | translate}}</button> 
		</div>
	</div>
</div>
</section>
</header>