<br/>
<br/>
<br/>
<br/>
<!--Inicio Modal Login  -->
 <div class="container" >
   <!--  <modal title="{{'LOGIN' | translate}}" visible="showModal" id="Login" > -->
        <form class="form" name="loginform">
            <div class="modal-dialog modal-lg" role="dialog">
                <div class="modal-content" >
                     <div class="modal-header">                    
	                     <h3 class="modal-title">{{'LOGIN' | translate}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button> 
                      </div>  
                    <div class="row">
						  <div class="col-xs-12 col-sm-4 col-md-4 text-center">
						  	<div class="row justify-content-center align-items-center minh-100">
						  		<img src="img/FacebookLineas.svg" style="width: 34px; margin-right: 5px;" alt="facebook" class="img-responsive" />
						  		<img src="img/InstagramLineas.svg" style="width: 34px; margin-right: 5px;" alt="facebook" class="img-responsive" />
						  		<img src="img/TwitterLineas.svg" style="width: 34px;" alt="facebook" class="img-responsive" />
						  	</div>
						  </div> 
						  <div class="col-xs-12 col-sm-4 col-md-4">
						  <!-- INICIO COLUMNA DEL MEDIO  -->
		                      <div class="modal-body">
		                      <div class="alert alert-danger" ng-show="verMessageError">{{ errorMessage | translate }}</div>
		                        
		
		                        <div class="form-group">
	                            <!-- label for="nameUser">Nombre Usuario</label -->
	                            <input type="text" id="username1" name="username1" class="form-control border-left-0 border-right-0 border-top-0" placeholder="{{'USER' | translate}}" ng-model="UserLogin.username1"  autofous required/>
	                              <span class="text-danger" ng-show="loginform.nameUser.$dirty && loginform.nameUser.$error.required">{{'USER_NAME_REQUIRED' | translate}}</span>
	                             	
	                            <!-- label for="password">Contraseï¿½a</label -->
	                            <input type="password" id="password1" name="password1" class="form-control border-left-0 border-right-0 border-top-0" placeholder="{{'PASSWORD' | translate}}" ng-model="UserLogin.password1" required/>
	                            <span class="text-danger" ng-show="loginform.password1.$dirty && loginform.password1.$error.required">{{'PASSWORD_REQUIRED' | translate}}</span>
	                                         
			                    <div class="modal-footer">
			                        <button type="button" title="{{'SAVE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!loginform.$valid"  ng-click="save(UserLogin)" ><span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>
			                        <!-- <button type="button" title="Cancelar" class="btn btn-sm btn-default" ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>Cerrar</button> -->
			                    </div>		
						  <!-- fIN COLUMNA DEL MEDIO  -->
						  </div>    
						  </div>
						  </div> 
						   <div class="col-xs-12 col-sm-4 col-md-4 text-center ">
						  	<div class="row justify-content-center align-items-center minh-100">
						  		<H2 align="center" style="color: #00CCFF">{{'BENEFITS_NEWS' | translate}}</H2>
						  		
						  	</div>
						  </div>
						 
						   
                </div>                
            </div>
            </div>
        </form>
   <!--  </modal> -->
    </div>
 <!-- Fin Modal Login  --> 
