 <br/>
  <br/>
   <br/>
<div class="container" >
	<modal title="{{'POINT_ASSIGMENT' | translate}}" visible="showModal">
	        
	            <div class="modal-dialog" role="dialog">
	                <div class="modal-content">
	                <form class="form" name="WorkUsersForm">
	                    <div class="modal-header-ecrece">                    
	                     <h3 class="modal-title">{{'POINT_ASSIGMENT' | translate}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                   </div>
	                    <div class="modal-body">
	                        <div class="form-group col-sm-6">
	                        <div class="md-form">		                           					  
								<select name="pack" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0" ng-model="WorkUsers.id_package" 
										ng-init="WorkUsers.id_package = WorkUsers.id_package || PaquetePuntos[0].id_package" 
										ng-options="item.id_package as (item.point_value + ' | '+ item.cost) for item in PaquetePuntos | orderBy:'point_value'"
										required>
								</select> 
								 <label for="pack" class="active">{{'POINTS' | translate}} | {{'VALUE' | translate}}</label> 								  
								</div>                       
							</div>							
	                    </div>
	                    <div class="modal-footer modal-footer-ecrece">
							<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
	                        <button type="button" title="{{'ASSIGN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"   ng-disabled='!WorkUsersForm.$valid' ng-click="AsingPoint(WorkUsers)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ASSIGN' | translate}}</button>
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
					   </div>
						</div>
						 </form>
	                </div>
	            </div>
	       
	    </modal>
	     <div class="form-inline">
         <div class=" col-md-9" style="padding-left: 0px;">
             <button title="{{'NEW' | translate}}" class="btn btn-withoutshadow" ng-disabled="selection.length===0" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:20px;"></span></button>
              <span class="touppercase">{{'POINT_ASSIGMENT' | translate}}</span>
               
        </div>
        <div class="ml-auto padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'USERS' | translate}}</th>
            <th>{{'POINTS' | translate}}</th>
            <th>{{'STATE' | translate}}</th>
        </tr>
        <tr>
            <td class="width-colum-name">
            <div class="form-inline" >
            <div class="aling-center-check">
            	<input type="checkbox" ng-model="selectAll" ng-click="selectedall()" /> 
            </div>
	            <div class="aling-center-input">
	            <input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'NAME' | translate}}" ng-model="search_name_user" />
	            </div>
	         	
	         </div>
         </td> 
         <td class="width-colum-name"> <input type="search" id="id_search_search_ptosUser"  style="margin-right: 0px" class="form-control-ecrece" placeholder="{{'POINTS' | translate}}" ng-model="search_ptosUser" /></td>
         <td class="width-colum-name"> <input type="search" id="id_search_name_user_state" style="margin-right: 0px" class="form-control-ecrece" placeholder="{{'STATE' | translate}}" ng-model="search_name_user_state" /></td>           
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in Usuarios | filter: { nameUser: search_name_user, ptosUser:search_ptosUser} | filter: {userState: {name_user_state: search_name_user_state}} ">
            <td class="td-ecrece-white"><input type="checkbox" name="selecteduser[]" value="{{item}}"
					    ng-checked="selection.indexOf(item) > -1"  ng-click="toggleSelection(item)" > {{item.nameUser}}
			 </td>
			  <td class="td-ecrece-white"> {{ item.ptosUser }} </td>
			  <td> {{ item.userState.name_user_state }} </td>
			 </tr>
        </tbody>
    </table>
    </div>
    <tr>
        <div ng-show= "Usuarios.length==0" style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
 </div>
 