<br/>
<br/>
<br/>
<div class="container">
    <modal title="{{'FUNCIONALITIES' | translate}}" visible="showModal">
       
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                 <form class="form" name="funcionalityform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'FUNCIONALITY' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError">{{errorMessage | translate}}</div>
                        <input type="hidden" id="idfuncionality" name="idfuncionality" class="form-control" readonly="readonly" ng-model="Funcionality.idfuncionality" />
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">	
								 <div class="md-form">									
									<input type="text" id="nameFuncionality"  maxlength="100" name="nameFuncionality" class="form-control" ng-model="Funcionality.nameFuncionality" autofocus required/>
									<label for="nameFuncionality" ng-if="Funcionality.nameFuncionality.length == 0">{{'FUNCIONALITY_NAME' | translate}}<span class="asteristo"> * </span></label>
									<label for="nameFuncionality" class="active" ng-if="Funcionality.nameFuncionality.length >0">{{'FUNCIONALITY_NAME' | translate}}<span class="asteristo"> * </span></label>
									<span class="text-danger" ng-show="funcionalityform.nameFuncionality.$dirty && funcionalityform.nameFuncionality.$error.required">{{'FUNCIONALITY_NAME_REQUIRED' | translate}}</span>
								</div>
								<div class="md-form">										
										<input type="number" id="funcionality_days"   name="funcionality_days" min="0" class="form-control" ng-model="Funcionality.funcionality_days"  required/>
										
										<label for="funcionality_days" class="active" >{{'FUNCIONALITY_DAYS' | translate}}<span class="asteristo"> * </span></label>
										<span class="text-danger"  ng-show="funcionalityform.funcionality_days.$dirty && funcionalityform.funcionality_days.$error.required">{{'FUNCIONALITY_DAYS_REQUIRED' | translate}}</span>
								</div>
								<div class="md-form">									
									<input type="number" id="pointFuncionality" name="pointFuncionality" min="0" class="form-control" ng-model="Funcionality.pointFuncionality" required/>
									
									<label for="pointFuncionality" class="active" >{{'FUNCIONALITY_POINTS' | translate}}<span class="asteristo"> * </span></label>
									<span class="text-danger" ng-show="funcionalityform.pointFuncionality.$dirty && funcionalityform.pointFuncionality.$error.required">{{'FUNCIONALITY_POINTS_REQUIRED' | translate}}</span>
                     			 </div>
							
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
									 <div class="md-form">										
										<input type="number" id="point_plus" name="point_plus" class="form-control" min="0" ng-model="Funcionality.point_plus" required/>
										
										<label for="point_plus" class="active" >{{'FUNCIONALITY_POINT_PLUS' | translate}}<span class="asteristo"> * </span></label>
										<span class="text-danger" ng-show="funcionalityform.point_plus.$dirty && funcionalityform.point_plus.$error.required">{{'FUNCIONALITY_POINT_PLUS_REQUIRED' | translate}}</span>
									</div>
									  <div class="md-form">										
										<input type="number" id="point_less" name="point_less" class="form-control" min="0" ng-model="Funcionality.point_less" required/>
										
										<label for="point_less" class="active" >{{'FUNCIONALITY_POINT_LESS' | translate}}<span class="asteristo"> * </span></label>
										<span class="text-danger" ng-show="funcionalityform.point_less.$dirty && funcionalityform.point_less.$error.required">{{'FUNCIONALITY_POINT_LESS_REQUIRED' | translate}}</span>
									</div>
									 <div class="md-form">		
									 <textarea rows="" cols="" id="descFuncionality" name="descFuncionality"  maxlength="255" class="md-textarea form-control"
											ng-model="Funcionality.descFuncionality" required></textarea>
										<label for="descFuncionality" ng-if="Funcionality.descFuncionality.length ==0">{{'FUNCIONALITY_DESC' | translate}}<span class="asteristo"> * </span></label>
										<label for="descFuncionality" class="active" ng-if="Funcionality.descFuncionality.length >0">{{'FUNCIONALITY_DESC' | translate}}<span class="asteristo"> * </span></label>
										<span class="text-danger" ng-show="funcionalityform.descFuncionality.$dirty && funcionalityform.descFuncionality.$error.required">{{'FUNCIONALITY_REQUIRED' | translate}}</span>
									</div>
									<!-- Default indeterminate -->
									<div class="custom-control custom-checkbox">
									  <input type="checkbox" class="custom-control-input" id="sistema" ng-model="Funcionality.sistema">
									  <label class="custom-control-label" for="sistema">{{'SYSTEM' | translate}}</label>
									</div>
								</div>
								
						</div>
						
                    </div>
                     <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label >{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
						<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
						<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!funcionalityform.$valid" ng-click="save(Funcionality)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                         </div>
                    </div>
                     </form>
                </div>
            </div>
       
    </modal>
    <div class="form-inline">
         <div>
             <button type="button" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
              <span class="touppercase">{{'FUNCIONALITIES' | translate}}</span>
        </div>
        <div class="alert alert-success" ng-show="verMessage">{{ Message | translate }}</div>
        <div class="ml-auto padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
			<th>{{'FUNCIONALITY_NAME' | translate}}</th>
            <th>{{'FUNCIONALITY_DESC' | translate}}</th>            
            <th>{{'FUNC_POINTS' | translate}}</th>
            <th>{{'FUNCIONALITY_POINT_PLUS' | translate}}</th>
            <th>{{'FUNCIONALITY_POINT_LESS' | translate}}</th>
            <th>{{'FUNC_DAYS' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
			<td class="width-colum-nameshort"><input type="search" id="id_search_name" class="form-control-ecrece" placeholder="{{'NAME' | translate}}" ng-change="searchfuncionality()" ng-model="search_funcionalidadname" /></td>
            <td class="width-colum-desc"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'FUNCIONALITY' | translate}}" ng-change="searchfuncionality()" ng-model="search_funcionalidaddesc" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_point" class="form-control-ecrece" placeholder="{{'FUNC_POINTS' | translate}}"  ng-model="search_funcionalidadpoint" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_plus" class="form-control-ecrece" placeholder="{{'FUNC_POINT_PLUS' | translate}}" ng-model="search_funcionalidadplus" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_less" class="form-control-ecrece" placeholder="{{'FUNC_POINT_LESS' | translate}}" ng-model="search_funcionalidadless" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'FUNC_DAYS' | translate}}"  ng-model="search_funcionalidadday" /></td>
			<td class="width-colum-action" ><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] | filter: { pointFuncionality: search_funcionalidadpoint, point_plus: search_funcionalidadplus, point_less: search_funcionalidadless, funcionality_days: search_funcionalidadday }" >
      		 
			<td class="td-ecrece-white">{{ item.nameFuncionality }}</td>
			<td class="td-ecrece-white">{{ item.descFuncionality }}</td>            
            <td class="td-ecrece-white">{{ item.pointFuncionality }}</td>
            <td class="td-ecrece-white">{{ item.point_plus }}</td>
            <td class="td-ecrece-white">{{ item.point_less }}</td>
            <td class="td-ecrece-white">{{ item.funcionality_days }}</td>
            <td>
             <div >
					<button  title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
                	<button title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete " ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
		   		</div>
             </td>
				
				  
        </tr>
        </tbody>
	</table></div>
	
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>