<br />
<br />
<br />
<div class="container d-flex justify-content-center padding-carddetail">
	<!-- Card -->
	<div class="card promoting-card col-lg-8 col-md-8  col-sm-12">

		<!-- Card content -->
		<div class="card-body padding-bodycard d-flex flex-row">			
			<!-- Content -->
			<div>
				<!-- Title -->
				<h4 class="card-title font-weight-bold mb-2">{{'NOTIFICATION' | translate}}</h4>
				<!-- Subtitle -->
				<h5 class="font-weight-normal" style="font-size: larger;">
					{{Notification.subject_notification}}
				</h5>
			</div>
		</div>
		
		<!-- Card content -->
		<div class="card-body padding-bodycard">
			<div >
				<div class="paddingmapsm">
				 <p >
			      	{{Notification.desc_notification}}
			      </p>
			      </div>
			      <div>
			      <p class="card-text"
							ng-show="showbotom">
							 <button type="button" title="{{'VIEW' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-click="goto()"><span
						class="glyphicon glyphicon-remove-circle"></span>{{'VIEW' | translate}}</button>
						
			      	<!-- <a href="{{Notification.urltodetail}}">{{Notification.urltodetail}}</a> -->
			      </p>			
			      </div>
				<!-- Button -->
				 <div class="modal-footer modal-footer-ecrece">
				 <div></div>
				 <div>
				<button type="button" title="{{'HOME' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-click="gohome()"><span
						class="glyphicon glyphicon-remove-circle"></span>{{'HOME' | translate}}</button>
						<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
				ng-click="goback()"><span
					class="glyphicon glyphicon-remove-circle"></span>{{'BACK' | translate}}</button>	
						</div>			
			</div>

			</div>

		</div>

	</div>
	<!-- Card -->
</div>