<br/>
<br/>
<br/>
<div class="container" >   
	 <!--inicio modal de solicitud de puntos  -->
		 <modal title="{{'PACKAGE_POINT_REQUEST' | translate}}" visible="showModalPackageRequest">
	            <div class="modal-dialog" role="dialog">
	                <div class="modal-content">
	                    <div class="modal-header">                    
	                     <h3 class="modal-title">{{'PACKAGE_REQUEST' | translate}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                     </div>
	                    <div class="modal-body">
	                     <input type="hidden" id="idcategory" class="form-control" readonly="readonly" ng-model="PakageRequest.idnotification" />
	                        <div class="row">
	                        <div class="md-form col-sm-6">							
									<input type="text" id="licence_business" name="licence_business"  class="form-control"
										ng-model="union" ng-disabled="true"/>
									<label for="licence_business " class="active pdingleft-modal-notif-busi">{{'POINTS' | translate}} | {{'VALUE' | translate}}</label>
									
							</div>
							<div class="md-form col-sm-6 ">							
									<input type="text" id="licence_business1" name="licence_business1" class="form-control"
										ng-model="PakageRequest.formpayment" ng-disabled="true" />
									<label for="licence_business1 " class="active pdingleft-modal-notif-busi">{{'PAYMENT_FORM' | translate}}</label>
									
							</div>
							</div>
	                    </div>
	                    <div class="modal-footer modal-footer-ecrece">
	                    <div></div>
	                    <div>
	                        <button type="button" title="{{'ACTIVE' | translate}}" class="btn btn-a-ecrece  btn-withoutshadow"   ng-click="aceptPakageRequest(notitosend)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACTIVE' | translate}}</button>
	                        <button type="button" title="{{'REJECT' | translate}}" class="btn btn-a-ecrece  btn-withoutshadow"   ng-click="rejectrequestpoint(notitosend)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'REJECT' | translate}}</button>
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece  btn-withoutshadow" ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
	                     </div>
	                    </div>	                    
	                </div>
	            </div>
	    </modal>
	 <!--fin modal de solicitud de puntos  -->
	 
	  <!--inicio modal de Negocio  -->
		 <modal title="{{'BUSINESS' | translate}}" visible="showModalBusiness">
	            <div class="modal-dialog modal-lg my-custom-scrollbar-modals" role="dialog">
	                <div class="modal-content">
	                    <div class="modal-header-ecrece">                    
	                     <h3 class="modal-title">{{'BUSINES' | translate}}: {{Business.name_business}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                    </div>
	                    <div class="modal-body">
	                     <input type="hidden"  class="form-control" readonly="readonly" ng-model="Business.idbusiness" />
						
						<div class="row">
						 <div class="col-lg-8 col-md-8  col-sm-12">
							<div class="row md-form">
							
                       		 <div class="form-group col-sm-4">
                       		  <label for="muni" class="active pdingleft-modal-notif-busi">{{'MUNICIPALITY' | translate}}<span class="asteristo"> *</span></label>
								<input type="text" id="muni" name="muni" class="form-control "
									ng-model="Business.municipality" ng-disabled="true" />
                       		 </div>
                       		 <div class="form-group col-sm-4">
	                            <label for="phone_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_PHONE' | translate}}</label>
							<input type="text" id="phone_business" name="phone_business" class="form-control "
								ng-pattern="/^[0-9]{1,8}$/" ng-model="Business.phone_business" ng-disabled="true"/>
							</div>
							<div class="form-group col-sm-4">
	                            <label for="licence_business2"  class="active pdingleft-modal-notif-busi">{{'BUSINESS_LICENSE' | translate}}</label>
							<input type="text" id="licence_business2" name="licence_business2" class="form-control "
								ng-model="Business.licence_business" ng-disabled="true"/>
							</div>
	                       
							</div>
							<div class="row md-form">
	                        <div class="form-group col-sm-4 col-lg-12" >
	                            <label for="desc_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_DESC' | translate}}<span class="asteristo"> *</span></label>
								<textarea rows="" cols="" id="desc_business" name="desc_business" class="md-textarea form-control "
									ng-model="Business.desc_business" ng-disabled="true"></textarea>
	                        </div>
	                        <div class="form-group col-sm-4 col-lg-12 marginbottom-modalbusinesnoti">
	                           <label for="dir_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_DIR' | translate}}<span class="asteristo"> *</span></label>
								<input type="text" id="dir_business" name="dir_business" class="form-control "
									ng-model="Business.dir_business" ng-disabled="true" />
							</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12 marginbottom-modalbusinesnoti">
								<span >{{'SUBCATEGORYS' | translate}}:</span>	   
								<span class="paddingspan-modalbusinesnoti font-subcate-modalbusinesnoti" ng-repeat="p in addSubCategorias">{{ p.name_subcategory}}</span>	                         
						   </div>
						 </div>
						   <div class="md-form">  
								<label for="pendfor" >{{'PEND_FOR' | translate}}</label>
								<textarea rows="" cols="" id="pendfor" name="pendfor" class="md-textarea form-control "
									ng-model="Pendiente.descripcion" ></textarea>
							</div>
						 </div>
						 <div class="col-lg-4 col-md-4 col-sm-8">
						   <div>
								<img  class="col-lg-10 col-md-8 col-sm-6 padding6"  ng-src="{{Business.name_image}}" alt="{{'BUSINESS_IMAGE' | translate}}" />
							</div> 							
							<div ng-if="showmap">
								 <openlayers  ol-center="center" ol-defaults="defaults">
								      <ol-marker ng-if="markersbusi.length > 0" ng-repeat="marker in markersbusi" ol-marker-properties="marker"></ol-marker> 
								    </openlayers>  
							</div>  
							</div>
							</div>	
	                    </div>
	                    <div class="modal-footer modal-footer-ecrece" style="justify-content: flex-end;">
	                        <button type="button" title="{{'ACTIVE' | translate}}" class="btn btn-a-ecrece  btn-withoutshadow"   ng-click="aceptBusiness(Business)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACTIVE' | translate}}</button>
	                         <button ng-disabled="Pendiente.descripcion.length==0" type="button" title="{{'PEND' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="BusinessPen(Business,Pendiente)">{{'PEND' | translate}}</button>
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow " ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
	                    </div>
	                </div>
	            </div>
	    </modal>
	 <!--fin modal de negoico  -->
		<!-- inicio modal promocio -->
	 <modal title="{{'PROMOTIONS' | translate}}" visible="showModalPromotion">       
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                 <form class="form" name="promotionform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'PROMOTION' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="idpromotion" name="idpromotion" class="form-control" readonly="readonly" ng-model="Promotion.idpromotion" />
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">									 
								<div class="form-group col-sm-12">
								 <div class="md-form">	
								 		<input type="number" id="daysPromotion" name="daysPromotion" min="0" class="form-control" ng-model="Promotion.daysPromotion" ng-readonly="true"/>
										<label for="daysPromotion">{{'PROMOTION_DAYS' | translate}}</label>
								 </div>
								</div>
								<div class="form-group col-sm-12">
								<div class="md-form">			
										<label for="codePromotion">{{'PROMOTION_CODE' | translate}}</label>
										<input type="text" id="codePromotion" name="codePromotion" class="form-control" ng-model="Promotion.codePromotion" ng-readonly="true"/>										
								</div>
								</div>
								</div>		
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group col-sm-12">
									<label for="dateStartPromotiony">{{'PROMOTION_DATE_START' | translate}}</label>
										<input type="date" id="dateStartPromotion" name="dateStartPromotion"
											class="form-control"
											ng-model="Promotion.date_start_promotion" ng-readonly="true" />																									 
								</div>
								  <div class="form-group col-sm-12">
									<label for="date_end_promotion">{{'PROMOTION_DATE_END' | translate}}</label>
									<input type="date" id="date_end_promotion" name="date_end_promotion"
											class="form-control"
											ng-model="Promotion.date_end_promotion" ng-readonly="true" />									
								  </div>
							</div>				
						</div>
						<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
						  <div class="form-group col-sm-12">
									<label for="desc_promotion">{{'DESCRIPTION' | translate}}</label>
									<textarea rows="" cols="" id="desc_promotion" name="desc_promotion" class="form-control" ng-model="Promotion.desc_promotion" ng-readonly="true"></textarea>									
								</div>	
							</div>
						</div>	
                    </div>
                    </form>
                </div>
            </div>        
    </modal>
	 <!-- fin modal promocio -->
	 <!-- inicio modal notificar cliente -->
	 	<modal title="{{'NOTIFY' | translate}}"
			visible="showModalNotiClient" class="formodals-hide">				
		<div class="modal-dialog modal-lg" role="dialog">
			<div class="modal-content">
				<form class="form" name="NotiClientForm">
					<div class="modal-header-ecrece">
						<h3 class="modal-title">{{'NOTIFY' | translate}}</h3>
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="closeNotiClient()">
							<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<!-- Default indeterminate -->
								 <div >									
									<!-- Default inline 1-->
									<div class="custom-control custom-radio custom-control-inline" title="{{'NOTI_CLIENT' | translate}}">
									  <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" ng-model="NotiClient.tonitification" value="1" ng-checked = "NotiClient.tonitification == 1">
									  <label class="custom-control-label" for="defaultInline1">{{'NOTI_CLIENT' | translate}}</label>
									</div>									
									<!-- Default inline 2-->
									<div class="custom-control custom-radio custom-control-inline" title="{{'NOTI_USER_ONLINE' | translate}}">
									  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" ng-model="NotiClient.tonitification" value="2">
									  <label class="custom-control-label" for="defaultInline2">{{'NOTI_USER' | translate}}</label>
									</div>
								</div>
								<!-- Default indeterminate -->
								 <div class="md-form">									
									<input type="text" id="subject_notification"  maxlength="100" name="subject_notification" class="form-control" ng-model="NotiClient.subject_notification" autofocus required/>									
									<label for="subject_notification"  >{{'NOTIFICATION_TITLE' | translate}}<span class="asteristo"> * </span></label>
									<span class="text-danger" ng-show="NotiClientForm.subject_notification.$dirty && NotiClientForm.subject_notification.$error.required">{{'NOTIFICATION_TITLE_REQUIRED' | translate}}</span>
								</div>
								<div class="md-form">		
									 <textarea rows="" cols="" id="desc_notification" name="desc_notification"  maxlength="255" class="md-textarea form-control"
											ng-model="NotiClient.desc_notification" required></textarea>
										<label for="desc_notification" >{{'DESCRIPTION' | translate}}<span class="asteristo"> * </span></label>									
									<span class="text-danger" ng-show="NotiClientForm.desc_notification.$dirty && NotiClientForm.desc_notification.$error.required">{{'DESCRIPTION_REQUIRED' | translate}}</span>
								</div>							
							</div>
						</div>
						<div class="modal-footer modal-footer-ecrece">
							<div>
								<label class="asteristo"></label>
							</div>
							<div>
								<button type="button" title="{{'CLEAN' | translate}}"
									class="btn btn-a-ecrece btn-withoutshadow"
									ng-click="clearNotiClient()">
									<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
									| translate}}
								</button>
								<button type="button" title="{{'SAVE' | translate}}"
									class="btn btn-a-ecrece btn-withoutshadow"
									ng-disabled="!NotiClientForm.$valid"
									ng-click="noticlient(NotiClient)">
									<span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' |
									translate}}
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	
		</modal>
	  <!-- fin modal notificar cliente -->
     <div class="form-inline" align="center">
        <button ng-if="showbtnadd" title="{{'NEW_NOTI' | translate}}"  class="btn btn-ecrece btn-withoutshadow" ng-click="openNotiClient()"><span class="icon-Adicionar" style="font-size:24px;"></span></button> 
        <span class="touppercase">{{'NOTIFICATIONS' | translate}}</span>      
    </div>
        <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="user">{{'MY_NOTI' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0" ng-model="Business.bus" class="browser-default custom-select bg-transparent nav-link dropdown-toggle withoutborder col-xl-5 col-sm-8"					
					ng-options="item as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 
		</div>
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio,Business.bus)">{{'SEARCH' | translate}}</button>	
		<!-- <button type="button"  ng-if="BusinessList.length >0" title="{{'NOTI_CLIENT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="openNotiClient()">{{'NOTI_CLIENT' | translate}}</button>	 -->
    	<div class="alert alert-success-ecrece" ng-show="verMessage">{{ Message | translate}}</div>
    		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    	
    </div>      
      <div class="table-responsive">
    <table class="table-ecrece  table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'SUBJECT' | translate}}</th>
            <th>{{'USER' | translate}}</th>            
            <th>{{'TYPE' | translate}}</th>
            <th>{{'DATE' | translate}}</th>
            <th>{{'STATE' | translate}}</th>
            <th >{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="width-colum-name"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'SUBJECT' | translate}}"  ng-change="searchonsubject()" ng-model="search_subject_notification_form" /></td>
            <td class="width-colum-middel"><input type="search" id="id_search_usu" class="form-control-ecrece" placeholder="{{'USER' | translate}}" ng-change="searchonuser()" ng-model="search_user_notification" /></td>
            <td class="width-colum-number"><input type="search" id="id_search_type" class="form-control-ecrece" placeholder="{{'TYPE' | translate}}" ng-change="searchontype()" ng-model="search_type_notification" /></td>
            <td class="width-colum-date"><input type="date" id="date" class="form-control-ecrece md-date validate" placeholder="{{'DATE' | translate}}" ng-change="searchondate()"  ng-model="search_date_notification_form"></td>
            <td class="width-colum-number"><input type="search" id="id_search_state" class="form-control-ecrece" placeholder="{{'STATE' | translate}}"  ng-change="searchonstate()" ng-model="search_state_notification" /></td>
            <td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>
		
        <tbody>
        <tr class="contenedor" ng-repeat="item in pagedItems[currentPage] ">
            <td class="td-ecrece-white" ><span ng-bind-html="item.subject_notification"></span></td>
 			<td class="td-ecrece-white">{{ item.usernotification.nameUser }}</td>
            <td class="td-ecrece-white">{{ item.notificationsType.desc_notification_type}}</td> 
            <td class="td-ecrece-white">{{ item.create_date| date:'dd-MM-yyyy'}}</td>
            <td class="td-ecrece-white">{{ item.notification_state.nameNotificationstate}}</td>             
            <td >
				<div >
				<button title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
                <button ng-show="showbottom(item)" title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="AdicionarModal(item)">
				<span style="display: inline-flex; align-items: center;"><img style="width: 24px;"   id="idimag" src="{{imgchek}}" /></span>
				</button>
				</div>
            </td>
        </tr>
        </tbody>
	</table>
	</div>
<tr>
        <div ng-show= "pagedItems.length==0"   style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
<tfoot>
		   <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                   
        </tfoot>
</div>