<br/>
<br/>
<br/>
<div class="container" >
    <modal title="{{'SUBCATEGORY' | translate}}" visible="showModal">
       
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                 <form class="form" name="subcategoryform" id="subcategoryform" novalidate>
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'SUBCATEGORY' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                                              
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError">{{errorMessage | translate}}</div>
                        <input type="hidden" id="idsubcategory" name="idsubcategory" class="form-control" readonly="readonly" ng-model="Subcategory.idsubcategory" />
                        <div class="md-form">                            
                            <input type="text" id="name_subcategory"  maxlength="100" name="name_subcategory" class="form-control" ng-model="Subcategory.name_subcategory" required autofocus/>
                            <label for="name_subcategory" ng-if="Subcategory.name_subcategory.length ==0">{{'SUBCATEGORY_NAME' | translate }}<span class="asteristo"> * </span></label>
                            <label for="name_subcategory" class="active" ng-if="Subcategory.name_subcategory.length >0">{{'SUBCATEGORY_NAME' | translate}}<span class="asteristo"> * </span></label>                                             
                          <span class="text-danger" ng-show="subcategoryform.name_subcategory.$dirty && subcategoryform.name_subcategory.$error.required">{{'SUBCATEGORY_NAME' | translate}}</span>
                        </div>
                        <div class="md-form">                          
                            <select name="categoria" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Subcategory.Category" 
                                    ng-init="Subcategory.Category = Subcategory.Category || Categorias[0].idcategoria" 
                                    ng-options="item.idcategory as item.name_category for item in Categorias | orderBy:'name_category'"
                                    required>
                               
                            </select> 
                            <label for="categoria" class="active">{{'CATEGORY' | translate }}<span class="asteristo"> * </span></label>                          
                            </div>
                      
                    </div>
                    <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label >{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}"  class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!subcategoryform.$valid" ng-click="save(Subcategory)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
               			</div>
					</div>
					</form>
                </div>
            </div>
        
    </modal>
    <div class="form-inline">
        <div>
             <button type="button" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
             <span class="touppercase">{{'SUBCATEGORYS' | translate}}</span>
        </div>
        <div class="alert alert-success" ng-show="verMessage">{{ Message | translate }}</div>  
        <div class="ml-auto padding-botomnback  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>     
    </div>
     <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
             <th>{{'SUBCATEGORY_NAME' | translate}}</th>
            <th>{{'CATEGORY' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="width-colum-name"><input type="search" id="id_search"  class="form-control-ecrece " placeholder="{{'SUBCATEGORY' | translate}}" ng-change="searchsub()" ng-model="search_name_subcategory" /></td>
            <td class="width-colum-desc"><input type="search" id="id_search_category"  class="form-control-ecrece " placeholder="{{'CATEGORY' | translate}}" ng-change="searchsub()" ng-model="search_name_category" /></td>
            <td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>			
        <tbody >
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] ">
            <td class="td-ecrece-white">{{ item.name_subcategory }}</td>
            <td class="td-ecrece-white">{{ item.category.name_category }}</td>
            <td>
                <div >
				<button   title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
                <button  title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
			</div>
			</td>
        </tr>         
        </tbody>	       
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			  <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
				 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
						 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
				 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
						<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
				 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
					ng-change="setPage(page)"
					ng-init="page = currentPage"
					ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
					</select>
	          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
						  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
			 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
						 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
	       		 </div>                     
	         </tfoot>
	
	
</div>