<br/>
<br/>
<br/>
<div class="container padding-carddetail" >
<modal title="{{'POINT_PACK' | translate}}" visible="showModal" >      
            <div class="modal-dialog" role="dialog">
            
                <div class="modal-content">
                  <form class="form" name="pointpackform" id="pointpackform" novalidate>
                   
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'POINT_PACK' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body"> 
	                    <div >
	                    <p > <strong>{{'SUBTITLE_POINT_PACKAGE' | translate}}</strong></p>
	                    </div>                      
                        <div class="form-group">
                       			<div class="md-form">
							    <label for="pack" class="active">{{'POINTS' | translate}} | {{'VALUE' | translate}}<span class="asteristo"> * </span></label>
								<select name="pack" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="BuyPoint.id_package" 
										ng-init="BuyPoint.id_package = BuyPoint.id_package || PaquetePuntos[0].id_package" 
										ng-options="item.id_package as (item.point_value + ' | '+ item.cost) for item in PaquetePuntos | orderBy:'point_value'"
										required>
								</select>  
								</div>                         
							</div>  
							<div class="form-group">
								<div class="md-form">
								  <label for="pack" class="active">{{'PAYMENT_FORMS' | translate}}<span class="asteristo"> * </span></label>
									<select name="pack" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="BuyPoint.idpayment_form" 
											ng-init="BuyPoint.idpayment_form = BuyPoint.idpayment_form || FormasPago[0].idpayment_form" 
											ng-options="item.idpayment_form as item.name_payment_form  for item in FormasPago | orderBy:'name_payment_form'"
											>
									</select>      
								</div >                         
							</div >                        
                    </div>
                    <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<!-- <button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button> -->
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!pointpackform.$valid" ng-click="save(BuyPoint)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'REQUEST' | translate}}</button>
                        	 </div>
						</div>
						</form>
                </div>
            </div>
        
    </modal>
<div class="modal-content">   
                    <div class="modal-header">                                         
                    <h3 class="modal-title">{{'ADD_POINTS' | translate}}</h3>
                   
                    </div>
                    <div >
                     <p class="subtitle-buypoint"> <strong>{{'SUBTITLE_WINPOINT' | translate}}</strong></p>
                     </div>
                    <div class="modal-body">
                    <div class="row">
	
							<div class="col-sm-8"> 
							<table>
						        <tr>
						            <th class="touppercase" style="text-align: left;">{{'ACTION' | translate}}</th>
						            <th class="touppercase" style="padding-left: 80px;">{{'POINT_X_ACTION' | translate}}</th>
						        </tr>
						        <tr ng-repeat="item in funcionalitytosystem ">
						            <td class="td-ecrece-white">{{ item.descFuncionality }}</td>
						             <td class="td-ecrece-white" style="padding-left: 80px;">{{ item.point_plus }}</td>						            
						        </tr>						        
						        <tr ng-repeat="item1 in funcionality ">
						            <td class="td-ecrece-white">{{ item1.descFuncionality }}</td>
						             <td class="td-ecrece-white" style="padding-left: 80px;">{{ item1.point_plus }}</td>						            
						        </tr>
						         <tr>
						            <td class="btn btn-a-ecrece btn-withoutshadow text-capitalize" style="margin: 0px;" ng-click="showmodalpackage()">{{'REQUEST_PACK_POINT' | translate }}</td>						            
						        </tr>
								</table>					 
							</div>
							</div>						
							 
                    </div>
                    <div class="modal-footer">
                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="out()"><span class="glyphicon glyphicon-remove-circle"></span>{{'BACK' | translate}}</button>
                    </div>
        </div>
        </div> 