<br/>
<br/>
<br/>
<br/>
<div class="container" >
<div class="d-flex justify-content-center">
	<h3>{{'CHANGE_NEW_PASS' | translate}}
	</h3>	
</div>
<div class="d-flex justify-content-center">
<div class="col-xs-12 col-sm-4 col-md-4 text-center">
	<form class="form" name="changepassform">
	 <div class="alert alert-danger" ng-show="showmessage">{{ 'BAD_URL' | translate}}</div>
		<div class="md-form ">
			<!-- label for="password">Contraseï¿½a</label -->
		<input type="password" id="password" name="password" maxlength="50"
			class="form-control" ng-model="newpassword" required /> 
		<label for="password">{{'PASSWORD' | translate}}<span class="asteristo"> *</span></label>
		<span class="text-danger" ng-show="passminlength">{{'MIN_LENGTH_PASS' | translate}}</span>
				
		</div>
			<button type="button" title="{{'RESEND_EMAIL' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow" ng-if="!showmessage" ng-click="goforgotpass()">
				<a style="color: #00CCFF;" class="d-flex justify-content-center" >{{'RESEND_EMAIL' | translate}}</a> 
			</button>		
			<button type="button" title="{{'ACCEPT' | translate}}"
						class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!changepassform.$valid || showmessage"
						ng-click="newpass(newpassword)"><span
							class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
				<button type="button" title="{{'HOME' | translate}}"
			class="btn btn-a-ecrece btn-withoutshadow float-right" ng-click="goback()">{{'HOME' | translate}}</button>
	</form>	
</div>
   </div>
</div>
