<br/>
<br/>
<br/>
<br/>
<div class="container" >
<div class="d-flex justify-content-center">
	<h3>{{'ASK_FORGOT_PASSWORD' | translate}}
	</h3>
	
</div>
<div class="d-flex justify-content-center">
<h6 class="col-xs-12 col-sm-4 col-md-4 text-center">{{'DESCRIPTION_FORGOT_PASSWORD' | translate}}
	</h6>
</div>
<div class="d-flex justify-content-center">
<div class="col-xs-12 col-sm-5 col-md-5 text-center">
	<form class="form" name="forgotpassform">
		<div class="alert alert-danger" ng-show="showmessage">{{ 'ERROR_DATA' | translate}}</div>
		<div class="md-form ">
		<input type="email" id="mail" name="mail" maxlength="50"
			class="form-control"
			ng-model="ForgotPass.mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
			 required />
		<label for="mail">{{'MAIL' | translate}} <span class="asteristo"> *</span></label>
		<span class="text-danger"
			ng-show="mailuserempty">{{'MAIL_REQUIRED' | translate}}</span>
		<span class="text-danger"
			ng-show="forgotpassform.mail.$error.pattern">{{'MAIL_BAD' | translate}}</span>
		</div>
			<button type="button" title="{{'SEND_EMAIL' | translate}}"
						class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!forgotpassform.$valid"
						ng-click="sendmailforgot(ForgotPass)"><span
							class="glyphicon glyphicon-floppy-disk"></span>{{'SEND_EMAIL' | translate}}</button>
				<button type="button" title="{{'HOME' | translate}}"
			class="btn btn-a-ecrece btn-withoutshadow float-right" ng-click="goback()">{{'HOME' | translate}}</button>
	</form>	
</div>
   </div>
</div>
