<br/>
<br/>
<br/>
<div class="container" >
<modal title="{{'USER_PROFILE' | translate}}" visible="showModalUser" >
       
             <div class="modal-dialog modal-lg" role="dialog">
                <div class="modal-content">
                 <form class="form" name="registeruserform" novalidate>
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'USER_PROFILE' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closedetailuser()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                      </div> 
                <div class="modal-body ">
					 <div class="row">   
	   					<div class="form-group col-sm-4">							
							 <div class="md-form">
								<label for="mail" class="active">{{'USER_NAME' | translate}}</label>
								<input type="text" class="form-control" ng-model="User.nameUser" maxlength="50" readonly/>					
							</div>						
								<div class="md-form">
									<label for="name" class="active">{{'NAME' | translate}}</label>									
									<input type="text" id="name" name="name" class="form-control" ng-model="User.name" maxlength="50" readonly/>
									
								</div>	
								<div class="md-form">	
									<input type="number" id="phoneUser" name="phoneUser" class="form-control" maxlength="50"ng-pattern="/^[0-9]{1,8}$/" ng-model="User.phoneUser" readonly/>								
									<label for="phone_user" class="active">{{'MOBILE' | translate}}</label>									
									<span class="text-danger" ng-show="registeruserform.phoneUser.$error.pattern">{{'NUMBER_NVALIDATE' | translate}}<br></span> 
								</div>	
								 
					 </div>
					 <div class="form-group col-sm-4">						 					
								<div class="md-form">
									<label for="mail" class="active">{{'MAIL' | translate}}</label>									
									<input type="text"  class="form-control" ng-model="User.mail" maxlength="50" readonly/>
								</div>
								<div class="md-form">
									<input type="text" id="surnameUser" name="surnameUser" class="form-control" maxlength="50" ng-model="User.surnameUser" readonly/>
									<label for="surname" class="active">{{'SURNAME' | translate}}</label>									
								</div>	
								<div class="md-form">
									<label for="sex" class="active">{{'SEX' | translate}}</label>
									<select name="sex" class="form-control input-lg border-left-0 border-right-0 border-top-0 readonly" ng-model="User.sex" ng-disabled="true">
										<option ng-selected="{{item.idsex == User.sex}}"
												ng-repeat="item in Sexs"
												value="{{item.idsex}}">
										{{item.namesex }}
										</option>
									</select>
								</div>
								<div>
								<div class="md-form">
									<label for="rol" class="active">{{'ROL' | translate}}</label>
									<select name="rol" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="User.newrol"									
										ng-options="item.idrol as item.desc_rol for item in Roles">
									</select>
								</div>
								</div>	
												
					 </div>
					  <div class="form-group col-sm-4">	
					 	 <div class="md-form">					
								<label for="bith" class="active">{{'BIRTHDATE' | translate}}</label>
								<input type="text" id="bith" class="form-control" value="{{User.date_bith | date:'dd/MM/yyyy'}}" />
						 </div>		
						  <div class="md-form">
								<label for="sur2name" class="active">{{'SECOND_SURNAME' | translate}}</label>
								<input type="text" id="surname2_user" name="surname2_user" class="form-control readonly" ng-model="User.surname2_user" ng-disabled="true"/>
						 </div>
								<div style="padding-top: 30px;">
								<!-- Default indeterminate -->
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input " id="receivepromotions" ng-model="User.receivepromotions" ng-disabled="true">
								  <label class="custom-control-label" for="receivepromotions">{{'PROMOTION_RECIEVE' | translate}}</label>
								</div>								
								<!-- Default indeterminate -->
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="receiveoffer" ng-model="User.receiveoffer" ng-disabled="true">
								  <label class="custom-control-label" for="receiveoffer">{{'OFFER_RECIEVE' | translate}}</label>
								</div>	
									
									<!-- Default indeterminate -->
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="activateuser" ng-model="User.activateuser" >
								  <label class="custom-control-label" for="activateuser">{{'ACTIVATE_USER' | translate}}</label>
								</div>															
								</div>								
					  </div>
				</div> 

				<div class="modal-footer modal-footer-ecrece">
				<div></div>
				<div>
                        <button type="button" title="{{'SAVE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"  ng-click="modifuser(User)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>
                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"  ng-click="closedetailuser()"><span class="glyphicon glyphicon-floppy-disk"></span>{{'CANCEL' | translate}}</button> 
                    </div>
                    </div>
				</div>
				</form>
                </div>
          </div>
        
    </modal>
    <div class="row">
    <div ng-click="showforauthicate()" class="padding5">
        <button title="{{'NEW' | translate}}" class="btn btn-withoutshadow"  href="#Login" data-toggle="modal" 
										data-target="#Login"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
         <span class="touppercase">{{'REGISTRE_USER' | translate}}</span> 
         
        </div>
        <div class="ml-auto padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div> 
			</div>
        <div class="table-responsive">
   <table class="table-ecrece  table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
			<th>{{'USER_NAME' | translate}}</th>
            <th>{{'NAME' | translate}}</th>
			<th>{{'SURNAME' | translate}}</th>
			<th>{{'MAIL' | translate}}</th>
            <th>{{'USER_STATE' | translate}}</th>
			<th>{{'ACTIONS' | translate}}</th>  
        </tr>
        <tr >
			<td class="width-colum-middel"><input type="search" id="id_search1" class="form-control-ecrece" placeholder="{{'USER_NAME' | translate}}" ng-change="searchnameuser()" ng-model="search_name_user" /></td>
            <td class="width-colum-nameshort"><input type="search" id="id_search2" class="form-control-ecrece" placeholder="{{'NAME' | translate}}" ng-change="searchname()" ng-model="search_name" /></td>
            <td class="width-colum-nameshort"><input type="search" id="id_search_comenttittle1" class="form-control-ecrece" placeholder="{{'SURNAME' | translate}}" ng-change="searchsurName()" ng-model="search_surName" /></td>
            <td class="td-ecrece-white width-colum-mail"><input type="search" id="id_search_comenttittle2" class="form-control-ecrece" placeholder="{{'MAIL' | translate}}"  ng-change="searchemail()" ng-model="search_mail" /></td>
            <td class="td-ecrece-white width-colum-number"><input type="search" id="id_search_comenttittle3" class="form-control-ecrece" placeholder="{{'STATE' | translate}}"  ng-change="searchuserstate()" ng-model="search_userstate" /></td>
           <td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		 
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage]  | orderBy:'nameUser'"> 
       			<td class="td-ecrece-white">{{ item.nameUser }}</td>
			<td class="td-ecrece-white">{{ item.name }}</td>
 			<td class="td-ecrece-white">{{ item.surnameUser }}</td>  
 			<td class="td-ecrece-white">{{ item.mail }}</td> 
 			<td class="td-ecrece-white">{{ item.userState.name_user_state }}</td>         
            <td>
				<div >
                 <button  title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="showdetailuser(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
		  		 </div>
			</td>
        </tr>
        </tbody>
	</table> 
	</div>
		 <tr>
        <div ng-show= "pagedItems.length==0" style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
		<tfoot>
			<div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
        </div>                    
      </tfoot>   
</div>
