<br/>
<br/>
<br/>
<div class="container padding-carddetail" >
<!-- change pass modal inicio -->
<modal title="{{'CHANGE_PASS' | translate}}" visible="showModal" >
       
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                 <form class="form" name="changepassform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'CHANGE_PASS' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>                                              
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageErrorPass">{{'ERROR_DATA' | translate}}</div>                        
                        <div class="container">	                                               
                        <div class="md-form">                          	 
                             <input type="password" id="oldpassword" name="oldpassword" maxlength="50" class="form-control" ng-model="Changepass.oldpassword" required  autofocus/>
                             <label for="oldpassword">{{'OLDPASS' | translate}}<span class="asteristo"> * </span></label>
                             <span class="text-danger" ng-show="changepassform.oldpassword.$dirty && changepassform.oldpassword.$error.required">{{'FIELD_REQUIRED' | translate}}</span>
                        </div>  
                        <div class="md-form">                          	 
                             <input type="password" id="newpassword" name="newpassword" maxlength="50" class="form-control" ng-model="Changepass.newpassword" required />
                             <label for="newpassword">{{'NEWPASS' | translate}}<span class="asteristo"> * </span></label>
                             <span class="text-danger" ng-show="changepassform.newpassword.$dirty && changepassform.newpassword.$error.required">{{'FIELD_REQUIRED' | translate}}</span>
                        </div>   
                        <div class="md-form">                          	 
                             <input type="password" id="repeatpassword" name="repeatpassword" maxlength="50" class="form-control" ng-model="Changepass.repeatpassword" required />
                             <label for="repeatpassword">{{'REPEATPASS' | translate}}<span class="asteristo"> * </span></label>
                             <span class="text-danger" ng-show="changepassform.repeatpassword.$dirty && changepassform.repeatpassword.$error.required">{{'FIELD_REQUIRED' | translate}}</span>
                        </div>
                        </div>                        
                    </div>
                    <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"   ng-disabled="!changepassform.$valid" ng-click="tochangepass(Changepass)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                       </div>
					</div>
					 </form>
                </div>
            </div>
       
    </modal>

<!-- change pass modal fin -->

   <!--  <modal title="Usuarios" visible="showModal"> -->
        <form class="form" name="profileuserform" novalidate>
            <!-- <div class="modal-dialog" role="dialog"> -->
                <div class="modal-content">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'USER_PROFILE' | translate}}</h3>
                       <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="float-right" ><img class="img-fluid"  width=30px; alt="" src="../../img/cerrarmodal.png"></img></span></button> -->
                      </div>                    
                   
                <div class="modal-body ">
					 <div class="row">   
	   					<div class="form-group col-sm-4">
						<div class="alert alert-success" ng-show="verMessage">{{ Message | translate }}</div>
							<div class="alert alert-danger" ng-show="verMessageError"><p ng-bind-html="errorMessage"></p></div>
							<input type="hidden" id="iduser" name="iduser" class="form-control" readonly="readonly" ng-model="RegisterUser.iduser" />
								<div class="md-form">	
									<label for="mail" class="active">{{'USER_NAME' | translate}}</label> 										
									<input type="text" maxlength="50" class="form-control" ng-model="User.nameUser" readonly/>																				
								</div>						
								<div class="md-form">
									<label for="name" class="active">{{'NAME' | translate}}</label>									
									<input type="text" id="name" name="name" class="form-control" maxlength="50" ng-model="User.name" />
									<span class="text-danger"
											ng-show="namemaxlength">{{'MAX_LENGTH' | translate}}</span>								
								</div>	
								<div class="md-form">	
								<input type="text" id="phoneUser" name="phoneUser" maxlength="10" class="form-control" ng-pattern="/^[0-9]{1,8}$/"  ng-model="User.phoneUser" />								
									<label for="phone_user" class="active">{{'MOBILE' | translate}}</label>									
									<span class="text-danger"  ng-show="profileuserform.phoneUser.$error.pattern">{{'NUMBER_NVALIDATE' | translate}}<br></span>
									<span class="text-danger"
											ng-show="phonemaxlength">{{'MAX_LENGTH' | translate}}</span> 
								</div>	
								<div>
								<button type="button" title="{{'CHANGE_PASS' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" 
									ng-click="showchangepass()">{{'CHANGE_PASS' | translate}}</button>
							</div>
                       
					 </div>
					 <div class="form-group col-sm-4">
							<div class="md-form">
								<label for="mail" class="active">{{'MAIL' | translate}}</label>									
								<input type="text"  maxlength="50" class="form-control" id="mail" name="mail" ng-model="User.mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"/>
								<span class="text-danger"
											ng-show="profileuserform.mail.$error.pattern">{{'MAIL_BAD' | translate}}</span>
									<span class="text-danger"
									ng-show="mailmaxlength">{{'MAX_LENGTH' | translate}}</span> 
								
							</div>
								<div class="md-form">
									<input type="text" id="surnameUser" maxlength="50" name="surnameUser" class="form-control" ng-model="User.surnameUser" />
									<label for="surname" class="active">{{'SURNAME' | translate}}</label>
									<span class="text-danger"
									ng-show="surnamemaxlength">{{'MAX_LENGTH' | translate}}</span> 									
								</div>	
							<div class="md-form">	
								<label for="sex" class="active">{{'SEX' | translate}}</label>
								<select name="sex" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="User.sex">
									<option ng-selected="{{item.idsex == User.sex}}"
											ng-repeat="item in Sexs"
											value="{{item.idsex}}">
									{{item.namesex }}
									</option>
								</select>
							</div>
								
					 </div>

					  <div class="form-group col-sm-4">
								<div class="md-form">
							 		<input type="date" id="date_bith" name="date_bith" class="form-control" ng-model="User.date_bith " required/>
									<label for="birthdate" class="active">{{'BIRTHDATE' | translate}}</label>									
									<span ng-show="registeruserform.date_bith.$dirty && registeruserform.date_bith.$error.required">La Fecha Nacimiento es obligatorio</span>
								</div>
								<div class="md-form">								
									<input type="text" id="surname2_user" maxlength="50" name="surname2_user" class="form-control" ng-model="User.surname2_user" />
									<label for="sur2name" class="active">{{'SECOND_SURNAME' | translate}}</label>
									<span class="text-danger"
									ng-show="surnametwomaxlength">{{'MAX_LENGTH' | translate}}</span> 
								</div>
								<div style="padding-top: 30px;">
								<!-- Default indeterminate -->
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="receivepromotions" ng-model="User.receivepromotions" >
								  <label class="custom-control-label" for="receivepromotions">{{'PROMOTION_RECIEVE' | translate}}</label>
								</div>
								
								<!-- Default indeterminate -->
								<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="receiveoffer" ng-model="User.receiveoffer">
								  <label class="custom-control-label" for="receiveoffer">{{'OFFER_RECIEVE' | translate}}</label>
								</div>
								
								</div>
								
					  </div>
				</div> 

				<div class="modal-footer modal-footer-ecrece">
				<div></div>
				<div>
                        <button type="button" title="{{'SAVE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!profileuserform.$valid" ng-click="save(User)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>
                         <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="Out()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button> 
                   </div>
                    </div>
				</div>
                </div>
          
        </form>    
</div>
