/* Styles go here */

.popup-label {
  cursor: pointer;
}
.popup-label p {
  margin: 0;
  padding: 5px 3px;
}
.padding0 {
    padding: 0;
}
.margin0 {
    margin-bottom: 0px;
}
.padding5 {
    padding-left: 5px;
}
.padding3 {
    padding: 3px;
}
.paddingmenu3 {
    padding: 3px !important;
}

.dropdown-item:dropdown-itemPromotions{
	padding-bottom: 0px;
}

.withoutborder {
    border-style:none;
}
.totimepicker input {
    width: 100%;
}

.my-custom-scrollbar {
  position: relative;
  width: 240px;
  max-height: 330px;
  overflow: auto;
}
.my-custom-scrollbar-textareabusiness {
  position: relative;
  width: 707px;
  height: 72px;
  overflow: auto;
}
.material-tooltip-smaller:tooltip-ecrece {
    border-style:none;
}

.popupbottom{
    left: calc(50% - 85px);
    width: 170px;
    position: absolute;
    bottom: -400px;
  /*   bottom: 60px; */
    background: #FFFFFF;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.76, -0.23, 0.14, 1.31);
    box-shadow: 0 0 12px rgba(100, 100, 100, 0.3);
}

.showpopup{
	bottom: 65px;
	   padding-bottom: 20px;
   		 padding-top: 7px;
	  background-color: #fff;
	  border: 1px solid #fff;
	  -webkit-border-radius: 30px;
	  -moz-border-radius: 30px;
	  border-radius: 15px;
	  -webkit-box-shadow: 2px 2px 4px #888;
	  -moz-box-shadow: 2px 2px 4px #888;
	  box-shadow: 2px 2px 4px #888;
}
.card:card-ecrece {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.btn-withoutshadow {
	box-shadow: none;
	webkit-box-shadow: none;	
	padding:0;
}
.btn:not([disabled]):not(.disabled).active,
.btn.btn-withoutshadow:not([disabled]):not(.disabled):active{
	webkit-box-shadow: none;
	box-shadow: none;	
	outline: none;
	/*padding:0;	*/
}

.btn:not([disabled]):not(.disabled).focus,
.btn.btn-withoutshadow:not([disabled]):not(.disabled):focus{
	webkit-box-shadow: none;
	box-shadow: none;	
	outline: none;
	/*padding:0;*/	
}
	
.btn.active > .icon-Belleza {color: #FFC205 ;}	
.btn.active > .icon-Alimentos {	color: #FFC205 ;}	
.btn.active > .icon-Confecciones {color: #FFC205 ;}
.btn.active > .icon-Construccin {color: #FFC205 ;}
.btn.active > .icon-Educacin {color: #FFC205 ;}
.btn.active > .icon-Recreacion {color: #FFC205 ;}
.btn.active > .icon-Tranportacin {color: #FFC205 ;}
.btn.active > .icon-Inmuebles {color: #FFC205 ;}
.btn.active > .icon-Otros {color: #FFC205 ;}
.btn.active > .icon-Flora {color: #FFC205 ;}
		
.navbar-color {
	background-color:#FFF9EB;
}

.btn-withoutshadow:hover{
	webkit-box-shadow: none;
	box-shadow: none;	
	outline: none;
}

#googleMap{
    height:500px; 
    width:500px; 
    box-shadow: 3px 3px 10px gray;
	}
	
	.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
    font-size: 25px;
    padding-left: 10px;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.btncolorecrece {
	color: #00CCFF;
}
    
.rating .filled {
    color: #00CCFF;
}

ul.ecrece{
	color: #00CCFF;
}
a.ecrece{
	color: #00CCFF;
}
    /* .navbar-nav li:hover > ul.dropdown-menu {
    display: block; */
/* } */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    background-color: transparent;     
    border: none; 
      
}

.navbar .dropdown-menu {
    padding: 10px;
    font-size: .9375rem;
    font-weight: 300;
    background-color: #FFF9EB;
    border: none; 
  
}

.thead-ecrece th{color:inherit;
    background-color: #ffe09b }


.th-ecrece {color:inherit;
    background-color: #ffe09b }

.btn-ecrece on{
	color: #00CCFF;
}
.btn-a-ecrece{
	color: #00CCFF;
	text-transform: uppercase;
	text-align: right;
	font-size: 16px;
}
.btn-a-ecreceMenu{
	color: #003746;
	text-transform: uppercase;
	text-align: right;
}

.btn-a-ecreceBotoninicio{
	color: #003746;
	text-transform: uppercase;
	text-align: right;
	text-decoration: underline;
}

.btn-a-ecrece:disabled {
  color   : #D0DBDD;
  opacity: 0.90;
}

.touppercase{
	color: #003746;
	text-transform: uppercase;
	text-align: right;
	font-weight: bold;
	
}
.touppercase:hover {
	color: #red;

}
.btn-amarillo-ecrece on{ background-color: #FFC205;}


.row-ecrece {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #ffe09b;
}

.form-inline-ecrece {
    display: -ms-flexbox;
    display: flex;
    /*   -ms-flex: 0 0 auto;*/
      flex: 0 0 auto;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  /*  -ms-flex-align: center;*/
     align-items: center;
     margin-bottom: 0;
     background-color: #ffe09b;
}

.a-ecrece-footer{
  display: inline-block;
  font-weight: 700 !important;
  color: #003746;
}

.check-horario{
border:2px !important;
background-color:#ff0000 !important;
}

.hasborder { border:1px solid #F00; }

/*Esto  es Inicio  con icomon tipologia*/

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?80jkh9');
    src:  url('./fonts/icomoon.eot?80jkh9#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?80jkh9') format('truetype'),
    url('./fonts/icomoon.woff?80jkh9') format('woff'),
	url('./fonts/icomoon.svg?80jkh9#icomoon') format('svg');	
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family:'Roboto';
    src:url('./fonts/Roboto-Regular.ttf') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Ver-Lineas:before {
  content: "\e934";
}
.icon-Ver-Relleno:before {
  content: "\e935";
}
.icon-Linkedin:before {
  content: "\e936";
}

.icon-DuplicarLineas:before {
  content: "\e900";
}
.icon-DuplicarRelleno:before {
  content: "\e901";
}

.icon-Flecha-Der:before {
  content: "\e902";
}
.icon-Flecha-Izq:before {
  content: "\e903";
}
.icon-Doble-Flecha-Der:before {
  content: "\e904";
}
.icon-Doble-Flecha-Izq:before {
  content: "\e905";
}
.icon-Flecha-Abajo:before {
  content: "\e906";
}
.icon-Flecha-Arriba:before {
  content: "\e907";
}
.icon-Recoleccin:before {
  content: "\e908";
}
.icon-descargar-1:before {
  content: "\e909";
}
.icon-Adicionar:before {
  content: "\e90a";
}
.icon-Belleza:before {	  
  content: "\e90b";
}

.icon-descargar-2:before {
  content: "\e90c";
}
.icon-descargar-3:before {
  content: "\e90d";
}
.icon-descargar-4:before {
  content: "\e90e";
}
.icon-descargar-5:before {
  content: "\e90f";
}
.icon-descargar-6:before {
  content: "\e910";
}
.icon-e-crece:before {
  content: "\e911";
}
.icon-Whatsapp:before {
  content: "\e912";
}
.icon-BuscarMapa:before {
  content: "\e913";
}
.icon-Campo-Obligatorio:before {
  content: "\e914";
}
.icon-CerrarVentana:before {
  content: "\e915";
}
.icon-Compartir:before {
  content: "\e916";
}
.icon-Configuracin:before {
  content: "\e917";
}
.icon-Contrasea:before {
  content: "\e918";
}
.icon-EditarLineas:before {
  content: "\e919";
}
.icon-EditarRelleno:before {
  content: "\e91a";
}
.icon-EliminarLineas:before {
  content: "\e91b";
}
.icon-EliminarRelleno:before {
  content: "\e91c";
}
.icon-eMail:before {
  content: "\e91d";
}
.icon-EstrellaRellena:before {
  content: "\e91e";
}
.icon-EstrellaVacia:before {
  content: "\e91f";
}
.icon-Facebook:before {
  content: "\e920";
}
.icon-FacebookLineas:before {
  content: "\e921";
}
.icon-Instagram:before {
  content: "\e922";
}
.icon-InstagramLineas:before {
  content: "\e923";
}
.icon-MasOpciones:before {
  content: "\e924";
}
.icon-RepetirContrasea:before {
  content: "\e925";
}
.icon-SeparadorMenu:before {
  content: "\e926";
}
.icon-Twitter:before {
  content: "\e927";
}
.icon-TwitterLineas:before {
  content: "\e928";
}
.icon-Usuario:before {
  content: "\e929";
}
.icon-Alimentos:before {
  content: "\e92a";
}
.icon-Confecciones:before {
  content: "\e92b";
}
.icon-Construccin:before {
  content: "\e92c";
}
.icon-Educacin:before {
  content: "\e92d";
}
.icon-Flora:before {
  content: "\e92e";
}
.icon-Inmuebles:before {
  content: "\e92f";
}
.icon-Otros:before {
  content: "\e930";
}
.icon-Recreacion:before {
  content: "\e931";
}
.icon-Tranportacin:before {
  content: "\e932";
}
.icon-Whatsapp1:before {
  content: "\e933";
}

/*Fin con tipologia*/



/*colores iconos tipologia en hover*/
.icon-DuplicarLineas:hover{
  color: #00CCFF;
}

.icon-Doble-Flecha-Izq:hover {
   color: #00CCFF;
}
.icon-Doble-Flecha-Der:hover {
   color: #00CCFF;
}
.icon-Configuracin:hover {   
    color: #00CCFF;
}
.icon-Compartir:hover {   
   color: #00CCFF;
}
.icon-Flecha-Izq:hover {
   color: #00CCFF;
  }
.icon-Flecha-Arriba:hover {
   color: #00CCFF;
}
.icon-Flecha-Der:hover{
  color: #00CCFF;
}

.icon-EstrellaRellena {
  color: #00CCFF;
}

.icon-Facebook:hover {
   color: #00CCFF;
}

.icon-Twitter:hover {
   color: #00CCFF;
}
.icon-Instagram:hover {
   color: #00CCFF;
}


.icon-Construccin:hover{
  color: #003746;
}
.icon-Confecciones:hover {
   color: #003746;
}
.icon-Belleza:hover{ 
	 color: #003746;
}
.icon-Alimentos:hover {
    color: #003746;
}

.icon-Educacin:hover {
 	color: #003746;
}
.icon-Flora:hover {
   color: #003746;
}
.icon-Inmuebles:hover {
 color: #003746;
}
.icon-Otros:hover {
    color: #003746;
}
.icon-Recoleccin:hover {
	color: #003746;
}
.icon-Recreacion:hover {
 	color: #003746;
}
.icon-Tranportacin:hover {
 	color: #003746;
}

/*colores iconos tipologia*/
.icon-EliminarLineas:before {
  color: #003746;  
}
.icon-EliminarRelleno:before {
  color: #003746;  
}

.icon-EditarRelleno:before {
  color: #003746;  
}
.icon-Ver-Lineas {
  color: #003746;  
}
.icon-Ver-Relleno {
   color: #003746;  
}

.icon-DuplicarLineas {
  color: #003746;  
}
.icon-DuplicarRelleno {
  color: #003746;  
}

.icon-Flecha-Izq {
  color: #003746;  
}
.icon-Flecha-Arriba {
  color: #003746; 
}
.icon-Flecha-Der {
  color: #003746;
}

.icon-Doble-Flecha-Izq {
    color: #003746;
}
.icon-Doble-Flecha-Der {
     color: #003746;
}

.icon-Belleza{  
  font-size: 56px; 
  color: #D0DBDD;
}
.icon-Alimentos {
   font-size: 56px; 
   color: #D0DBDD;
}
.icon-Confecciones {
   font-size: 56px; 
   color: #D0DBDD;
}

.icon-Construccin { 
   font-size: 56px; 
   color: #D0DBDD;
}
.icon-Educacin {
   font-size: 56px; 
	color: #D0DBDD;
}
.icon-Flora {  
   font-size: 56px;   
  color: #D0DBDD;
}
.icon-Inmuebles { 
  font-size: 56px; 
  color: #D0DBDD;
}
.icon-Otros { 
  font-size: 56px; 
  color: #D0DBDD;
}
.icon-Recoleccin {  
    font-size: 56px; 
	color: #D0DBDD;
}
.icon-Recreacion { 
  font-size: 56px;  
  color: #D0DBDD;
}
.icon-Tranportacin { 
   font-size: 56px;  
   color: #D0DBDD;
}
.inicio-fondocategorias button{
  	padding: 0 5px; 
}

.icon-descargar-1 {  
  color: #00f;
}
.icon-descargar-2 {
    color: #00f;
}
.icon-descargar-3{  
  color: #00f;
}
.icon-descargar-4 { 
  color: #00f;
}
.icon-descargar-5 {
 
  color: #00f;
}
.icon-descargar-6 { 
  color: #003746;
}
.icon-e-crece {
  color: #003746;
}

.icon-Adicionar {
    color: #003746;
}
.icon-BuscarMapa {   
    color: #003746;
}
.icon-Campo-Obligatorio {   
    color: #0cf;
}
.icon-CerrarVentana {   
    color: #0cf;
}
.icon-Compartir {   
    color: #003746;
}
.icon-Configuracin {   
    color: #003746;
}
.icon-Contrasea {  
    color: #003746;
}

.icon-FacebookLineas { 
   color: #0cc2f0;
}

.icon-InstagramLineas{   
    color: #0cc2f0;
}
.icon-RepetirContrasea {    
    color: #0cf;
}
.icon-SeparadorMenu {    
    color: #0cf;
}
.icon-SeparadorMenuBlanco {   
    color: #ffffff;
}

.icon-TwitterLineas {   
    color: #0cc2f0;
}
.icon-Usuario {   
    color: #003746;
}

.icon-Whatsapp {
   color: #003746;
}

.icon-Instagram {
   color: #003746;
}
.icon-Twitter {
   color: #003746;
}
.icon-Facebook {
   color: #003746;
}

.columns { 
	columns: 2;
}
.columns1 { 
	columns: 2;
	background-color: #ffe09b
}


.minh-100 {
  height: 40vh;
}

.form-ecrece {
    background-color: #FFF9EB ;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

.view{
    background-color: #FFF9EB ;
}

.droplist {
  color:#000000;
  text-align:left;
}

.droplist-hover {
    pointer-events: none;
    background-color: unset !important;
    color: unset !important;
}
.ax_default {
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#333333;
  text-align:center;
  line-height:normal;
}

.form-control-ecrece {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    font-style:normal;
    border: 1px solid #EAEEEF;
    background-color: transparent;	
    background-clip: padding-box;
    margin-right: 10px;
    color: #CDD7DA !important;
}

.select:required:invalid {
  color: gray;
}
.option[value=""][disabled] {
  display: none;
}
.option {
  color: black;
}

.form-control-ecreceSearch {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;   
    border: 0px;
    background-color: white;	
    background-clip: padding-box;
    margin: 0 0 15px;
    border-radius: 0; 

}
.table-ecrece {
    width:98%;
    margin-bottom:1rem;
    color:#212529;
    border-collapse: collapse;
}

.td-ecrece-white {
    border-right: 1px solid #dee2e6;
    border-right-color: #ffffff !important;
}

.td-ecrece-blue {
    border-right-color: #003746 !important;

}
.tr-ecrece-bodered {
    border: 1px solid #dee2e6 !important;
    border-right-color: #003746 !important;

}
.text-center-ecrece {
    text-decoration-color: #003746;
    text-align: center !important;
}
.alert-success-ecrece {
    color: #155724;
    background-color: #F2FBFF;
    border-color: #00ccff;
}
.bg-light{background-color:#D0DBDD!important}

.asteristo{
color: #00ccff;
text-align: left;
}

.div-align-center {
  align-items: center;
 
}

.div-descarga-home {
  border:10px !important;
  border-color: #ffffff !important;
  border-style: solid !important; 
  border-width: 4px !important;
  width: 80%;
  height: 80%;
  align-content: center;
  text-align: center;
  padding: 15px 0;
}
.div-descarga-home h2{
	font-size: 1.5rem;
	margin: 0 0 15px;
}

#u39 {
    border-width: 0px;
    position: absolute;
    left: 367px;
    top: 350px;
    width: 100%;
    height: 85px;
    display: flex;
    background-color: #FFE09B;
}

.boton-descarga
{
	background-color: #FFC205;
	margin: 0;
}
.modal-footer.modal-footer-ecrece{
	 justify-content: space-between; 
	background-color:rgba(0,0,0,.05);
	padding-top: 0%; 
	padding-bottom: 0%;
}
.modal-footer.modal-footer-inicioecrece{
	justify-content: space-around;
	background-color:rgba(0,0,0,.05);
	padding-top: 0%; 
	padding-bottom: 0%;
	border-top: none;
}
.md-form.md-form-ecrece:focus{
    box-shadow: 0 1px 0 0 #00CCFF;
    border-bottom: 1px solid #00CCFF;
}
.md-form.md-form-ecrece{
    box-shadow: 0 1px 0 0 #00CCFF;
    border-bottom: 1px solid #00CCFF;
}

.modal-header-ecrece {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  border-bottom: 1px solid #FFE09B;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.paginado-ecrece {	
	color: #003746;
	text-align: center;
	padding-bottom: 20px;
}
.droplist-init{
  border: 0px;
  background-color: #FFF9EB;  
}

.contenedor{
  height: 30px;
  width: 150px;  
}

.botonEdit,.botonDelete{
  visibility: hidden; 
}

.contenedor:hover .botonEdit{
  visibility: visible;
}
.contenedor:hover .botonDelete{
  visibility: visible;
}

.spantext{
  color: #CDD7DA;  
  text-transform: uppercase;
 }



.grid {
	 display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}


.space{
	padding-top:10%;
}

.construccionImg {
  display: none;
  
}
.construccionImg.show {
  display: block;
}


.inicio-fondocategorias{
    padding: 15px;  
    background-color: white;
    justify-content: center;
    margin: 0 0 25px;
}
.inicio-fondocategoriassearch {
    	 padding: 15px;  
	    background-color: white;
	    justify-content: center;
	    margin: 0 0 25px;
	}
	
.inicio-search{
    padding: 15px; 
    background-color: #FFE09B;
}
	

/**
 * Timepicker Styles
 **/
.timepicker {
  margin-bottom: 25px;
}
.timepicker.ng-invalid {
  margin-bottom: 0;
}
.timepicker.ng-invalid > input {
  background: #ffc8c8;
  border-color: red;
}
.timepicker.ng-invalid + .error-list {
  display: inline-block;
  position: relative;
  padding: 0 4px;
  top: -5px;
  font-size: 14px;
  line-height: 1.40;
  color: white;
  background: red;
}
.timepicker-dropdown {
  position: absolute;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  min-width: 140px;
  max-height: 150px;
  overflow: auto;
  z-index: 1000;
  -webkit-user-select: none;
  user-select: none;
}
.timepicker-dropdown > .item {
  text-align: right;
  line-height: 1.35;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  /*    &:hover {
      background: @grayLighter;
    }*/

}
.timepicker-dropdown > .item.selected {
  background: #f0f0f0;
}

.my-fixed-item {
       position: fixed;
    text-align: center;
    bottom: 24px;
    z-index: 999;
    right: 24px;

}
.tooltip-inner {
	background-color: transparent !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
 	 color: #003746;
}

.tooltip.top .tooltip-arrow {
	padding:0%;
  	border-top-color: transparent;
}

.tooltip.right .tooltip-arrow {
	padding:0%;
  	border-right-color: transparent;
}

.tooltip.bottom .tooltip-arrow {
	padding:0%;
 	 border-bottom-color: transparent;
}

.tooltip.left .tooltip-arrow {
  padding:0%;
  border-left-color: transparent;
}


/* boton comico */
.text-center {
			text-align: center;
			color: #003746;
}
.flex-auto {
	flex: auto;
}
.boton-container {
	position: fixed;
	z-index: 997;
	right: 52px;
	bottom: 24px;
}
.boton-circle {
	    width: 80px;
		height: 80px;
		border-radius: 100px;
		background-color: #eae8e3;
		position: relative;
		z-index: 999;
		display: flex;
		align-items: center;
		font-size: 22px;
		border: solid 3px #e29d48;
		color: #e29d48;
	
}
.boton-circle-animated {
	background-color: #deb98c;
	z-index: 998;
	position: absolute;
	border-radius: 100px;
	width: 80px;
	height: 80px;
	left: calc(50% - 40px);
	top: calc(50% - 40px);
	animation-name: pulse;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		width: 80px;
		height: 80px;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
	}

	10% {
		width: 100px;
		height: 100px;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
	}

	20% {
		width: 80px;
		height: 80px;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
	}

	30% {
		width: 100px;
		height: 100px;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
	}

	40% {
		width: 80px;
		height: 80px;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
	}

	50% {
		width: 100px;
		height: 100px;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
	}

	60% {
		width: 80px;
		height: 80px;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
	}

	100% {
		width: 80px;
		height: 80px;
		left: calc(50% - 40px);
		top: calc(50% - 40px);
	}
}
.navbar.scrolling-navbar{
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.icon-e-crece {
    position: relative;
    top: -18px;
}
.navbar .navbar-toggler{
	position: relative;
    top: -18px;
}
form.form-header{
	padding: 45px 0 0;
	-moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.inicio-search{
	margin: 0 0 25px;
}
.inicio-search input,
.inicio-search select{
	width: 100% !important;
	max-width: 100%;
}
.map-view.map-opened{
		margin: 0 0 25px;
	}
.angular-openlayers-map{
	margin: 0;
	background: #D0DBDD;
}
header.masthead{
	-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

header.masthead1 {
    padding-top: 25px;
    padding-bottom: 25px;
}
header.masthead1 section{
	padding-top: 0;
}
header.masthead1 .btn img{
	margin: 0 auto 25px;
}
header.masthead1 .btn:last-child img{
	margin: 0 auto;
}
.section-three{
	padding: 25px 0;
}
.section-three .full-width{
	max-width: 100%;
	width: 100%;
}/*
.section-three .full-width div{
	max-width: 100%;
}*/
.section-three h1{
	font-size: 1.5rem;
	margin-bottom: 25px;
}
.card-deck div:last-child .card{
	margin-bottom: 0;
}
header.masthead3 {
    padding-top: 25px;
    padding-bottom: 25px;
}
header.masthead3 section{
	padding-top: 0;
}
footer.footer {
    padding-top: 25px;
    padding-bottom: 100px;
}
footer.footer .my-auto ul li.list-inline-item{
	display: block;
}

section-three .card-deck{
	display: block !important;
	margin: 0 !important;
	flex-flow: unset !important;
	flex-direction: unset !important;
}

.card-deck .card{
	margin-left: 0;
	margin-right: 0;
}

/* social-network-icons*/

.social-network-icons{
	padding: 1rem 0 0;
}
.social-network-icons ul{
	margin-bottom: 0;
}

.map-view{
	overflow: hidden;
	height: 400px;
	max-height: 0;
	-moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.map-view.map-opened{
	max-height: 400px;
}

/* hamburger*/

.hamb{
	position: relative;
}
.hamb .nav-icon{
    width: 30px;
    height: 25px;
    cursor: pointer; 
}
.hamb .nav-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #003746;
    opacity: 1;
    left: 0;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out; 
}
.hamb .nav-icon span:nth-child(1){
    top: 0px; 
}
.hamb .nav-icon span:nth-child(2){
    top: 10px; 
}
.hamb .nav-icon span:nth-child(3){
    top: 20px; 
}
.hamb .nav-icon.o span:nth-child(1){
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); 
}
.hamb .nav-icon.o span:nth-child(2){
    opacity: 0;
    left: -60px; 
}
.hamb .nav-icon.o span:nth-child(3){
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); 
}
.width-colum-action{
	width: 140px;
	min-width: 160px;
    text-align: center;
}
.width-colum-number{
	min-width: 100px;
}
.width-colum-middel {
    min-width: 230px;
}
.width-colum-name{
	min-width: 250px;
}
.width-colum-nameshort{
	min-width: 190px;
}
.width-colum-desc{
	min-width: 360px;
}
.width-colum-mail{
	min-width: 215px;
}
.width-colum-date{
	min-width: 60px;
}
.aling-center-check{
	align-items: center;
	display: flex;
}
.aling-center-input{
	flex: auto; 
	padding-left: 10px;
}
.padding-bodycard{
	    padding: 1.5rem 1.25rem;
}
.padding-carddetail{
	padding-bottom: 20px;
    padding-top: 20px;
}
.select-subcategory{
	display: grid; 
	width: 100%; 
	grid-template-columns: 1fr 1fr;
}
.bottom-search-color{
	color: white;
}
.paddingmapsm {
    padding-bottom: 15px;
	}
.padding-login-columnoneboton{
		padding-top: 5%;
	} 
.padding-login-columnoneregister{
	padding-top: 5%;
} 

.padding-login-columnthree{
	height: 25vh;
}
.padding-botomnback {
    padding-right: 0px;
    padding-left: 105px;
}
.detail-font{
	font-size: 25px
}
.tfhours-paddingleft{
	margin-left: 20px;
}
.color-link, a.color-link{
	color:#00CCFF !important;
	cursor: pointer;
}
.paddingtop-img{
	padding-top: 10px;
}
.colortext-inlogin{
	color: #00CCFF !important;
	cursor: pointer;
}

.subtitle-buypoint {
	padding-left: 15px;
	margin-bottom: 0px;
}
.btncomic-option {
	font-size: 16px;
	font-weight: bold;
}
.btncomic-subtitle {
	font-size: 14px;
	font-weight: bolder;
}
.btncomic-paddingleft {
	padding-left: 8px;
}
.btncomic-fontsize {
	font-size: 14px;
}
.alingcenter-btn {
	text-align: center;
}
.alingforgotpass {
	display: flex;
    justify-content: flex-end;
}
.marginbottom-modalbusinesnoti {
	margin-bottom: 0px;
}
.paddingspan-modalbusinesnoti{
	    padding-right: 15px;
}
textarea.md-textarea-scroll{
  overflow-y: visible;
}
textarea.md-textarea {
  padding: 0;
  resize: none;
  min-height: 3rem;
  overflow-y: visible !important;
}
.stwo-a{
	background: white; 
	color: #003746 !important;
}
.stwo-h3{
	padding-top: 5px; 
	font-size: 20px;
}
.stwo-h6{
	font-size: 14px; 
	color: #AAAAAA !important;
}
.notwrap-navbar{
	white-space: normal;
}
.stylediv-login{
	height: 240px; 
    margin: 10px;
    overflow-y: auto;
}
.stylebaged{
	top: -5px !important;
	margin-left: 0px;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
     -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.pdingleft-modal-notif-busi{
	    padding-left: 20px;
}
.put-black-text{
	font-weight: bold;
}
.pding-left-detailbusi{
	    padding-left: 15px;
}


#menu-fix{
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	display: none;
}
#menu-fix.o{
	z-index: 2;
	display: block;
}

.content-index{
	position: relative;
	z-index: 1;
	padding: 40px 0 0;
	background-color: #FFF9EB;
}

.fixed-top{
	-moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.fixed-top.modal-opened{
	top: -600px;
	-moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}

body{
	margin: 0;
}
.pding-general{
	position: relative;
	padding: 50px 0 0;
}

.margin0-detailbusi {
    margin: 0px;
}
.margin10-detailbusi-reser{
	 margin-left: 10px;
}
.leaflet-routing-container-hide .leaflet-routing-collapse-btn{
    left: 2px;
    top: 0px;
    
}
.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error{
	    max-height: 180px;
}
.leaflet-routing-container, .leaflet-routing-error{	
    width: 270px;
}
.aling-btn-left-busidet{
	flex-flow: row-reverse;
}
.pding-topdown-dir{
	padding: 10px 0px;
}
.sizemapa{
	 width: 600px;
    height: 400px;
    position: relative;
}
.modal-open .modal {
    background: rgba(0,0,0,.8);
}
.spinner-loading{
	position: fixed; 
	width: 100%; 
	height: 100%; 
	background-color: #fff; 
	top: 0; 
	left: 0;  
	z-index: 10000;
}
.class-foravg{
	display: flex;
    font-weight: bolder;
    align-items: center;
}

.pding-left-boxsearch{
	    padding-left: 30px;
}
.bgcomentcard{
	background-color: #fff9eb;
}
.circulo {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: #00CCFF;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 25px;
}

.pding-menus{
	padding: 3px !important;
}
.font-subcate-modalbusinesnoti{
	color: #495057;
    font-weight: bolder;
}
/* .circulo > p {
	color: #003746;
	font-size: 1.5rem;
	font-weight: bold;
} */

/* responsive*/

@media (max-width: 767px){
	.navbar{
		max-height: 60px;
	}
	.inicio-search div.col-6{
		width: auto;
		max-width: 50%;
	}
	.boton-circle-animated{
		width: 65px;
		height: 65px;
	}
	.boton-circle{
		width: 60px;
		height: 60px;
		font-size: 18px;
	}
	.boton-container {
	    right: 52px;
	    bottom: 20px;
	}
	.paddingleft20 {
    padding-left: 20px;
	}
	 .grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
	} 
	.select-subcategory{
	display: inline; 
	width: 100%; 
	grid-template-columns: 1fr 1fr;
	}
	form.form-headersearchlist {
    padding: 25px 0 0;
	}
	.paddingmapsm {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
	}
	/* .angular-openlayers-map div canvas{
		width: auto !important;
		height: auto !important;
	} */
	.padding-botomnback {
	    padding-right: 0px;
	    padding-left: 15px;
	}
	.padding-sm-botomback{
		padding-left: 0px;
	}
	.pding-left{
		padding-left: 20px;
	}
	.pding-left-detailbusi{
	    padding-left: 35px;
}
	
}
@media (max-width: 991px){
	.navbar-collapse {
		border-top: 1px solid #D0DBDD;
	    background: #FFF9EB;
	    width: 100%;
	    top: 60px;
	    position: fixed;
	    left: 0;
	    height: auto;
	    padding: 25px 0;
	}
	.navbar .nav-flex-icons{
		flex-direction: column;
		text-align: center;
	}
	.navbar .nav-flex-icons select{
		margin: 0 auto;
	}
	.navbar .nav-flex-icons .touppercase{
		text-align: center;
	}
	.inicio-search .btn{
		margin: 0;	
	}
	.botonEdit,.botonDelete{
	  visibility: visible;
	}		
}
@media (min-width: 768px){
	header.masthead {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	.navbar.scrolling-navbar{
		padding-top: 12px;
		padding-bottom: 12px;
		max-height: 68px;
	}
	.icon-e-crece {
	    position: relative;
	    top: -18px;
	}
	.navbar .navbar-toggler{
		position: relative;
	    top: -18px;
	}
	form.form-header{
		padding: 45px 0 0;
	}
	.inicio-search{
	    padding: 2% 8%; 
	    margin: 0 0 45px;
	}
	.inicio-search div{
		width: auto;
	}
	.form-control-ecreceSearch {
	    margin: 0;
	}
	.inicio-fondocategoriassearch {
   	    padding: 1%;
   		margin: auto;
	}
	.inicio-fondocategorias{
	    padding: 2%;
	    margin: auto;  
	}
	header.masthead1 {
	    padding-top: 45px;
    	padding-bottom: 45px;
	}
	header.masthead1 .btn{
		margin: .375rem;
	}
	.section-three h1{
		font-size: 2rem;
		margin-bottom: 45px;
	}
	header.masthead3 {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	.div-descarga-home h2{
		font-size: 2rem;
	}
	footer.footer {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	
	footer.footer .my-auto ul li.list-inline-item{
		display: inline-block;
	}
	.section-three{
		padding: 45px 0;
	}
	.map-view.map-opened{
		margin: 0 0 45px;
	}
	.angular-openlayers-map{
		margin: 0;
	}
	.grid {
	    display: list-item;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 5px;
	}	
	.modal-dialog {
    max-width: 700px;
	}
	.padding-login-columnoneboton{
		padding-top: 35%;
	}
	.padding-botomnback-funcionality {
	    padding-right: 0px;
	    padding-left: 115px;
	} 
		
}
@media (min-width: 992px){
	header.masthead {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	.icon-e-crece {
	    position: static;
	    top: auto;
	}
	.navbar.scrolling-navbar{
		max-height: 10000px;
	}
	.navbar .navbar-toggler{
		position: static;
	    top: auto;
	}
	form.form-header{
		padding: 200px 0 0;
	}
	form.form-header.map-opened{
		padding: 65px 0 0;
		
	}
	header.masthead.map-opened{
		background-position: top center;	
	}
	.form-control-ecreceSearch {
	    margin: 0 10px 0 0;
	}
	header.masthead1 {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
	footer.footer {
	    padding-top: 4rem;
	    padding-bottom: 4rem;
	}
	.div-descarga-home{
		text-align: left;
		max-width: 700px;	
	}
	.div-descarga-home h2{
	text-align: center;
		line-height: 48px;
		margin: 0;
	}
	form.form-headersearchlist {
    padding: 25px 0 0;
	}
	.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
	}	
	.padding-login-columnthree {
    height: 25vh;
	}
	.padding-botomnback {
    	padding-right: 0px;
	    padding-left: 80px;
	}
	.padding-botomnbackdetail {
        padding-right: 0px;
    	padding-left: 210px;
	}
	.padding-botomnback-funcionality {
	    padding-right: 0px;
	    padding-left: 150px;
	}
	.modal-dialog {
     max-width: 800px; 
	}
	 
}
@media (min-width: 1200px){
	header.masthead {
	    margin-top: 40px;
	   padding-top: 0px;
  		padding-bottom: 0px;
	}
	form.form-header{
		padding: 315px 0 0;
	}
	header.masthead1 {
	    padding-top: 8rem;
	    padding-bottom: 7rem;
	}
	.inicio-search {
	    padding: 2% 5%;
	    margin: 0 auto 45px;
	    max-width: 840px;
	}	
	.inicio-fondocategorias{
		max-width: 900px;
		position: relative;
		z-index: 10;
		 margin: 0 auto -45px;
		 padding: 1%;
	}
	.inicio-fondocategorias button{
		    margin: 0.6rem;
	}
	.map-view.map-opened{
		margin: 0 0 45px;
	}
	.angular-openlayers-map{
		max-width: 900px;
		margin: 0 auto;
	}
	.section-three h1{
		font-size: 2.5rem;
	}	
	.inicio-fondocategoriassearch {
	max-width: 900px;
    	position: relative;
	}
	.inicio-fondocategoriassearch button{
		padding: 0 8px;
	}
	.padding-login-columnthree {
    height: 35vh;
	}
	.padding-botomnback {
    	padding-right: 0px;
	    padding-left: 105px;
	}
	.padding-botomnback-promotion {
	    padding-right: 0px;
	    padding-left: 138px;
	}
	.padding-botomnback-funcionality {
	    padding-right: 0px;
	    padding-left: 178px;
	}
	.map-opened{
		padding-top: 45px 0 0;
	}
}
@media (min-width: 1600px){
	.container {
	    max-width: 1300px;
	}
	header.masthead1 .container {
	    max-width: 945px;
	}
	.section-three .container {
	    max-width: 1300px;
	}
	.navbar.scrolling-navbar{
		padding-left: 5rem;
		padding-right: 5rem;
	}
}
@media (min-width: 1920px){
	.container {
	    max-width: 1600px;
	}
}
.sizemodalmap{
    max-width: 640px;
}
.class-spinnermap{
	 position: absolute; 
	width: 100%; 
	height: 100%;  
	background-color: #fff; 
	top: 0; 
	left: 0;  
	z-index: 10000;
}
.maxheigforroute{
	max-height: 64px;
}
