<!-- index.html -->
<!DOCTYPE html>
<html lang="{{ lang }}" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/" />
	<title>Ecrece</title>
	<link th:href="@{/./vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	
		<!-- Bootstrap core CSS -->
	<link th:href="@{/./css/mdb/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/mdb/css/mdb.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/angularjs-toast.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/angular-moment-picker.min.css}" rel="stylesheet" type="text/css">
	<!-- Custom fonts for this template -->
	<link th:href="@{/./vendor/simple-line-icons/css/simple-line-icons.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/landing-page.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/mdb/css/addons/fullcalendar.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/fullcalendar.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/calendarDemo.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/ol.min.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/./js/ol.min.js}"></script>
	<link th:href="@{/./css/leaflet.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/leaflet-routing-machine.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/./js/leaflet.js}"></script>	
	<script th:src="@{/./js/Leaflet.Icon.Glyph.js}"></script>
	<script th:src="@{/./js/leaflet-routing-machine.js}"></script>	
	<link th:href="@{/./css/animate.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/sweetalert.css}" rel="stylesheet" type="text/css">
	 
	<link th:href="@{/./css/style.css}" rel="stylesheet" type="text/css">
	<style>
		  #map { 
		  widh: 50px;
		  height: 600px; }
	 </style>
<!-- End ng-app & container -->

</head>
<!-- apply our angular app to our site -->
<body class="bg-light">
	<!-- menu fix -->
	<div id="menu-fix"></div>
		<!-- Spinner -->
<div id="page-loading" class="spinner-loading">
   <img style="display: block; margin: 0 auto; top: 40%; position: relative;" th:src="@{/./img/loadspinner.gif}">
</div>
<!-- NAVIGATION -->
<!--Navbar -->
<nav class=" mb-1 navbar navbar-expand-lg fixed-top scrolling-navbar  navbar-color" ng-controller="navbarController">
	<button class="btn btn-withoutshadow nav-link waves-effect waves-light padding0"  title="{{'ECRECE_SLOGAN' | translate}}" ui-sref="home">
          <span class="icon-e-crece"  style="font-size:80px;"></span>
        </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation" >
	    <div class="hamb">
	        <div class="nav-icon">
	            <span></span>
	            <span></span>
	            <span></span>
	        </div>
	    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">    
    <ul class="navbar-nav ml-auto nav-flex-icons">
     <li class="nav-item" ng-show="logueado() ">
	        <!--Notification-->
					<div class="dropdown">				
					  <!--Trigger-->
					  <button class="btn btn-withoutshadow" type="button" id="dropdownMenu2" data-toggle="dropdown"
					    aria-haspopup="true" aria-expanded="false" title="{{'MY_NOTIFICATION' | translate}}"><img style="width: 22px;"  src="" th:src="@{/./img/campananotif.png}"/><span class="badge badge-warning stylebaged">{{ListNoti.length}}</span>
					    </button>				
					  <!--Menu-->
					   <div class="dropdown-menu my-custom-scrollbar" style="padding: .0rem 0;">				  
					     <a class="dropdown-item notwrap-navbar" ng-repeat="item in ListNoti" ng-click="goDetailNoti(item)" >
					   					    <div><strong>{{item.subject_notification}}</strong>
					    </div>
					    <div class="dropdown-divider" style="margin: .1rem 0;"></div>
					    </a>
					  </div>
					</div>
					<!--/Dropdown primary-->	        
	    </li>
	    <li class="nav-item" ng-show="ListPromo.length>0">
	        <!--Dropdown primary-->
					<div class="dropdown">				
					  <!--Trigger-->
					  <button class="btn btn-a-ecrece btn-withoutshadow dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
					    aria-haspopup="true" aria-expanded="false" title="{{'PROMOTION_ACTIVE' | translate}}">{{'PROMOTIONS' | translate}}<span class="badge badge-warning ml-2">{{ListPromo.length}}</span> 
					    </button>				
					  <!--Menu-->
					  <div class="dropdown-menu my-custom-scrollbar" style="padding: .0rem 0;">	
					   <div><strong>{{'RECENT' | translate}} </strong></div>			  
					    <a class="dropdown-item" ng-repeat="item in ListPromo" ng-click="gopromotion(item)" >
					   					    <div><strong>{{item.business.name_business}}</strong><br>{{item.title_promotion}} ...
					    </div>
					    <div class="dropdown-divider" style="margin: .1rem 0;"></div>
					    </a>
					  </div>
					</div>
					<!--/Dropdown primary-->	        
	    </li>
	     <li class="nav-item" ng-show="ListOffer.length>0">
	        <!-- Dropdown primary -->
					<div class="dropdown">				
					 <!--  Trigger -->
					  <button class="btn btn-a-ecrece btn-withoutshadow dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
					    aria-haspopup="true" aria-expanded="false" title="{{'OFFER_ACTIVE' | translate}}">{{'OFFERS' | translate}}<span class="badge badge-warning ml-2">{{ListOffer.length}}</span> 
					    </button>				
					 <!--  Menu -->
					  <div class="dropdown-menu my-custom-scrollbar" style="padding: .0rem 0;">	
					   <div><strong>{{'RECENT' | translate}} </strong></div>	
					   <a class="dropdown-item" ng-repeat="item in ListOffer" ng-click="gooffer(item)" >
					   					    <div><strong>{{item.business.name_business}}</strong><br>{{item.nameOffer}} ...
					    </div>
					    <div class="dropdown-divider" style="margin: .1rem 0;"></div>
					    </a>	
					  </div>
					</div>
					<!-- /Dropdown primary -->	        
	    </li> 	    
		<li class="nav-item">
        <a class="nav-link waves-effect waves-light touppercase"
          ng-show="!logueado()" href="#Login" data-toggle="modal"
								data-target="#Login" title="{{'LOGIN' | translate}}">{{'LOGIN' | translate}}
        </a>
	  </li>	  	 
	  <li class="nav-item">	
	  <button  class="btn btn-transparent btn-withoutshadow touppercase" style="font-size: 1rem;" ng-show="logueado() && numberbusiness > 1 " ng-click="navegateto('/businessUser')" title="{{'MY_BUSINESSS' | translate}}">
						{{'MY_BUSINESSS' | translate}}
				</button >	
      </li>
	  <li class="nav-item">
	  <button  class="btn btn-transparent btn-withoutshadow touppercase" style="font-size: 1rem;" ng-show="logueado() && numberbusiness === '1'" ng-click="myonlybusiness()" title="{{'MY_BUSINESS' | translate}}">
						{{'MY_BUSINESS' | translate}}
				</button >	
	      </li>
      <li class="nav-item dropdown" ng-show="logueado()"> 
				<button  class="btn btn-transparent btn-withoutshadow touppercase"  style="font-size: 1rem;" id="navbarDropdownMenuLink-222" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false" >
						<div style="display: inline-flex; align-items: center;" title="{{'USER_ECRECE' | translate}}"><span class="icon-Usuario"
													style="font-size:20px; margin-right: 5px;"></span>{{nameUser}}</div>
				</button >
				<div class="dropdown-menu dropdown-menu-left dropdown-default"
					aria-labelledby="navbarDropdownMenuLink-222">
					<a class="dropdown-item pding-menus" ng-click="navegateto('/userprofile')" title="{{'USER_DATE' | translate}}">{{'USER_PROFILE' | translate}}<span
												class="sr-only"></span></a>
					<a class="dropdown-item pding-menus"   ng-click="logout()" title="{{'CLOSE_SESSION' | translate}}">{{'LOGOUT' | translate}}<span
										class="sr-only"></span></a>												
				</div>
      </li>
	  	 	 
	  <li class="nav-item dropdown" ng-show="logueado()">
        <a class="nav-link dropdown-toggle" title="{{'ACTION' | translate}}" id="navbarDropdownMenuLink-3331" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <!-- <i class="icon-Configuracin" style="font-size:20px;"></i> -->
          <img style="width: 22px;"  src="" th:src="@{/./img/iconacion.svg}"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default my-custom-scrollbar"
          aria-labelledby="navbarDropdownMenuLink-3331">
		<a  class="dropdown-item paddingmenu3"  ng-click="navegateto('/reservations')" title="{{'RESERVATIONS' | translate}}">{{'RESERVATIONS' | translate}}<span
											class="sr-only"></span></a>
		<a  class="dropdown-item paddingmenu3"   ng-click="navegateto('/promotions')" title="{{'PROMOTIONS' | translate}}">{{'PROMOTIONS' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/offers')" title="{{'OFFERS' | translate}}">{{'OFFERS' | translate}}<span
											class="sr-only"></span></a>	
		<a  class="dropdown-item paddingmenu3"   ng-click="navegateto('/coments')" title="{{'COMENTS' | translate}}">{{'COMENTS' | translate}}<span
											class="sr-only"></span></a>										
		<a class="dropdown-item paddingmenu3"   ng-click="navegateto('/notifications')" title="{{'NOTIFICATIONS' | translate}}">{{'NOTIFICATIONS' | translate}}<span
									class="sr-only"></span></a>	
		<a  class="dropdown-item paddingmenu3"  ng-click="navegateto('/ratings')" title="{{'RATINGS' | translate}}">{{'RATINGS' | translate}}<span
												class="sr-only"></span></a>
		<a  class="dropdown-item paddingmenu3"  ng-click="navegateto('/jobs')" title="{{'JOBS' | translate}}">{{'JOBS' | translate}}<span
												class="sr-only"></span></a>
		<a  class="dropdown-item paddingmenu3"  ng-click="navegateto('/jobsoffers')" title="{{'JOBS_OFFERS' | translate}}">{{'JOBS_OFFERS' | translate}}<span
												class="sr-only"></span></a>
		<a ng-show="logueado() && roleadmin()" class="dropdown-item paddingmenu3" 
											ng-click="navegateto('/businessFuncionality')" title="{{'FUNCIONALITY_ACTIVE' | translate}}">{{'FUNCIONALITY_ACTIVE' | translate}}<span
												class="sr-only"></span></a>	
		<a ng-show="logueado() && roleadmin()"	class="dropdown-item paddingmenu3"  ng-click="navegateto('/workusers')" title="{{'USERS' | translate}}">{{'USERS' | translate}}<span class="sr-only"></span></a>										
        </div>
      </li>
	  
	  <li class="nav-item dropdown" ng-show="logueado() && roleadmin()">
        <a class="nav-link dropdown-toggle" title="{{'CONFIGURATION' | translate}}" id="navbarDropdownMenuLink-3332" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" role="button">
          <i class="icon-Configuracin" style="font-size:20px;"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default dropdown-info my-custom-scrollbar"
          aria-labelledby="navbarDropdownMenuLink-3332" >          
        
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/category')" title="{{'CATEGORY' | translate}}">{{'CATEGORY' | translate}}<span
											class="sr-only">(current)</span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/country')" title="{{'COUNTRY' | translate}}">{{'COUNTRY' | translate}}<span
											class="sr-only"></span></a>	
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/notificationtype')" title="{{'NOTIFICATIONS_TYPE' | translate}}">{{'NOTIFICATIONS_TYPE' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3" ng-click="navegateto('/notificationstate')" title="{{'NOTIFICATION_STATE' | translate}}">{{'NOTIFICATION_STATE' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/usersStates')" title="{{'USER_STATES' | translate}}">{{'USER_STATES' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/businessStates')" title="{{'BUSINESS_STATES' | translate}}">{{'BUSINESS_STATES' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"   ng-click="navegateto('/paymentForms')" title="{{'PAYMENT_FORMS' | translate}}">{{'PAYMENT_FORMS' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/subcategories')" title="{{'SUBCATEGORYS' | translate}}">{{'SUBCATEGORYS' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/provinces')" title="{{'PROVINCES' | translate}}">{{'PROVINCES' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/municipality')" title="{{'MUNICIPALITIES' | translate}}">{{'MUNICIPALITIES' | translate}} <span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/roles')" title="{{'ROLS' | translate}}">{{'ROLS' | translate}} <span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/funcionalities')" title="{{'FUNCIONALITIES' | translate}}">{{'FUNCIONALITIES' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3" ng-click="navegateto('/pointpackage')" title="{{'POINT_PACKAGES' | translate}}">{{'POINT_PACKAGES' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3" ng-click="navegateto('/listuser')" title="{{'LIST_USER' | translate}}">{{'LIST_USER' | translate}}<span
		class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/configuration')" title="{{'CONFIGURATION' | translate}}">{{'CONFIGURATION' | translate}} <span
											class="sr-only"></span></a>									
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/schedulejoboffer')" title="{{'SCHEDULE_JOB_OFFER' | translate}}">{{'SCHEDULE_JOB_OFFER' | translate}}<span
											class="sr-only"></span></a>	
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/schoollevel')" title="{{'SCHOOL_LEVEL' | translate}}">{{'SCHOOL_LEVEL' | translate}}<span
											class="sr-only"></span></a>	
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/contracttype')" title="{{'CONTRACT_TYPE' | translate}}">{{'CONTRACT_TYPE' | translate}}<span
											class="sr-only"></span></a>
		<a class="dropdown-item paddingmenu3"  ng-click="navegateto('/professionalexperience')" title="{{'PROFESSIONALEXPERIENCE' | translate}}">{{'PROFESSIONALEXPERIENCE' | translate}}<span
											class="sr-only"></span></a>		
        </div>
      </li>
	  <li class="nav-item dropdown" title="{{'LANGUAGE' | translate}}">
        <select name="language" ng-model="Language.name_languaje" class="bg-transparent nav-link dropdown-toggle withoutborder"
								ng-init="Language.name_languaje = Language.name_languaje || Lenguajes[0].name_languaje"
								ng-options="item.name_languaje as item.name_languaje for item in Lenguajes"
								ng-change="changeLanguage(Language.name_languaje)">
							</select>
      </li>
      <!-- Descargar aplicacion movil 
		<li class="nav-item">		
        <a class="nav-link waves-effect waves-light">
          <span class="icon-descargar-6" style="font-size:20px;"></span>
        </a>       
	  </li>  -->        
         <li class="nav-item dropdown" title="{{'SHARE_ECRECE' | translate}}">
	        <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink-compartir" data-toggle="dropdown"
	          aria-haspopup="true" aria-expanded="true">
	          <i class="icon-Compartir" style="font-size:20px;"></i>
	        </a>
	        <div class="dropdown-menu"   aria-labelledby="navbarDropdownMenuLink-compartir">
			  <a class="dropdown-item" href="https://www.facebook.com/E-Crece-APP-115450939814510" style="padding: 6px;"><span class="icon-Facebook" style="font-size:20px;"></span></a>													
	       	  <a class="dropdown-item" href="https://twitter.com/e-Crece" style="padding: 6px; back"><span class="icon-Twitter" style="font-size:20px;"></span></a>													
       		  <a class="dropdown-item" href="https://www.instagram.com/" style="padding: 6px;"  ><span class=" icon-Instagram" style="font-size:20px;"></span></a>													
       		 </div>     
      </li >	
      
      <li class="nav-item" title="{{'INVITE_FRIEND' | translate}}">
     	 <a class="nav-link waves-effect waves-light touppercase" ng-show="logueado()" ng-click="invite()">
     	 	<span style="display: inline-flex; align-items: center;"><img style="width: 22px;"   id="idimag" src="" th:src="@{/./img/usuarios.png}"/></span></a>
      </li>	
    </ul>
  </div>
</nav>
<!--/.Navbar -->

	<!--Inicio Modal Login  -->
	<div class="container "  ng-controller="LoginController">
		<modal title="{{'LOGIN' | translate}}" visible="showModal" id="Login">			
				<div class="modal-dialog modal-lg" role="dialog">
					<div class="modal-content">
						<div class="modal-header-ecrece">
							<h3 class="modal-title" ng-show="autentication">{{'LOGIN' | translate}}</h3>
							<h3 class="modal-title" ng-show="!autentication">{{'REGISTER_USER' | translate}}</h3>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana" style="font-size:10px;"></span></button>
						</div>
						<div class="row">												
							<div class="col-xs-12 col-sm-3 col-md-3 text-center">
							<div ng-show="islogin()">	
								<div class="d-flex justify-content-center padding-login-columnoneboton">
									<label for="access" class="spantext">{{'ACCESS_WITH' | translate}}</label>	
								</div>														
								<div class="d-flex justify-content-center">	
									<span class="icon-FacebookLineas" style="font-size:36px;padding-right: 5%;"></span>&nbsp;&nbsp;
									<span class="icon-InstagramLineas" style="font-size:36px;padding-right: 5%;"></span>&nbsp;&nbsp;
									<span class="icon-TwitterLineas" style="font-size:36px;"></span>								
								</div> 	
								<div>
								<div class="d-flex justify-content-center padding-login-columnoneregister" ng-if="autentication">
									<a class="btn text-center-ecrece btn-withoutshadow " href=""  ng-click = "changelogin()"
												>{{'REGISTRE' | translate}}
												<span class="icon-Flecha-Der" style="font-size:12px;"></span></a>
													
								</div>
								<div class="d-flex justify-content-center padding-login-columnoneregister" ng-if="!autentication">
									<a class="btn text-center-ecrece  btn-withoutshadow" href=""  ng-click = "changelogin()"
												>{{'LOGIN' | translate}}
												<span class="icon-Flecha-Der" style="font-size:12px;"></span></a>
													
								</div>	
								</div>
								</div>					
							</div>
							<div class="col-xs-12 col-sm-12 col-md-5">
								<!-- INICIO COLUMNA DEL MEDIO  -->
								
								<div class="modal-body" >
									<div ng-if="autentication">
									<form class="form" name="loginform">
									<div class="alert alert-danger" ng-show="verMessageError">
										{{ errorMessage | translate }}</div>
											
									<div class="md-form" style="padding-top: 0px;">
										<!-- label for="nameUser">Nombre Usuario</label -->
										<input type="text" id="username1" name="username1"  maxlength="50"
											class="form-control"  ng-model="UserLogin.username1" required autofous>
										<label for="username1">{{'USER' | translate}} <span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="userempty">{{'USER_NAME_REQUIRED' | translate}}</span>
										
										</div>		
										<div class="md-form">
											<!-- label for="password">Contraseï¿½a</label -->
										<input type="password" id="password1" name="password1" maxlength="50"
											class="form-control" ng-model="UserLogin.password1" required /> 
										<label for="password1">{{'PASSWORD' | translate}}<span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="passempty">{{'PASSWORD_REQUIRED' | translate}}</span>
											</div>
										<a  class="alingforgotpass colortext-inlogin" ng-click="goforgotpass()">{{'FORGOT_PASSWORD' | translate}}</a>	
										
										<div class="modal-footer-inicioecrece">
											<button type="button" title="{{'SAVE' | translate}}"
												class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!loginform.$valid"
												ng-click="loguearse(UserLogin)"><span
													class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>											
										</div>
										
										<!-- fIN COLUMNA DEL MEDIO  -->																	
									
									</form>
									</div>
									<div ng-if="!autentication">
										<form class="form" name="registeruserform">
									<div class="alert alert-danger" ng-show="verMessageError">
										{{ errorMessage | translate }}</div>
									<input type="hidden" id="iduser" name="iduser" class="form-control"
										readonly="readonly" ng-model="RegisterUser.iduser" />
									<div class="md-form-ecrece">	
									<div class="md-form" style="padding-top: 0px;"  title="{{'USER' | translate}}">									
										<input type="text" id="nameUser" name="nameUser" maxlength="50"
											class="form-control"	ng-model="RegisterUser.nameUser"  required />
										<label for="nameUser">{{'USER' | translate}} <span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="nameUserempty">{{'USER_NAME_REQUIRED' | translate}}</span>
										<span class="text-danger"
											ng-show="exituser">{{'USER_NAME_EXISTS' | translate}}</span>
									</div>
										<!-- label for="email">Correo Electronico</label -->
										<div class="md-form" title="{{'MAIL' | translate}}">
										<input type="email" id="mail1" name="mail1"
											class="form-control" maxlength="50"
											ng-model="RegisterUser.mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
											 required />
										<label for="mail1">{{'MAIL' | translate}} <span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="mailuserempty">{{'MAIL_REQUIRED' | translate}}</span>
										<span class="text-danger"
											ng-show="registeruserform.mail1.$error.pattern">{{'MAIL_BAD' | translate}}</span>
										</div>
										<!-- label for="password">Contraseï¿½a</label -->
										<div class="md-form" title="{{'PASSWORD' | translate}}">
										<input type="password" id="password" name="password" maxlength="50"
											class="form-control" ng-model="RegisterUser.password" required />
										<label for="password">{{'PASSWORD' | translate}} <span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="passuserempty">{{'PASSWORD_REQUIRED' | translate}}</span>
										<span class="text-danger"
											ng-show="passminlength">{{'MIN_LENGTH_PASS' | translate}}</span>
																						
										</div>
										<div class="md-form" title="{{'PASSWORD_REPEAT' | translate}}">
										<input type="password" id="password2" name="password2" maxlength="50"
											class="form-control" ng-model="RegisterUser.password2"	required />
											<label for="password2">{{'PASSWORD_REPEAT' | translate}} <span class="asteristo"> *</span></label>
											<span class="text-danger"
										ng-show="reppassempty">{{'PASSWORD_REQUIRED' | translate}}</span>
										<span class="text-danger"
											ng-show="showunequal">{{'NOT_EQUAL_PASS' | translate}}</span>
										</div>
										<div class="md-form" title="{{'BIRTHDATE' | translate}}">
										<!--  label for="dateBith">Fecha Nacimiento</label-->
										<input type="date" id="date_bith1" name="date_bith1" class="form-control border-left-0 border-right-0 border-top-0"
											ng-model="RegisterUser.date_bith" max="{{today | date:'yyyy-MM-dd'}}"  required />
											<label for="date_bith1"  style="padding-top: 10px;">{{'BIRTHDATE' | translate}} <span class="asteristo"> *</span></label>									
										<span class="text-danger"
											ng-show="dateempty">{{'BIRTHDATE' | translate}}</span>
										</div>
										<div class="md-form" ng-show="roleadmin()" >
											<select name="rol" ng-model="RegisterUser.rol" class="form-control input-lg border-left-0 border-right-0 border-top-0"
												ng-init="RegisterUser.rol = RegisterUser.rol || Roles[0].idrol"
												ng-options="item.idrol as item.desc_rol for item in Roles | orderBy: 'idrol'">
											</select>
											<span class="text-danger" ng-show="noselected()">{{Messageerror | translate}}</span>
										</div>
										<div class="custom-control custom-checkbox mb-4" title="{{'TERM_COND_A' | translate}}">
											<input type="checkbox" class="custom-control-input" id="accept" ng-model="RegisterUser.accept">
											<label class="custom-control-label" for="accept" ></label>
											<span class="colortext-inlogin" ng-click="openterm()" >{{'TERM_COND_A' | translate}}</span>
										</div>
										<div class="modal-footer-inicioecrece">
												<button type="button" title="{{'SAVE' | translate}}"
												class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!registeruserform.$valid || (!RegisterUser.accept)"
												ng-click="existnameuser(RegisterUser)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>											
										</div>										
										<!-- fIN COLUMNA DEL MEDIO  -->
										</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-4">
							<div ng-show="islogin()" class="stylediv-login ">
							<p class="margin0 text-center"><strong>{{'BENEFITS' | translate}}</strong></p>
								<!-- <div class="row justify-content-center align-items-center padding-login-columnthree"> -->
								<p class="margin0"><strong>{{'BENEFITS_NEWS_TITLE' | translate}}</strong></p>	
								<p >{{'BENEFITS_NEWS' | translate}}</p>	
								<p class="margin0"><strong>{{'BENEFITS_NEWS_ONE_ONE' | translate}}</strong></p>							
								<p>{{'BENEFITS_NEWS_ONE' | translate}}</p>
								<p class="margin0"><strong>{{'BENEFITS_NEWS_TWO_ONE' | translate}}</strong></p>
								<p >{{'BENEFITS_NEWS_TWO' | translate}}</p>
								<p >{{'BENEFITS_NEWS_THREE' | translate}}</p>
								<!-- </div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
					</modal>
	</div>
	<!-- Fin Modal Login  -->
	
	<!-- Inicio Invitar Amigo  -->
	<div class="container" ng-controller="InviteController">
	<modal title="{{'INVITE' | translate}}" visible="showModal" id="Invite">        
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                <form class="form" name="inviteform" >
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'INVITE' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
					</div>
                    <div class="modal-body">  
						<div class="container">	
						<!-- E-mail -->
						<div class="md-form">
										<input type="email" id="mail" name="mail" maxlength="50"
											class="form-control"
											ng-model="Invite.mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
											 required />
										<label for="mail">{{'MAIL' | translate}} <span class="asteristo"> *</span></label>
										<span class="text-danger"
											ng-show="mailuserempty">{{'MAIL_REQUIRED' | translate}}</span>
										<span class="text-danger"
											ng-show="inviteform.mail.$error.pattern">{{'MAIL_BAD' | translate}}</span>
										</div> 
							<div class="md-form">  
								<label for="desc_invite" class="active">{{'DESCRIPTION' | translate}}</label>
								<textarea rows="" cols="" id="desc_invite" maxlength="255" name="desc_invite" class="md-textarea form-control"
									ng-model="Invite.desc_invite" ></textarea>
							</div>
						</div>						                 
                        </div>
                    <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label >{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!inviteform.$valid" ng-click="save(Invite)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
						</div>
                    </div>
                    </form>
                </div>
            </div>
        
    </modal>
	</div>
<!-- Fin Invitar Amigo -->

<div class="container" ng-controller="RouteController">
    <modal title="{{'ROUTE' | translate}}" visible="showModalRoute" id="ShowRoute" class="animated fadeInRight">        
            <div class="modal-dialog sizemodalmap" role="dialog">
                <div class="modal-content">
                <form class="form" name="inviteform" >
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'ROUTE_TO' | translate}}<span ng-if="shownamebusi">{{Business.name_business}}</span><small class="text-muted">({{Business.dir_business}})</small> </h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click=CerrarModalRoute()><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
					</div>
                    <div class="modal-body">
                    <h5>{{'YOUR_POSITION' | translate}}</h5>	
	                    <div id="idspinner-loadingmap"  class="class-spinnermap">
					   <img style="display: block; margin: 0 auto; top: 40%; position: relative;" th:src="@{/./img/loadspinner.gif}">
					</div>  
					<div id="mapid" class="sizemapa"></div>                   	              					                 
                       </div>                        
                    <div class="modal-footer modal-footer-ecrece">
						<div>
						</div>
						<div>							
							<button type="button" title="{{'CALC_ROUTE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="nomoreclik" ng-click="calroute()"><span class="glyphicon glyphicon-floppy-disk"></span>{{'CALC_ROUTE' | translate}}</button>
						</div>
                    </div>
                    </form>
                </div>
            </div>
        
    </modal>
    
    </div>

<!--  <div class="content-index">   -->
<div class="pding-general">
	<!-- MAIN CONTENT -->
	<div class="boton-container" ng-controller="navbarController" title="{{'POINT_USE' | translate}}">
		<div ng-show="logueado()" ng-click="showpopuo()">
			<div class="boton-circle">
				<span class="text-center flex-auto">{{ptosUser}}</span>
			</div>
			<div class="boton-circle-animated" ></div>
			<div class="popupbottom" ng-class="{'showpopup': toshowpopup == true}" style="background-color: #FFF9EB">
				<div class="btncomic-paddingleft">
					<a class="btncomic-option Botoninicio"><strong>{{'OPTION' | translate}}</strong></a>
					<div><a class="btncomic-subtitle">{{'HEAT_BOTON' | translate}}</a></div>
					<div> <a class="btncomic-fontsize colortext-inlogin" ng-click="buypoint()">{{'PICTURE_THREE' | translate}}</a> </div>					
					<div> <a class="btncomic-fontsize colortext-inlogin" ng-click="invite()">{{'INVITE_FRIED' | translate}}</a></div>					
					<div><a class="btncomic-subtitle">{{'HALF_BOTON' | translate}}</a></div>
					<div> <a class="btncomic-fontsize colortext-inlogin" ng-click="buyfuncionality()">{{'FUNCIONALITY_ACTIVE' | translate}}</a></div>
				</div>				
			</div>	
		</div>
	</div>
		<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
	<div ui-view   class="view"></div>


<!-- Fin Invitar Amigo -->
<!-- Footer -->
<footer class="footer bg-light text-center">

	<div class="container align-content-center">

		<div class="div-align-center">
			<div class="row">
				<div class="col-lg-12 h-100 text-center text-lg-center my-auto">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#" class="a-ecrece-footer">{{'BLOG' | translate}}</a>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<span class="icon-SeparadorMenuBlanco"  style="font-size:15px;"></span>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<a href="#" class="a-ecrece-footer">{{'APLICATION' | translate}}</a>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<span class="icon-SeparadorMenuBlanco"  style="font-size:15px;"></span>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<a href="#" class="a-ecrece-footer">{{'TERM_COND' | translate}}</a>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<span class="icon-SeparadorMenuBlanco"  style="font-size:15px;"></span>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<a href="#" class="a-ecrece-footer">{{'MAP' | translate}}</a>
						</li>
						<li class="list-inline-item mr-1 ml-1 d-none">
							<span class="icon-SeparadorMenu"  style="font-size:15px;"></span>
						</li>
						<li class="list-inline-item mr-1 ml-1">
							<a href="#" class="a-ecrece-footer">{{'HELP' | translate}}</a>
						</li>
					</ul>
					<p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
				</div>
			</div>
		</div>
		<div class="div-align-center social-network-icons">
			<ul class="list-inline">
				<li class="list-inline-item waves-effect waves-light">
					<a href="https://www.facebook.com/sharer/sharer.php?u=www.ecrece.cu">
						<span class="icon-Facebook" style="font-size:36px;"></span></a>
				</li>
				<li class="list-inline-item waves-effect waves-light">
					<a href="https://twitter.com/home?status=www.ecrece.cu" >
						<span class="icon-Twitter" style="font-size:36px;"> </span></a>
				</li>
				<li class="list-inline-item waves-effect waves-light">
					<a href="">
						<span class="icon-Instagram" style="font-size:36px;"> </span></a>
				</li>
				<li class="list-inline-item waves-effect waves-light">
					<a href="">
						<span class="icon-Whatsapp" style="font-size:36px;"> </span></a>
				</li>
			</ul>
		</div>
	</div>
</footer>

   </div>   
  
 <!-- Bootstrap core JavaScript -->
 	<script th:src="@{/./css/mdb/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/./css/mdb/js/popper.min.js}"></script>
	<script th:src="@{/./css/mdb/js/bootstrap.min.js}"></script>
	<script th:src="@{/./css/mdb/js/mdb.min.js}"></script>
	<script th:src="@{/./css/mdb/js/addons/moment.min.js}"></script>
	<script th:src="@{/./css/mdb/js/addons/fullcalendar.min.js}"></script>
	<!-- mapa  -->
	
	<script th:src="@{/./js/angular.min.js}"></script>
	<!-- JS (load angular, ui-router, and our custom js file) -->	
	<script th:src="@{/./js/angular-ui-router.min.js}"></script>
	<script th:src="@{/./js/angular-sanitize.min.js}"></script>
	<script th:src="@{/./js/angular-translate.min.js}"></script>
	<script th:src="@{/./js/angular-translate-loader-static-files.min.js}"></script>
	<script th:src="@{/./js/angular-translate-handler-log.js}"></script>
	<script th:src="@{/./js/angular-cookie.js}"></script>
	<script th:src="@{/./js/angular-translate-storage-cookie.js}"></script>
	<script th:src="@{/./js/angular-translate-storage-local.js}"></script>
	<script th:src="@{/./js/angular-messages.min.js}"></script>
	<script th:src="@{/./js/angular-route.js}"></script>
	<script th:src="@{/./js/angular-animate.min.js}"></script>
	<script th:src="@{/./js/angularjs-toast.min.js}"></script>
	<script th:src="@{/./js/ui-bootstrap-tpls.js}"></script>
	<script th:src="@{/./js/angular-simple-logger.js}"></script>
	<script th:src="@{/./js/moment-with-locales.js}"></script>
	<!-- <script th:src="@{/./js/moment.js}"></script> -->
	<script th:src="@{/./js/fullcalendar.min.js}"></script>
	<script th:src="@{/./js/gcal.js}"></script>
	<script th:src="@{/./js/calendar.js}"></script>	
	
	<script th:src="@{/./js/angular-openlayers-directive.js}"></script>
	<link th:href="@{/./css/angular-openlayers-directive.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/./css/ol.min.css}" rel="stylesheet" type="text/css">
    
    <script th:src="@{/./js/sweetalert.min.js}"></script>
    
	<script th:src="@{/./js/angular-moment-picker.min.js}"></script>
	<script th:src="@{/./js/app.js}"></script>	
	<script th:src="@{/./js/appnomencladores.js}"></script>	
	<script th:src="@{/./js/appbusiness.js}"></script>	
	<script th:src="@{/./js/appnotification.js}"></script>	
	<script th:src="@{/./js/appcoment.js}"></script>
	<script th:src="@{/./js/appoffer.js}"></script>	
	<script th:src="@{/./js/apppromotion.js}"></script>	
	<script th:src="@{/./js/appreservation.js}"></script>	
	<script th:src="@{/./js/appclasifications.js}"></script>	
	<script th:src="@{/./js/appjob.js}"></script>	
	<script th:src="@{/./js/calendarDemo.js}"></script>
		
	<script type="text/ng-template" id="timepicker.tpl.html">
    <div class="timepicker">
      <label>{{ labelText }}</label><br>
      <input type="text" ng-model="theTime"
             time-input render-on-blur render-on-enter>
      <div ng-show="showingChoiceList" class="timepicker-dropdown" ng-cloak>
        <div ng-repeat="time in choiceTimes" class="item" id="d{{ time | dateToTimestamp }}"
              ng-click="setTime(time)" ng-class="{ selected: isSelectedTime(time) }">
          {{ time | date:"shortTime" }}
        </div>
      </div>
    </div>

  </script>  
  	<script type="text/javascript">
	     document.addEventListener("DOMContentLoaded", function(event) {
	        /*VANILLA JAVASCRIPT*/
	         var element = document.getElementById("page-loading");
	         
	        /* OR WITH jQuery*/
	        function Mensaje(){
	        	element.style.display = "none";
	        	
	        	/*element.parentNode.removeChild(element);
	        	 $('#page-loading')
	            .fadeOut('slow') */
	        }
	        window.setTimeout(Mensaje,3000);
	         
	    }); 
	</script>
	<script>
// Add active class to the current button (highlight it)
$('.inicio-fondocategorias button.btn').click(function(){
	$('.inicio-fondocategorias button.btn').removeClass('active');
	$(this).addClass('active');
})

$('.btn-show-map').click(function(){
	$('form.form-header,header.masthead').toggleClass('map-opened');
});
$('.hamb').click(function(){
	$('.hamb .nav-icon, #menu-fix').toggleClass('o');
});

$('#menu-fix').click(function(){
	$('.navbar-collapse').removeClass('show');
	$('.hamb .nav-icon, #menu-fix').removeClass('o');	
});
$(document).on('click', '.formodals-show', function(){
	$('.fixed-top').addClass('modal-opened');
});
$(document).on('click', '.formodals-hide', function(){
	$('.fixed-top').removeClass('modal-opened');
});
 $(document).on('click', '.bg-light', function(){
	if ($('.popupbottom').hasClass('showpopup')){
		 $('.popupbottom').removeClass('showpopup'); 
    }else{        
    }
});
	
 
</script>
	</body>
</html>
