<br/>
<br/>
<br/>
<div class="container" >
          <!-- Grid column -->
	  <div >
	
	    <!--Panel-->
	    <div class="text-center">
	    <div >
	      <h3>{{'REGISTER_CONFIRMATION' | translate}}</h3>
	    </div>
	    <div class="card-body">
	    	<div class="alert alert-danger" ng-show="message">{{'URL_INVALID' | translate}}</div>
	      <h5 >{{'THANKS' | translate}}</h5>
	      <p class="card-text"> {{'BOTTOMTHANKS' | translate}}
	      </p>
	    </div>
	    <div >	
	    <button type="button"  class="btn btn-a-ecrece btn-withoutshadow"
						ng-disabled='todisabled' ng-click="finishregistration()"	>{{'ACCEPT' | translate}}</button>  
						<button type="button" title="{{'HOME' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="gohome()">{{'HOME' | translate}}</button>	
	    </div>
	  </div>
	  <!--/.Panel-->
	
	</div>
	<!-- Grid column -->
</div>
