<br/>
<br/>
<br/>
<div class="container">    
    <div class="form-inline" >
         <div >			 
			 <span class="touppercase">{{'PROMOTIONS' | translate}}: </span><span class="touppercase" ng-show="busi.name_business.length > 0" > ({{busi.name_business}})</span>
		</div> 
        <div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
	        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
	        </div>	  	   
    </div>   
     <div class="table-responsive"> 
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'PROMOTION_TITLE' | translate}}</th>
            <th>{{'PROMOTION_CODE' | translate}}</th>
            <th>{{'FUNC_DAYS' | translate}}</th>
            <th>{{'PROMOTION_DATE_START' | translate}}</th>
            <th>{{'PROMOTION_DATE_END' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
       <tr >
            <td class="width-colum-name"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'PROMOTION_TITLE' | translate}}" ng-change="searchtitle()" ng-model="search_promotiontitle" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'PROMOTION_CODE' | translate}}" ng-change="searchcodigo()" ng-model="search_promotioncode" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'FUNC_DAYS' | translate}}" ng-model="search_promotiondays" /></td>
			<td class="width-colum-date"><input type="date" id="date" class="form-control-ecrece md-date validate"  placeholder="{{'DATE_START' | translate}}" ng-change="searchdstar()"  ng-model="search_promotiondatestart"></td>
			<td class="width-colum-date"><input type="date" id="date1" class="form-control-ecrece md-date validate" placeholder="{{'DATE_END' | translate}}" ng-change="searchdend()"  ng-model="search_promotiondateend"></td>
			<td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] | filter: { daysPromotion: search_promotiondays}">
            <td class="td-ecrece-white">{{ item.title_promotion }}</td>
            <td class="td-ecrece-white">{{ item.codePromotion }}</td>
            <td class="td-ecrece-white" >{{ item.daysPromotion }}</td>
            <td class="td-ecrece-white" >{{ item.date_start_promotion | date:'dd-MM-yyyy'}}</td>
            <td class="td-ecrece-white" >{{ item.date_end_promotion  | date:'dd-MM-yyyy'}}</td>
           
            <td class="width-colum-action">
                 <div >
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idpromotion)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>                 
                 </div>					
				</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>