<br/>
<br/>
<br/>
<div class="container">
    <modal title="{{'PROMOTIONS' | translate}}" visible="showModal">
     
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                   <form class="form" name="promotionform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'PROMOTION' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError">{{errorMessage | translate}}</div>
                        <input type="hidden" id="idpromotion" name="idpromotion" class="form-control" readonly="readonly" ng-model="Promotion.idpromotion" />
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">									 
								<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="daysPromotion" class="active">{{'PROMOTION_DAYS' | translate}}<span class="asteristo"> * </span></label>
										<input type="number" id="daysPromotion" min="0" name="daysPromotion" class="form-control" ng-change="changedateend()" ng-model="Promotion.daysPromotion"/>										
										<span class="text-danger" ng-show="promotionform.daysPromotion.$dirty && promotionform.daysPromotion.$error.required">{{'PROMOTION_DAYS_REQUIRED' | translate}}</span>
										<span class="text-danger" ng-show="lesszero">{{'PROMOTION_DAYS_NOTZERO' | translate}}</span>
									</div>
								</div>
								<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="codePromotion" ng-if="Promotion.codePromotion.length == 0">{{'PROMOTION_CODE' | translate}}<span class="asteristo"> * </span></label>
										<label for="title_promotion" ng-if="Promotion.codePromotion.length > 0" class="active">{{'PROMOTION_CODE' | translate}}<span class="asteristo"> * </span> </label>
										<input type="text" id="codePromotion" name="codePromotion"  maxlength="100" class="form-control" ng-model="Promotion.codePromotion" required/>
										<span class="text-danger" ng-show="promotionform.codePromotion.$dirty && promotionform.codePromotion.$error.required">{{'PROMOTION_CODE_REQUIRED' | translate}}</span>
									</div>
								</div>
								</div>		
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group col-sm-12">
									<div class="md-form">
									   <label for="dateStartPromotiony" class="active">{{'PROMOTION_DATE_START' | translate}}<span class="asteristo"> * </span></label>
										<input type="date" id="dateStartPromotion" name="dateStartPromotion"
											class="form-control"
											ng-model="Promotion.date_start_promotion" min="{{today}}" ng-change="changedateend()" required />
										<span class="text-danger"
											ng-show="promotionform.dateStartPromotion.$dirty && promotionform.dateStartPromotion.$error.required">{{'PROMOTION_DATE_START_REQUIRED' | translate}}</span>																	 
									</div>
								</div>
								  <div class="form-group col-sm-12" >
								 	 <div class="md-form" >
										<label for="date_end_promotion"  class="active">{{'PROMOTION_DATE_END' | translate}}<span class="asteristo"> * </span></label>										
										<input type="date" id="date_end_promotion" disabled name="date_end_promotion"
												class="form-control "
												ng-model="Promotion.date_end_promotion" min="{{today}}" required/>									
								 	 </div>
								  </div>
							</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="md-form">
								<label for="title_promotion"
									ng-if="Promotion.title_promotion.length == 0">{{'PROMOTION_TITLE'
									| translate}}<span class="asteristo"> * </span>
								</label> <label for="title_promotion"
									ng-if="Promotion.title_promotion.length > 0" class="active">{{'PROMOTION_TITLE_REQUIRED'
									| translate}}<span class="asteristo"> * </span>
								</label> <input type="text" id="title_promotion" name="title_promotion"
									class="form-control" maxlength="100"
									ng-model="Promotion.title_promotion" /> <span
									class="text-danger"
									ng-show="promotionform.title_promotion.$dirty && promotionform.title_promotion.$error.required">{{'PROMOTION_TITLE_REQUIRED'
									| translate}}</span>

							</div>
						</div>
						</div>	
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group  col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="md-form"> 
								<textarea rows="2" cols="" id="desc_promotion"
									name="desc_promotion" class="md-textarea form-control"
									maxlength="255" ng-model="Promotion.desc_promotion" required></textarea>
								<label for="desc_promotion"
									ng-if="Promotion.desc_promotion.length == 0">{{'DESCRIPTION'
									| translate}}<span class="asteristo"> * </span>
								</label> <label for="desc_promotion"
									ng-if="Promotion.desc_promotion.length > 0" class="active">{{'DESCRIPTION'
									| translate}}<span class="asteristo"> * </span>
								</label> <span class="text-danger"
									ng-show="promotionform.descPromotion.$dirty && promotionform.descPromotion.$error.required">{{'PROMOTION_DESC_REQUIRED'
									| translate}}</span>
							</div>
							</div>
						</div>	
						</div>
						
                    </div>
                     <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
						<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
						<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!promotionform.$valid" ng-click="save(Promotion)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                         </div>
                    </div>
                    </form>
                </div>
            </div>
        
	</modal>
	
    <div class="form-inline" >
         <div style="margin-right: 25px;">
			 <button type="button" style="margin-left: 0px;" ng-disabled="showbotomadd" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
			 <span class="touppercase">{{'PROMOTIONS' | translate}}</span>			 			
        </div>   	   
    </div>
     <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="user">{{'MY_PROMO' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0" ng-model="Business.idbusiness" class="browser-default custom-select bg-transparent nav-link dropdown-toggle withoutborder col-xl-5 col-sm-8"
					ng-init="Business.idbusiness = Business.idbusiness || BusinessList[0].idbusiness"
					ng-options="item.idbusiness as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 
		</div>
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio)">{{'SEARCH' | translate}}</button>
			
		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>     
     <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'PROMOTION_TITLE' | translate}}</th>
            <th>{{'PROMOTION_CODE' | translate}}</th>
            <th>{{'FUNC_DAYS' | translate}}</th>
            <th>{{'PROMOTION_DATE_START' | translate}}</th>
            <th>{{'PROMOTION_DATE_END' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr >
            <td class="width-colum-name"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'PROMOTION_TITLE' | translate}}" ng-change="searchtitle()" ng-model="search_promotiontitle" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_desc" class="form-control-ecrece" placeholder="{{'PROMOTION_CODE' | translate}}" ng-change="searchcodigo()" ng-model="search_promotioncode" /></td>
			<td class="width-colum-number"><input type="search" id="id_search_days" class="form-control-ecrece" placeholder="{{'FUNC_DAYS' | translate}}" ng-model="search_promotiondays" /></td>
			<td class="width-colum-date"><input type="date" id="date" class="form-control-ecrece md-date validate"  placeholder="{{'DATE_START' | translate}}" ng-change="searchdstar()"  ng-model="search_promotiondatestart"></td>
			<td class="width-colum-date"><input type="date" id="date1" class="form-control-ecrece md-date validate" placeholder="{{'DATE_END' | translate}}" ng-change="searchdend()"  ng-model="search_promotiondateend"></td>
			<td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
		</thead>		
        <tbody>
        <tr class="contenedor"  ng-repeat="item in pagedItems[currentPage] | filter: { daysPromotion: search_promotiondays}">
            <td class="td-ecrece-white">{{ item.title_promotion }}</td>
            <td class="td-ecrece-white">{{ item.codePromotion }}</td>
            <td class="td-ecrece-white" >{{ item.daysPromotion }}</td>
            <td class="td-ecrece-white" >{{ item.date_start_promotion | date:'dd-MM-yyyy'}}</td>
            <td class="td-ecrece-white" >{{ item.date_end_promotion  | date:'dd-MM-yyyy'}}</td>
           
            <td class="width-colum-action">
                 <div >
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idpromotion)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
                 <button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="showclone(item)"><span class="icon-DuplicarRelleno"  style="font-size:24px;"></span></button>
					<button   ng-disabled="foredit(item)" title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
					<button  ng-disabled="fordelete(item)" title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
					
					
                 </div>
					
				</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>