<br />
<br />
<br/>
<!--Inicio Modal Promocion  -->
<div class="container  d-flex justify-content-center padding-carddetail">
	<!-- Card -->
	<div class="card promoting-card col-lg-8 col-md-8  col-sm-12">

		<!-- Card content -->
		<div class="card-body padding-bodycard d-flex flex-row">

			<!-- Avatar -->
			<img ng-if="showavatar()" src="{{pathimage}}"
				class="rounded-circle mr-3" height="50px" width="50px" alt="avatar">

			<!-- Content -->
			<div>

				<!-- Title -->
				<h4 class="card-titl	e font-weight-bold mb-2"> <span ng-if="showavatar()">{{PromotionDetail.business.name_business}}/</span>{{PromotionDetail.title_promotion}}</h4>
				<!-- Subtitle -->
				<p class="card-text">
					<i class="far fa-clock pr-2"></i>{{PromotionDetail.date_start_promotion | date: 'dd/MM/yyyy' }}--{{PromotionDetail.date_end_promotion | date: 'dd/MM/yyyy' }}
				</p>

			</div>

		</div>

		<!-- Card image -->
		<!-- <div class="view overlay">
			<img class="card-img-top rounded-0"
				src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
				alt="Card image cap"> <a href="#!">
				<div class="mask rgba-white-slight"></div>
			</a>
		</div> -->

		<!-- Card content -->
		<div class="card-body padding-bodycard">

			<div >
				<!-- Text -->
				<p class="card-text">{{PromotionDetail.desc_promotion}}</p>
				<!-- Button -->
				 <div class="modal-footer modal-footer-ecrece">
				 <div></div>
				 <div>
				<button type="button" title="{{'HOME' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-click="out()"><span
						class="glyphicon glyphicon-remove-circle"></span>{{'HOME' | translate}}</button>
					<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
				ng-click="back()"><span
					class="glyphicon glyphicon-remove-circle"></span>{{'BACK' | translate}}</button>	
					</div>		
			</div>

			</div>

		</div>

	</div>
	<!-- Card -->
</div>

<!--Fin Modal Promocion  -->