<br/>
<br/>
<br/>
<div class="container">
    <modal title="{{'OFFERS' | translate}}" visible="showModal">
        
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                <form class="form" name="offerform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'OFFER' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError"><p ng-bind-html="errorMessage"></p></div>
                        <input type="hidden" id="idoffer" name="idoffer" class="form-control" readonly="readonly" ng-model="Offer.idoffer" />
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group col-sm-12">
								<div class="md-form">
										<label for="daysOffer" class="active">{{'OFFER_DAYS' | translate}}<span class="asteristo"> * </span></label>
										<input type="number" id="daysOffer" name="daysOffer" min="0" ng-change="changedateend()" class="form-control" ng-model="Offer.daysOffer"/>									
										<span class="text-danger" ng-show="offerform.daysOffer.$dirty && offerform.daysOffer.$error.required">{{'OFFER_DAYS_REQUIRED' | translate}}</span>
										<span class="text-danger" ng-show="lesszero">{{'OFFER_DAYS_NOTZERO' | translate}}</span>
										</div>
							</div>
								<div class="form-group col-sm-12">
								<div class="md-form">
								<label for="nameOffer" class="active">{{'OFFER_NAME' | translate}}<span class="asteristo"> * </span></label>
										<input type="text" id="nameOffer" name="nameOffer"  maxlength="100" class="form-control" ng-model="Offer.nameOffer" required />
										<span class="text-danger" ng-show="offerform.nameOffer.$dirty && offerform.nameOffer.$error.required">{{'OFFER_NAME_REQUIRED' | translate}}</span>
										</div>
							</div>
								</div>		
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="dateStartoffer" class="active">{{'OFFER_DATE_START' | translate}}<span class="asteristo"> * </span></label>
										<input type="date" id="dateStartoffer" name="dateStartoffer"
											class="form-control"
											ng-model="Offer.date_start" min="{{today}}" ng-change="changedateend()" required />
										<span class="text-danger"
											ng-show="offerform.date_end.$dirty && offerform.date_start_offer.$error.required">{{'OFFER_DATE_START_REQUIRED' | translate}}</span>
											</div>																	 
								</div>
								  <div class="form-group col-sm-12">
								  <div class="md-form">
									<label for="date_end" class="active">{{'OFFER_DATE_END' | translate}}</label>
									<input type="date" id="date_end" name="date_end"
											class="form-control" disabled
											ng-model="Offer.date_end" min="{{today}}" required/>
											</div>									
								  </div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						   <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
						   <div class="md-form">
						  		<textarea rows="2" cols="" id="descOffer" name="descOffer"  maxlength="255" class="md-textarea form-control"
									ng-model="Offer.descOffer" required></textarea>
									<label ng-if="Offer.descOffer.length >0" for="descOffer" class="active">{{'DESCRIPTION' | translate}}<span class="asteristo"> * </span> </label>
									<label ng-if="Offer.descOffer.length ==0" for="descOffer">{{'DESCRIPTION' | translate}}<span class="asteristo"> * </span> </label>
									<span class="text-danger" ng-show="offerform.descOffer.$dirty && offerform.descOffer.$error.required">{{'OFFER_DESC_REQUIRED' | translate}}</span>
								</div>
								</div>
						</div>				
						</div>
			        </div>
                      <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label >{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
							<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-disabled="!offerform.$valid" ng-click="save(Offer)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                       </div>
					</div>
					 </form>
                </div>
            </div>
       
    </modal>
    
    <div class="form-inline" >
     <button type="button" style="margin-left: 0px;" ng-disabled="showbotomadd" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
			 <span class="touppercase">{{'OFFERS' | translate}}</span>	
    </div>
      <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="user">{{'MY_OFFER' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business"  ng-model="Business.bus" class="form-control droplist-init input-lg border-left-0 border-right-0 border-top-0"
					ng-options="item as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 
		</div>
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio)">{{'SEARCH' | translate}}</button>
		
		<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>
    <div class="table-responsive">
    <table  class="table-ecrece table-hover table-striped" data-sortable="true" >
        <thead class="thead-ecrece">
         <tr>
			 <th class="width-colum-name">{{'OFFER_NAME' | translate}}</th>
			 <th class="width-colum-name">{{'DESCRIPTION' | translate}}</th>
			 <!-- <th class="" data-sorted-direction="descending" data-sortable="true">{{'ACTIV' | translate}}</th> -->
			  <th class="width-colum-date">{{'OFFER_DATE_START' | translate}}</th>
			   <th class="width-colum-date">{{'OFFER_DATE_END' | translate}}</th>
             <th class="width-colum-action">{{'ACTIONS' | translate}}</th>
        </tr>
         <tr >
			 <td class="td-ecrece-white"><input type="search" id="id_search"  class="form-control-ecrece" placeholder="{{'OFFER' | translate}}"  ng-change="searchoffer()" ng-model="search_offer"/></td>
			  <td class="td-ecrece-white"><input type="search" id="id_searchdesc"  class="form-control-ecrece" placeholder="{{'DESCRIPTION' | translate}}" ng-change="searchdesc()" ng-model="search_descr"/></td>
			  <!-- <td class="td-ecrece-white"><input type="search"  id="id_active" class="form-control-ecrece" placeholder="{{'ACTIV' | translate}}" ng-model="search_active" /></td> -->
			<td><input type="date" id="date" class="form-control-ecrece md-date validate" placeholder="{{'OFFER_DATE_START' | translate}}" ng-change="searchdstar()"  ng-model="search_startdate"></td>
			<td><input type="date" id="date1" class="form-control-ecrece md-date validate" placeholder="{{'OFFER_DATE_END' | translate}}" ng-change="searchdend()"  ng-model="search_enddate"></td>
			<td><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
         </tr>
		</thead>		
        <tbody>
        <tr class="contenedor" ng-repeat="item in pagedItems[currentPage]  | orderBy: '-date_start'">
			<td class="td-ecrece-white">{{ item.nameOffer }}</td>      
			<td class="td-ecrece-white">{{ item.descOffer }}</td>  
			<!-- <td class="td-ecrece-white"><span ng-if="item.activeOffer">Activo</span><span ng-if="!item.activeOffer">Inactivo</span></td> -->     
			<td class="td-ecrece-white" >{{ item.date_start | date:'dd-MM-yyyy'}}</td>   
			<td class="td-ecrece-white" >{{ item.date_end | date:'dd-MM-yyyy'}}</td>   
            <td >
				<div >
                <button  ng-disabled="foredit(item)" title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonEdit" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
				<button  ng-disabled="fordelete(item)" title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
				<button   class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="showclone(item)"><span class="icon-DuplicarRelleno"  style="font-size:24px;"></span></button>
				<button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idoffer)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
				</div>
			</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>
