<br/>
<br/>
<br/>
<div class="container">
    <div class="form-inline" >
     <span class="touppercase">{{'OFFERS' | translate}}: </span> <span class="touppercase" > ({{busi.name_business}})</span>	
     <div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
        	<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
						ng-click="back()">{{'BACK' | translate}}</button>
        </div>
    </div>    
    <div class="table-responsive">  
    <table  class="table-ecrece table-hover table-striped" data-sortable="true" >
        <thead class="thead-ecrece">
         <tr>
			 <th class="width-colum-name" >{{'OFFER_NAME' | translate}}</th>
			 <th class="width-colum-name">{{'DESCRIPTION' | translate}}</th>
			  <th class="width-colum-date">{{'OFFER_DATE_START' | translate}}</th>
			   <th class="width-colum-date">{{'OFFER_DATE_END' | translate}}</th>
             <th class="width-colum-action">{{'ACTIONS' | translate}}</th>
        </tr>
         <tr >
			  <td class="td-ecrece-white"><input type="search" id="id_search"  class="form-control-ecrece" placeholder="{{'OFFER' | translate}}"  ng-change="searchoffer()" ng-model="search_offer"/></td>
			  <td class="td-ecrece-white"><input type="search" id="id_searchdesc"  class="form-control-ecrece" placeholder="{{'DESCRIPTION' | translate}}" ng-change="searchdesc()" ng-model="search_descr"/></td>
			  <!-- <td class="td-ecrece-white"><input type="search"  id="id_active" class="form-control-ecrece" placeholder="{{'ACTIV' | translate}}" ng-model="search_active" /></td> -->
			<td><input type="date" id="date" class="form-control-ecrece md-date validate" placeholder="{{'OFFER_DATE_START' | translate}}" ng-change="searchdstar()"  ng-model="search_startdate"></td>
			<td><input type="date" id="date1" class="form-control-ecrece md-date validate" placeholder="{{'OFFER_DATE_END' | translate}}" ng-change="searchdend()"  ng-model="search_enddate"></td>
			<td><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
         </tr>
		</thead>
		
        <tbody>
        <tr class="contenedor" ng-repeat="item in pagedItems[currentPage]  | orderBy: '-date_start'">
			<td class="td-ecrece-white">{{ item.nameOffer }}</td>      
			<td class="td-ecrece-white">{{ item.descOffer }}</td>  
			<!-- <td class="td-ecrece-white"><span ng-if="item.activeOffer">Activo</span><span ng-if="!item.activeOffer">Inactivo</span></td> -->     
			<td class="td-ecrece-white" >{{ item.date_start | date:'dd-MM-yyyy'}}</td>   
			<td class="td-ecrece-white" >{{ item.date_end | date:'dd-MM-yyyy'}}</td>   
            <td >
				<div >
				<button   title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item.idoffer)"><span class="icon-Ver-Relleno"  style="font-size:24px;"></span></button>
				</div>
			</td>
        </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>
