<br/>
<br/>
<br/>
<div class="container">
    <div class="form-inline" >
    <a class="touppercase">{{'RATINGS' | translate}}</a>     
    </div>  
     <div class="form-inline" >		
		<div class="custom-control custom-radio custom-control-inline" style="padding-left: 25px;">
		  <input type="radio" class="custom-control-input" id="user" name="groupOfDefaultRadios" ng-value="1" ng-model="Rad.toradio"  ng-click="showcheck()">
		  <label class="custom-control-label" for="user">{{'MY_CALIFICATION' | translate}}</label>
		</div>	
		<div ng-if="BusinessList.length >0" class="form-inline" >
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" class="custom-control-input" id="bus" name="groupOfDefaultRadios" ng-value="2"  ng-model="Rad.toradio" ng-click="showcheck()" >
		  <label class="custom-control-label" for="bus">{{'BUSINESS' | translate}}</label>
		</div>	
		 <div  ng-show="Rad.toradio == 2">
			 <select name="business" ng-model="Business.idbusiness" class="form-control input-lg border-left-0 border-right-0 border-top-0"
					ng-init="Business.idbusiness = Business.idbusiness || BusinessList[0].idbusiness"
					ng-options="item.idbusiness as item.name_business for item in BusinessList" style="margin-right: 25px;">
				</select>				
		</div> 		
		</div>
		<button type="button" title="{{'SEARCH' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="callto(Rad.toradio)">{{'SEARCH' | translate}}</button>
			<div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>	
    </div>  
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        <tr>
            <th>{{'BUSINESS' | translate}}</th>            
            <th>{{'USER' | translate}}</th>
            <th>{{'RATING' | translate}}</th>
        </tr>  
        <tr >
            <td class="width-colum-name"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'BUSINESS' | translate}}" ng-change="searchcbusi()" ng-model="search_business" /></td>
            <td class="width-colum-name"><input type="search" id="id_search_usu" class="form-control-ecrece" placeholder="{{'USER' | translate}}" ng-change="searchcuser()"  ng-model="search_user" /></td>
            <td class="width-colum-number"><input type="search" id="id_search_usu" class="form-control-ecrece" placeholder="{{'RATING' | translate}}" ng-model="search_ptosclasification" /></td>
        </tr>    
		</thead>		
        <tbody>
        
        <tr ng-repeat="item in pagedItems[currentPage] | filter:{ptosclasification: search_ptosclasification} ">
            <td class="td-ecrece-white">{{ item.business.name_business }}</td>
            <td class="td-ecrece-white">{{ item.user.nameUser }}</td>
            <td class="td-ecrece-white">{{ item.ptosclasification }}</td>
        </tr>
       
        </tbody>        
	</table>
	</div>
	 <tr>
        <div ng-show= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
			 <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
            </tfoot>
</div>