 <br/>
  <br/>
   <br/>
<div class="container padding-carddetail">	  
	<modal title="{{'BUSINESS_LIST' | translate}}" visible="showModal" >
	        
	            <div class="modal-dialog modal-lg" role="dialog">
	                <div class="modal-content">
	                <form class="form" name="BusinessListForm">
	                    <div class="modal-header-ecrece">                    
	                     <h3 class="modal-title">{{'FUNCIONALITIES_LIST' | translate}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                      </div>
	                    <div class="modal-body">
	                    <div class="alert alert-danger" ng-show="verMessageError">{{errorMessage
						| translate}}</div>
                         <table class="table-ecrece table-hover table-striped">
					        <thead class="thead-ecrece">
					        <tr>
					            <th><input type="checkbox" ng-model="selectAll" ng-click="selectedallFuncionalities()" /> {{'FUNCIONALITIES_LIST' | translate}}</th>
					            <th>{{'FUNCIONALITY_POINTS' | translate}}</th>
					            <th>{{'FUNCIONALITY_POINT_LESS' | translate}}</th>
				             	<th>{{'FUNCIONALITY_POINT_PLUS' | translate}}</th>
				             	<th>{{'DATE_END' | translate}}</th>
					        </tr>
					        </thead>
					        <tbody>
					        <tr ng-repeat="item in Funcionalitiestoo">
					            <td class="td-ecrece-white"><input type="checkbox" name="selectedfuncionality[]" value="{{item}}"
										    ng-checked="selectionfuncionality.indexOf(item) > -1"  ng-click="toggleSelectionFuncionality(item)" > {{item.nameFuncionality}}
								 </td>
								  <td class="td-ecrece-white"> {{ item.pointFuncionality }} </td>
								  <td class="td-ecrece-white"> {{ item.point_less }} </td>
								  <td class="td-ecrece-white"> {{ item.point_plus }} </td>
								   <td class="td-ecrece-white">{{item.dateend | date:'dd-MM-yyyy'}}</td>
								
			<!-- 					  <td class="td-ecrece-white"> {{ item.dateend | date:'dd-MM-yyyy'}} </td> -->
								 </tr>
					        </tbody>
					    </table>
	                         
						</div>
	                    <div class="modal-footer modal-footer-ecrece" style="justify-content: flex-end;">
	                        <button type="button" title="{{'ASSIGN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"   ng-disabled='selectionfuncionality.length===0' ng-click="asigfuncionality()"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ASSIGN' | translate}}</button>
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
	                    </div>
	                    </form>
	                </div>
	            </div>
	        
	    </modal>
    <div class="form-inline">
         <div >
             <button title="{{'FUNCIONALITY_ACTIVE' | translate}}" ng-click="AdicionarModal()" class="btn btn-withoutshadow" ng-disabled="selection.length===0" ><span class="icon-Adicionar" style="font-size:20px;"></span></button>
              <span class="touppercase">{{'FUNCIONALITY_ASSIGMENT' | translate}}</span>
        </div>
        <div class="ml-auto padding-sm-botomback padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        
        <tr>
            <th>{{'BUSINESS' | translate}}</th>
            <th>{{'BUSINESS_DIR' | translate}}</th>
            <th>{{'FUNCIONALITY' | translate}}</th>
            <th>{{'STATE' | translate}}</th>
        </tr>
        <tr>
            <td class="width-colum-name">
            
            <div class="form-inline">
            <div class="aling-center-check">
            	 <input type="checkbox" ng-model="selectAllBusiness" ng-disabled="Business.length == 0" ng-click="selectedallBusiness()" />
            	 </div>
            	 <div class="aling-center-input">
            	<input type="search" id="id_search"  class="form-control-ecrece" placeholder="{{'NAME' | translate}}" ng-change="searchcbusi()" ng-model="search_name_business" />
            	</div>
            </div>
         </td> 
         <td class="width-colum-name"> <input type="search" id="id_search_dir"  class="form-control-ecrece" placeholder="{{'DIRECCION' | translate}}" ng-change="searchdir()" ng-model="search_dirbusines" /></td>   
         <td class="width-colum-middel"> <input type="search" id="id_search_funcion"    class="form-control-ecrece" placeholder="{{'FUNCIONALITY' | translate}}" ng-change="searchfuncio()" ng-model="search_funcio" /></td>   
         <td class="width-colum-number"> <input type="search" id="id_search_funcion1"  class="form-control-ecrece" placeholder="{{'STATE' | translate}}" ng-change="searchstate()" ng-model="search_state" /></td>    
       </tr>
        </thead>
        <tbody>        
        <tr ng-repeat="item in Business ">
            <td class="td-ecrece-white"><input type="checkbox" name="selecteduser[]" value="{{item}}"
					    ng-checked="selection.indexOf(item) > -1"  ng-click="toggleSelection(item)"> {{item.name_business}}
			 </td>
			  <td class="td-ecrece-white"> {{ item.dir_business }} </td>
			  <td> <div ng-repeat="f in item.funcionality">{{f.nameFuncionality}}</div> </td>
			  <td class="td-ecrece-white"> {{ item.businessStates.name_state_business }} </td>			  
			 </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-if="Business.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>    
 </div>