<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container" >
        <form class="form" name="funcionalitiesform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'FUNCIONALITY_ACTIVE' | translate}}</h3>                       
                    </div>
                    <div class="modal-body">
                       <table class="table-ecrece table-hover table-striped">
					        <thead class="thead-ecrece">
					        <tr>
					            <th>{{'FUNCIONALITY_NAME' | translate}}</th>
					            <th>{{'ACTIONS' | translate}}</th>
					        </tr>
					        <tr>
					            <td class="td-ecrece-white"><input type="search" id="id_search" class="form-control-ecrece" placeholder="{{'FUNCIONALITY' | translate}}" ng-model="search_funcionalidad" /></td>
					            <td><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>           
					        </tr>
					        </thead>
					        <tbody>
					        <tr ng-repeat="item in Funcionalidades | filter: { nameFuncionality: search_funcionalidad } ">
					            <td class="td-ecrece-white">{{ item.nameFuncionality }}</td>           
					        </tr>
					        </tbody>
					    </table>
                    </div>
                     <div class="modal-footer modal-footer-ecrece">
                        <button type="button" title="{{'SAVE' | translate}}" class="btn  btn-ecrece btn-withoutshadow"  ng-disabled='' ng-click="save(funcionalitiesform)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>
                        <button type="button" title="{{'CANCEL' | translate}}" class="btn  btn-ecrece btn-withoutshadow" ng-click="out()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
                    </div>
        </form>
    
</div>
