<br />
<br />
<br />
<div class="container padding-carddetail">
	<modal class="formodals-hide"
		title="{{'FUNCIONALITIES_LIST' | translate}}" visible="showModal">

	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content">
			<form class="form" name="FuncioListForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'FUNCIONALITIES_LIST' | translate}}</h3>
					<button type="button" class="close formodals-hide"
						data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="verMessageError">{{errorMessage
						| translate}}</div>
					<div class="table-responsive">
						<table class="table-ecrece table-hover table-striped">
							<thead class="thead-ecrece">
								<tr>
									<th class="width-colum-number"><input type="checkbox"
										ng-model="selectAll" ng-click="selectedallFuncionality()"
										ng-if="desabledallbotton()"
										ng-show="showselectallfuncionality" /> {{'FUNCIONALITY_NAME' |
										translate}}</th>
									<th class="width-colum-number">{{'FUNCIONALITY_POINTS' |
										translate}}</th>
									<th class="width-colum-number">{{'PROMOTION_DATE_END' | translate}}</th>
								</tr>
							<tbody>
								<tr ng-repeat="item in Funcionalidades track by $index">
									<td class="td-ecrece-white"><input type="checkbox"
										name="selecteditem[]" value="{{item}}"
										ng-checked="selection.indexOf(item) > -1"
										ng-click="toggleSelection(item)" ng-show="fordesabled(item)">
										<span ng-if="fornotenoughpoint(item)">$</span>
										{{item.nameFuncionality}}</td>
									<td class="td-ecrece-white">{{ item.pointFuncionality }}</td>
									<td class="td-ecrece-white">{{listdateend[$index] |
										date:'dd-MM-yyyy'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer modal-footer-ecrece"
					style="justify-content: flex-end;">
					<div></div>
					<div>
						<button type="button" title="{{'SAVE' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled='selection.length===0' ng-click="asigfuncionality()">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'FUNCIONALITIES_OBTAIN'
							| translate}}
						</button>
						<button type="button" title="{{'CANCEL' | translate}}"
							class="btn btn-a-ecrece formodals-hide btn-withoutshadow"
							ng-click="CerrarModal()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL'
							| translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>

	<modal title="{{'COMENT' | translate}}" visible="showModalComent"
		class="formodals-hide">

	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content">
			<form class="form" name="ComentForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'COMENT' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModalComent()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group col-xl-8 col-sm-6">
						<label>{{'COMENT_DESC' | translate}}</label> <label
							class="asteristo"> * </label>
						<textarea rows="" cols="" id="desc_coment" name="desc_coment"
							maxlength="255" class="form-control"
							ng-model="Coment.desc_coment" required></textarea>
						<span class="text-danger"
							ng-show="ComentForm.desc_coment.$dirty && ComentForm.desc_coment.$error.required">{{'COMENT_DESC_REQUIRED'
							| translate}}</span>
					</div>
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="LimpiarModalComent()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'CLEAN' | translate}}"
							ng-disabled="!ComentForm.$valid"
							class="btn btn-a-ecrece btn-withoutshadow" ng-show="reply"
							ng-click="saveReplyComent(Coment)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' |
							translate}}
						</button>
						<button type="button" title="{{'SAVE' | translate}}"
							ng-disabled="!ComentForm.$valid"
							class="btn btn-a-ecrece btn-withoutshadow" ng-show="coment"
							ng-click="saveComent(Coment)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>

	<!-- inicio modal reservaciones -->
	<modal title="{{'RESERVATIONS' | translate}}"
		visible="showModalReservation" class="formodals-hide">

	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content">
			<form class="form" name="ReservationForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'RESERVATIONS_REQUEST' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModalComent()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="container">
							<h6>{{'RESERVATION_MESSAGE' | translate}}</h6>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.date" ng-disabled="true" id="fecha">
								<label class="custom-control-label" for="fecha">{{'DATE'
									| translate}}</label>
							</div>
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.dateend" id="fechafin"> <label
									class="custom-control-label" for="fechafin">{{'DATE_END'
									| translate}}</label>
							</div>
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.night" id="noches"> <label
									class="custom-control-label" for="noches">{{'NIGTH' |
									translate}}</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.personsamount" id="cantidadpersonas">
								<label class="custom-control-label" for="cantidadpersonas">{{'PERSONS_AMOUNT'
									| translate}}</label>
							</div>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.domicile" id="domicile">
								<label class="custom-control-label" for="domicile">{{'DOMICILE'
									| translate}}</label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-disabled="true" ng-model="Characteristics.description"
									id="descripcion"> <label class="custom-control-label"
									for="descripcion">{{'DESCRIPTION' | translate}}</label>
							</div>
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.schedule" id="hora"> <label
									class="custom-control-label" for="hora">{{'SCHEDULE' |
									translate}}</label>
							</div>
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.scheduleend" id="horafin"> <label
									class="custom-control-label" for="horafin">{{'SCHEDULE_END'
									| translate}}</label>
							</div>
							<!-- Default indeterminate -->
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input"
									ng-model="Characteristics.article" id="articulo"> <label
									class="custom-control-label" for="articulo">{{'ARTICLE'
									| translate}}</label>
							</div>

						</div>

					</div>
					<div class="modal-footer modal-footer-ecrece">
						<div>
							<label class="asteristo"></label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}"
								class="btn btn-a-ecrece btn-withoutshadow"
								ng-click="LimpiarModalReservation()">
								<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
								| translate}}
							</button>
							<button type="button" title="{{'SAVE' | translate}}"
								class="btn btn-a-ecrece btn-withoutshadow"
								ng-click="saveReservationCharacteristics(Characteristics)">
								<span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' |
								translate}}
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal reservacions  -->
	<!-- inicio modal reservaciones -->
	<modal title="{{'MADERESERVATION' | translate}}"
		visible="showModalMadeReservation" class="formodals-hide">

	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content">
			<form class="form" name="MadeReservationForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'MADERESERVATION' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModalComent()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div>
						<div class="container">
						<div class="row" ng-show="Characteristics.domicile">
							<div class="col-xs-12 col-sm-6 col-md-6" >
								<div class="custom-control custom-checkbox">
								    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" ng-model="Reservation.domicile" >
								    <label class="custom-control-label" for="defaultUnchecked">{{'DOMICILE' | translate}}</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6" ng-if="Reservation.domicile == true">
								<div class="custom-control custom-checkbox">
								    <input type="checkbox" class="custom-control-input" id="defaultUnchecked1" ng-model="Reservation.immediate" >
								    <label class="custom-control-label" for="defaultUnchecked1">{{'IMMEDIATE' | translate}}</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12" ng-if="Reservation.domicile == true">
									<div class="md-form">  
										<label for="dir_reservation">{{'DIRECCION' | translate}}<span class="asteristo"> *</span></label>
										<input type="text" id="dir_reservation" name="dir_reservation" class="form-control"
											ng-model="Reservation.dir_reservation"  maxlength="255" required />
										<span class="text-danger"
											ng-show="MadeReservationForm.dir_business.$dirty && MadeReservationForm.dir_business.$error.required">{{'DIRECCION_REQUIRED' | translate}}</span>
								   	</div>
						</div>
						</div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<!-- Material input -->
									<div class="md-form">
										<input type="date" id="date"
											class="form-control md-date validate"
											ng-model="Reservation.date" min="{{todayreservation}}"
											required> <label
											data-error="{{'DATE_REQUIRED' | translate}}" data-success=""
											for="date">{{'DATE' | translate}}<span
											class="asteristo"> * </span></label>
									</div>
									<div class="md-form">
										<textarea type="text" id="desscription" rows="2"
											maxlength="255" class="form-control md-textarea validate"
											required ng-model="Reservation.description"></textarea>
										<label data-error="{{'DESCRIPTION_REQUIRED' | translate}}"
											data-success="" for="description">{{'DESCRIPTION' |
											translate}}<span class="asteristo"> * </span>
										</label>
									</div>
									<div class="row">
										<div class="md-form col-xs-12 col-sm-6 col-md-4 padding0"
											ng-show="Characteristics.schedule"
											style="margin-rigth: 4px; margin-left: 15px;">
											<label for="id_time" class="active">{{'SCHEDULE' |
												translate}}<span class="asteristo"> * </span>
											</label>
											<timepicker id="id_time" name="time" default-time="8am"
												class="form-field totimepicker"
												ng-model="Reservation.schedule"></timepicker>
											<span class="text-danger" ng-show="errormessageschedule">{{'SCHEDULE_REQUIRED'
												| translate}}</span>
										</div>
										<div class="md-form col-xs-12 col-sm-6 col-md-4 padding0 "
											ng-show="Characteristics.scheduleend"
											style="margin-left: 10px;">
											<label for="id_time" class="active">{{'SCHEDULE_END'
												| translate}}<span class="asteristo"> * </span>
											</label>
											<timepicker id="id_time" name="time" default-time="8am"
												class="form-field totimepicker"
												ng-model="Reservation.scheduleend"></timepicker>
											<span class="text-danger" ng-show="errormessagescheduleend">{{'SCHEDULE_END_REQUIRED'
												| translate}}</span>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
									<!-- Material input -->
									<div class="md-form " ng-show="Characteristics.dateend">
										<input type="date" id="dateend1" class="form-control "
											ng-model="Reservation.dateend" ng-disabled="true"
											min="{{today | date:'yyyy-MM-dd'}}"> <label
											data-error="{{'DATE_REQUIRED' | translate}}" data-success=""
											for="persosnamount">{{'DATE_END' | translate}}<span
											class="asteristo"> * </span></label> <span class="text-danger"
											ng-show="errormessagedateend">{{'DATE_REQUIRED' |
											translate}}</span>
									</div>
									<div class="md-form" ng-show="Characteristics.personsamount">
										<input type="number" id="persosnamount" class="form-control "
											ng-model="Reservation.personsamount" min="1"> <label
											data-error="{{'PERSONS_AMOUNT_REQUIRED' | translate}}"
											data-success="" for="persosnamount">{{'PERSONS_AMOUNT'
											| translate}}<span class="asteristo"> * </span>
										</label> <span class="text-danger" ng-show="errormessagepersonsamount">{{'PERSONS_AMOUNT_REQUIRED'
											| translate}}</span>
									</div>
									<div class="md-form" ng-show="Characteristics.night">
										<input type="number" id="night" class="form-control "
											ng-model="Reservation.night" min="1"
											ng-change="changedateend()"> <label
											data-error="{{'NIGTH_REQUIRED' | translate}}" data-success=""
											for="night">{{'NIGTH' | translate}}<span
											class="asteristo"> * </span></label> <span class="text-danger"
											ng-show="lesszero">{{'PROMOTION_DAYS_NOTZERO' |
											translate}}</span>
									</div>
									<div class="md-form" ng-show="Characteristics.article">
										<input type="text" id="Article" class="form-control "
											maxlength="255" ng-model="Reservation.article"> <label
											data-error="{{'ARTICLE_REQUIRED' | translate}}"
											data-success="" for="Article">{{'ARTICLE' |
											translate}}<span class="asteristo"> * </span>
										</label> <span class="text-danger" ng-show="errormessagearticle">{{'ARTICLE_REQUIRED'
											| translate}}</span>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="modal-footer modal-footer-ecrece">
						<div>
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
								| translate}}</label>
						</div>
						<div>
							<button type="button" title="{{'CLEAN' | translate}}"
								class="btn btn-a-ecrece btn-withoutshadow"
								ng-click="LimpiarModalMadeReservation()">
								<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
								| translate}}
							</button>
							<button type="button" title="{{'SAVE' | translate}}"
								class="btn btn-a-ecrece btn-withoutshadow"
								ng-disabled="!MadeReservationForm.$valid"
								ng-click="saveMadeReservation(Reservation)">
								<span class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' |
								translate}}
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal reservacions  -->
	<!-- inicio modal fullcalendar -->
	<modal title="{{'FULLCALENDAR' | translate}}"
		visible="showModalFullCanlendar" id="fullcalen" class="formodals-hide">

	<div class="modal-dialog modal-lg" role="dialog">
		<div class="modal-content">
			<form class="form" name="FullCalendarForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'FULLCALENDAR' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModalComent()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<!-- Section: Calendar -->
						<section style="padding-top: 0px;">
							<div class="row">
								<div class="col-md-12 mx-auto" id="calendar"></div>
							</div>
						</section>
						<!-- /.Section: Calendar -->
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal fullcalendar  -->
	<!-- inicio modal promocion  -->
	<modal title="{{'PROMOTIONS' | translate}}"
		visible="showModalPromotion" class="formodals-hide">

	<div class="modal-dialog" role="dialog">
		<div class="modal-content">
			<form class="form" name="promotionformforbusines">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'PROMOTION' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModal()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="verMessageError">{{errorMessage
						| translate}}</div>
					<input type="hidden" id="idpromotion" name="idpromotion"
						class="form-control" readonly="readonly"
						ng-model="Promotion.idpromotion" />
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="daysPromotion" class="active">{{'PROMOTION_DAYS'
										| translate}}<span class="asteristo"> * </span>
									</label> <input type="number" id="daysPromotion" min="0"
										name="daysPromotion" class="form-control"
										ng-change="changedateendpromo()"
										ng-model="Promotion.daysPromotion" /> <span
										class="text-danger"
										ng-show="promotionform.daysPromotion.$dirty && promotionform.daysPromotion.$error.required">{{'PROMOTION_DAYS_REQUIRED'
										| translate}}</span>
									<!-- <span class="text-danger" ng-show="lesszero">{{'PROMOTION_DAYS_NOTZERO' | translate}}</span> -->
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="codePromotion"
										ng-if="Promotion.codePromotion.length == 0">{{'PROMOTION_CODE'
										| translate}}<span class="asteristo"> * </span>
									</label> <label for="title_promotion"
										ng-if="Promotion.codePromotion.length > 0" class="active">{{'PROMOTION_CODE'
										| translate}}<span class="asteristo"> * </span>
									</label> <input type="text" id="codePromotion" name="codePromotion"
										maxlength="100" class="form-control"
										ng-model="Promotion.codePromotion" required /> <span
										class="text-danger"
										ng-show="promotionform.codePromotion.$dirty && promotionform.codePromotion.$error.required">{{'PROMOTION_CODE_REQUIRED'
										| translate}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="dateStartPromotiony" class="active">{{'PROMOTION_DATE_START'
										| translate}}<span class="asteristo"> * </span>
									</label> <input type="date" id="dateStartPromotion"
										name="dateStartPromotion" class="form-control"
										ng-model="Promotion.date_start_promotion" min="{{today}}"
										ng-change="changedateendpromo()" required /> <span
										class="text-danger"
										ng-show="promotionform.dateStartPromotion.$dirty && promotionform.dateStartPromotion.$error.required">{{'PROMOTION_DATE_START_REQUIRED'
										| translate}}</span>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="date_end_promotion" class="active">{{'PROMOTION_DATE_END'
										| translate}}<span class="asteristo"> * </span>
									</label> <input type="date" id="date_end_promotion" disabled
										name="date_end_promotion" class="form-control "
										ng-model="Promotion.date_end_promotion" min="{{today}}"
										required />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="md-form">
								<label for="title_promotion"
									ng-if="Promotion.title_promotion.length == 0">{{'PROMOTION_TITLE'
									| translate}}<span class="asteristo"> * </span>
								</label> <label for="title_promotion"
									ng-if="Promotion.title_promotion.length > 0" class="active">{{'PROMOTION_TITLE_REQUIRED'
									| translate}}<span class="asteristo"> * </span>
								</label> <input type="text" id="title_promotion" name="title_promotion"
									class="form-control" maxlength="100"
									ng-model="Promotion.title_promotion" /> <span
									class="text-danger"
									ng-show="promotionform.title_promotion.$dirty && promotionform.title_promotion.$error.required">{{'PROMOTION_TITLE_REQUIRED'
									| translate}}</span>

							</div>
						</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group  col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="md-form"> 
								<textarea rows="2" cols="" id="desc_promotion"
									name="desc_promotion" class="md-textarea form-control"
									maxlength="255" ng-model="Promotion.desc_promotion" required></textarea>
								<label for="desc_promotion"
									ng-if="Promotion.desc_promotion.length == 0">{{'DESCRIPTION'
									| translate}}<span class="asteristo"> * </span>
								</label> <label for="desc_promotion"
									ng-if="Promotion.desc_promotion.length > 0" class="active">{{'DESCRIPTION'
									| translate}}<span class="asteristo"> * </span>
								</label> <span class="text-danger"
									ng-show="promotionform.descPromotion.$dirty && promotionform.descPromotion.$error.required">{{'PROMOTION_DESC_REQUIRED'
									| translate}}</span>
							</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="clearfieldpromo()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'ACCEPT' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled="!promotionformforbusines.$valid"
							ng-click="savepromotion(Promotion)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal promocion  -->
	<!-- inicio modal offer -->
	<modal title="{{'OFFERS' | translate}}" visible="showModalOffer"
		class="formodals-hide">

	<div class="modal-dialog" role="dialog">
		<div class="modal-content">
			<form class="form" name="offerformfordetail">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'OFFER' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModal()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="verMessageError">
						<p ng-bind-html="errorMessage"></p>
					</div>
					<input type="hidden" id="idoffer" name="idoffer"
						class="form-control" readonly="readonly" ng-model="Offer.idoffer" />
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="daysOffer" class="active">{{'OFFER_DAYS' |
										translate}}<span class="asteristo"> * </span>
									</label> <input type="number" id="daysOffer" name="daysOffer" min="0"
										ng-change="changedateendoffer()" class="form-control"
										ng-model="Offer.daysOffer" /> <span class="text-danger"
										ng-show="offerform.daysOffer.$dirty && offerform.daysOffer.$error.required">{{'OFFER_DAYS_REQUIRED'
										| translate}}</span> <span class="text-danger" ng-show="lesszero">{{'OFFER_DAYS_NOTZERO'
										| translate}}</span>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="nameOffer" class="active">{{'OFFER_NAME' |
										translate}}<span class="asteristo"> * </span>
									</label> <input type="text" id="nameOffer" name="nameOffer"
										maxlength="100" class="form-control"
										ng-model="Offer.nameOffer" required /> <span
										class="text-danger"
										ng-show="offerform.nameOffer.$dirty && offerform.nameOffer.$error.required">{{'OFFER_NAME_REQUIRED'
										| translate}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="dateStartoffer" class="active">{{'OFFER_DATE_START'
										| translate}}<span class="asteristo"> * </span>
									</label> <input type="date" id="dateStartoffer" name="dateStartoffer"
										class="form-control" ng-model="Offer.date_start"
										min="{{today}}" ng-change="changedateendoffer()" required />
									<span class="text-danger"
										ng-show="offerform.date_end.$dirty && offerform.date_start_offer.$error.required">{{'OFFER_DATE_START_REQUIRED'
										| translate}}</span>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="date_end" class="active">{{'OFFER_DATE_END'
										| translate}}</label> <input type="date" id="date_end" name="date_end"
										class="form-control" disabled ng-model="Offer.date_end"
										min="{{today}}" required />
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="md-form">
								<textarea rows="2" cols="" id="descOffer" name="descOffer"
									maxlength="255" class="md-textarea form-control"
									ng-model="Offer.descOffer" required></textarea>
								<label ng-if="Offer.descOffer.length >0" for="descOffer"
									class="active">{{'DESCRIPTION' | translate}}<span
									class="asteristo"> * </span>
								</label> <label ng-if="Offer.descOffer.length ==0" for="descOffer">{{'DESCRIPTION'
									| translate}}<span class="asteristo"> * </span>
								</label> <span class="text-danger"
									ng-show="offerform.descOffer.$dirty && offerform.descOffer.$error.required">{{'OFFER_DESC_REQUIRED'
									| translate}}</span>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="clearfieldoffer()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'ACCEPT' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled="!offerformfordetail.$valid"
							ng-click="saveoffer(Offer)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal offer -->
	<!-- inicio modal empleo -->
	<modal title="{{'JOB' | translate}}" visible="showModalJob"
		class="formodals-hide">

	<div class="modal-dialog" role="dialog">
		<div class="modal-content">
			<form class="form" name="formjob">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'NEW_JOB' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModal()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-show="verMessageError">
						<p ng-bind-html="errorMessage"></p>
					</div>
					<input type="hidden" id="idjob" name="idjob"
						class="form-control" readonly="readonly" ng-model="Job.idjob" />
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="titlejob" >{{'TITLE_JOB' |
										translate}}<span class="asteristo"> * </span>
									</label> <input type="text" id="titlejob" name="titlejob"  class="form-control"
										ng-model="Job.titlejob" required/> 
										<span class="text-danger" ng-show="formjob.titlejob.$dirty && formjob.titlejob.$error.required">{{'TITLE_JOB_REQUIRED'
										| translate}}</span> 
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  
									<label for="descjob" >{{'DESCRIPTION' | translate}}<span class="asteristo"> *</span></label>
									<textarea rows="" cols="" id="descjob" name="descjob" class="md-textarea form-control"
										ng-model="Job.descjob"  maxlength="255" required></textarea>									
									<span class="text-danger"
										ng-show="formjob.descjob.$dirty && formjob.descjob.$error.required">{{'DIRECCION_REQUIRED' | translate}}</span>
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">	
									<label for="sex" class="active">{{'SEX' | translate}}</label>
									<select name="sex" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.sex">
										<option 
												ng-repeat="item in Sexs"
												value="{{item.idsex}}">
										{{item.namesex }}
										</option>
									</select>
								</div>	
							</div>
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="maxage" class="active">{{'MAX_AGE' |
											translate}} </label> 
											<input type="number" id="maxage" name="maxage"  class="form-control"
											ng-model="Job.maxage" />
									</div>
							</div>
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="maxage" class="active">{{'MIN_AGE' |
											translate}} </label> 
											<input type="number" id="minage" name="minage"  class="form-control"
											ng-model="Job.minage" />
									</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  
									<label for="descjob" >{{'OTHERREQUIREMENT' | translate}}</label>
									<textarea rows="" cols="" id="otherrequirement" name="otherrequirement" class="md-textarea form-control"
										ng-model="Job.otherrequirement"  maxlength="255" ></textarea>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group col-sm-12">
									<div class="md-form">
										<label for="dateend" class="active">{{'DATE_END_OFFER'
											| translate}}<span class="asteristo"> * </span>
										</label> <input type="date" id="dateend" name="dateend"
											class="form-control" ng-model="Job.dateend"  max="{{dayblock | date:'yyyy-MM-dd'}}"  required />
										<span class="text-danger"
											ng-show="formjob.dateend.$dirty && formjob.dateend.$error.required">{{'DATE_END_REQUIRED'
											| translate}}</span>
									</div>
							</div>
							<div class="form-group col-sm-12">
							<div class="md-form">
								<label for="phonejob">{{'PHONE' | translate}}</label>
								<input type="text" id="phonejob" name="phonejob" class="form-control"  maxlength="12"
									ng-pattern="/^[0-9]{1,8}$/" ng-model="Job.phonejob" />								
								<span class="text-danger "
									ng-show="formjob.phonejob.$error.pattern">{{'NUMBER_NVALIDATE' | translate}}</span>
							</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">
									<label for="salaryjob" class="active">{{'SALARY_JOB' |
										translate}} </label> 
										<input type="number" id="salaryjob" name="salaryjob"  class="form-control"
										ng-model="Job.salaryjob" />
								</div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="schedulejoboffer" class="active" >{{'SCHEDULE_JOB_OFFER' | translate}} </label>
									<select name="schedulejoboffer" id="schedulejoboffer" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.schedulejoboffer"																				
										ng-options="item as item.desc_schedu for item in ScheduleJobOffer | orderBy:'desc_schedu'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="schoollevel" class="active" >{{'SCHOOL_LEVEL' | translate}} </label>
									<select name="schoollevel" id="schoollevel" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.schoollevel"																				
										ng-options="item as item.desc_schoollevel for item in Schoollevel | orderBy:'desc_schoollevel'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
								<div class="md-form">  												
									<label for="contracttype" class="active" >{{'CONTRACT_TYPE' | translate}} </label>
									<select name="contracttype" id="contracttype" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.contracttype"																				
										ng-options="item as item.desc_contracttype for item in ContractType | orderBy:'desc_contracttype'" >
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-12">
							<div class="md-form">								
									 <label for="professionalexperience" class="active" >{{'PROFESSIONALEXPERIENCE' | translate}} </label>
									<select name="professionalexperience" id="professionalexperience" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Job.professionalexperience"																				
										ng-options="item as item.desc_professionalexperience for item in ProfessionalExperience | orderBy:'desc_professionalexperience'" >
									</select>  
								 </div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="clearfield()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'ACCEPT' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled="!formjob.$valid"
							ng-click="savejob(Job)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal empleo -->
	<!-- inicio modal calificacion -->
	<modal title="{{'CALIFICATION' | translate}}" visible="showModalRating"
		class="formodals-hide">

	<div class="modal-dialog modal-sm" role="dialog">
		<div class="modal-content">
			<form class="form" name="ComentRating">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'CALIFICATION' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="CerrarModalComent()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="row paddingleft20">
							<div star-rating rating-value="rating" max="5"
								readonly="forreadonly"
								on-rating-selected="getSelectedRating(rating)"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal calificacion -->
	<!-- inicio modal report -->
	<modal title="{{'REPORT_BUSI' | translate}}" visible="showModalReport"
		class="formodals-hide">
	<div class="modal-dialog modal-sm" role="dialog">
		<div class="modal-content">
			<form class="form" name="ReportForm">
				<div class="modal-header-ecrece">
					<h3 class="modal-title">{{'REPORT_BUSI' | translate}}</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" ng-click="closemodalreport()">
						<span class="icon-CerrarVentana" style="font-size: 10px;"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="md-form">  
						<label for="desc_report" class="active">{{'REASON' | translate}}<span class="asteristo"> *</span></label>
						<input type="text" id="desc_report" onpaste="return false" maxlength="255" name="desc_report" class="form-control"
							ng-model="ModReport.desc_report" required />						
				   	</div>
				</div>
				<div class="modal-footer modal-footer-ecrece">
					<div>
						<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED'
							| translate}}</label>
					</div>
					<div>
						<button type="button" title="{{'CLEAN' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="clearmodalreport()">
							<span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN'
							| translate}}
						</button>
						<button type="button" title="{{'ACCEPT' | translate}}"
							class="btn btn-a-ecrece btn-withoutshadow"
							ng-disabled="!ReportForm.$valid"
							ng-click="Report(ModReport)">
							<span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' |
							translate}}
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	</modal>
	<!-- fin modal report -->
	
	<div class="row">
	<div class="col-lg-2">
		<div class="dropdown">
			<button
				class="btn btn-transparent btn-withoutshadow touppercase pding-left"
				ng-disabled="isowner()" id="navbarDropdownMenuLink-3331"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'NEW_BUSINESS' | translate}}">
				<div style="display: inline-flex; align-items: center;">
					<span class="icon-Adicionar" style="font-size: 24px;"></span><a
						style="margin-left: 5px;" class="touppercase">{{'BUSINESS' |
						translate}}</a>
				</div>
			</button>
			<div class="dropdown-menu dropdown-menu-left dropdown-default"
				style="border: none; background-color: transparent;"
				aria-labelledby="navbarDropdownMenuLink-3331">
				<a class="dropdown-item " style="padding: 6px;"
					ng-click="gonewbusiness()" title="{{'NEW_BUSINESS' | translate}}">{{'NEW_BUSINESS' | translate}}<span
					class="sr-only"></span></a> <a class="dropdown-item "
					style="padding: 6px;" ng-click="clonebusines()" title="{{'CLONE' | translate}}">{{'CLONE' |
					translate}}<span class="sr-only"></span>
				</a>
			</div>

		</div>
		</div>
		<div class="col-lg-10 form-inline aling-btn-left-busidet">
		
		<button type="button" title="{{'BACK' | translate}}"
				class="btn btn-a-ecrece btn-withoutshadow" ng-click="back()">{{'BACK'
				| translate}}</button>
				<span ng-if="Business.latitude != null && Business.longitude != null" class="icon-SeparadorMenu"></span>
		<button type="button" title="{{'CALC_ROUTE' | translate}}" ng-disabled="disableroute"
				class="btn btn-a-ecrece btn-withoutshadow" ng-click="showroute()">{{'ROUTE'
				| translate}}</button> 	
				<span ng-if="logged" class="icon-SeparadorMenu"></span>			
				<div ng-if="logged">						
		<button ng-if=" favo == false" type="button" title="{{'FAVORITE_UNCHECK' | translate}}"
				class="btn btn-a-ecrece btn-withoutshadow" ng-click="checkfavorite()">
				<img style="width: 22px;" alt="{{'FAVORITE_UNCHECK' | translate}}"
				src="{{imguncheck}}" />
				</button>		
		<button ng-if=" favo == true" type="button" title="{{'FAVORITE_CHECK' | translate}}"
				class="btn btn-a-ecrece btn-withoutshadow" ng-click="uncheckfavorite()" >
				<img style="width: 22px;" alt="{{'FAVORITE_CHECK' | translate}}"
				src="{{imgcheck}}" />
				</button>
				</div>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<img width="90%" alt="{{'BUSINESS_IMG' | translate}}"
				src="{{Business.name_image}}" title="{{'BUSI_IMAG' | translate}}"/>
				<div ng-if="inreview"><strong><span>{{'BUSINESS_NOT_VISIBLE' | translate}}</span></strong>
				</div>
		</div>
		<!-- INICIO COLUMNA DEL MEDIO  -->
		<div class="col-xs-12 col-sm-12 col-md-4 padding0">
			<!-- prueba rating -->
			<div class="pding-left">
				<h2 ng-click="edit()" class="color-link"  title="{{'BUSINESS_NAME' | translate}}">
					<strong>{{Business.name_business}} </strong>
				</h2>
			</div>
			<div class="row paddingleft20" ng-show="showcalification" title="{{'RATINGS' | translate}}">
				<div star-rating rating-value="rating" max="1"
					readonly="forreadonly"></div> <span class="class-foravg">({{avgcalification}}/{{countcalification}})</span>
			</div>
			<div class="paddingleft20">
				<span ng-show="showhorario == 1" class="touppercase">{{'UNKNOW'
					| translate}}</span> <span ng-show="showhorario == 2" class="touppercase">{{'CLOSETODAY'
					| translate}}</span> <span ng-show="showhorario == 3" class="touppercase">{{'OPEN_TODAY'
					| translate}}</span> <label ng-show="showhorario == 3 && tfhours == false"><i
					class="far fa-clock pr-2"></i>{{horainicio}}/{{horafin}}</label> <label
					ng-show=" tfhours == true"><i class="far fa-clock pr-2"></i>{{'TFHOURS'
					| translate}}</label>
			</div>
			<label class="paddingleft20" for="desc_business"><strong>{{'CATEGORY'
				| translate}}:</strong> {{Business.subcategory[0].category.name_category}}</label>
			<div class="paddingleft20">
				<label for="desc_business"><strong>{{'DESCRIPTION' | translate}}</strong></label>
			</div>
			<div class="paddingleft20">
				<label for="desc_business">{{Business.desc_business}}</label>
			</div>
			<table>
				<thead>
					<tr>
						<span class="touppercase pding-left">{{'FUNCIONALITIES' |
							translate}}</span>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in Funcionalidades">
						<td>
							<ul type="circle" class="ecrece pding-left-detailbusi" style="margin-bottom: 0px;">
								<li>
									<button type="button"
										class="btn btn-a-ecrece btn-withoutshadow formodals-show"
										style="margin: .12rem;" ng-disabled="toreadonly(item)"
										ng-click="AdicionarModalForItem(item)"
										title="{{item.nameFuncionality}}" >
										<span>{{ item.nameFuncionality }}</span>
									</button>
									<button type="button"
										class="btn btn-a-ecrece btn-withoutshadow formodals-show"
										style="margin: .12rem;" ng-disabled="toreadonly(item)"
										ng-click="AdicionarModalFullCalendar()"
										ng-show="item.nameFuncionality=='Reservaciones' && logged" title="{{'CALENDAR_RESERVACIONES' | translate}}">
										<img style="width: 22px;" alt="{{'RESERVATIONS' | translate}}"
											src="{{imgcalendar}}" />
									</button>

								</li>
							</ul>
						</td>
					</tr>
				</tbody>

			</table>
			<button type="button" title="{{'FUNCIONALITIES_OBTAIN' | translate}}"
				ng-show="showobtainfuncionality"
				class="btn btn-a-ecrece btn-withoutshadow paddingleft20 formodals-show margin0-detailbusi"
				ng-click="AdicionarModal()">
				<span>{{'FUNCIONALITIES_OBTAIN' | translate}}</span>
			</button>
			<button type="button" title="{{'REPORT_BUSINESS' | translate}}"
				ng-if="!mybu && showreport()"
				class="btn btn-a-ecrece btn-withoutshadow" ng-click="showreportmodal()">
				<span>{{'REPORT' | translate}}</span>
			</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4" >
			<openlayers ol-center="center" title="{{'MAP_UBICATION' | translate}}"> 
			<ol-marker
				ng-repeat="marker in markersbusi" ol-marker-properties="marker"></ol-marker>
			</openlayers>
			<div class="pding-topdown-dir" title="{{'DIRECCION' | translate}}">
				<span class="icon-BuscarMapa" style="font-size: 24px; padding-right: 10px;"></span><label
					for="dir_business"> {{Business.dir_business}}</label>
			</div>
		</div>
	</div>
	<div id="accordion" ng-if="coments.length > 0">
		<div class="card bgcomentcard">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn btn-a-ecrece btn-withoutshadow collapsed text-capitalize" data-toggle="collapse"
						data-target="#collapseTwo" aria-expanded="false"
						aria-controls="collapseTwo" title="{{'COMENT_REALIZADOS' | translate}}">
						{{'COMENTS' | translate}} <span class="badge badge-warning ml-2">{{coments.length}}</span>
					</button>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordion">
				<div class="card-body">
					<div class="row" style="line-height: 1;"
						ng-repeat-start="item in coments">
						<div class="col-md-1 col-md-offset-1"></div>
						<div >
							<div class="circulo text-capitalize text-white">
							  <span><strong>{{item.iduser.nameUser| limitTo:1 }}</strong></span>
							</div>
						</div>
						<div class="form-group col-sm-8" style="align-items: initial">
							<div class="text-capitalize font-weight-bold">{{item.iduser.nameUser}}</div>
							<div ><span class="text-muted"><small>{{ item.date_coment |
								date:'dd-MM-yyyy' }}</small></span></div>
								<div >{{ item.desc_coment }}</div>
						</div>
						<div>
						<div ng-show="mybu"
							class=" form-group btn btn-a-ecrece btn-withoutshadow text-capitalize"
							ng-click="replycoment(item)">{{'REPLY_COMENT' | translate}}
						</div>
						<div ng-show="isadmin"
							class=" form-group btn btn-a-ecrece btn-withoutshadow text-capitalize"
							ng-click="deletecoment(item)">{{'DELETE' | translate}}
						</div>
						</div>
					</div>
					<div class="row" style="line-height: 1;" ng-repeat="item2 in item.replyComent">
						<div class="col-md-2 col-md-offset-2"></div>
						<div >
							<div class="circulo text-capitalize text-white">
							  <span><strong>{{item2.replyforiduser.nameUser| limitTo:1 }}</strong></span>
							</div>
						</div>
						<div class="form-group col-sm-8" style="align-items: initial">
							<div class="text-capitalize font-weight-bold">{{item2.replyforiduser.nameUser}}</div>
							<div ><span class="text-muted"><small>{{ item2.date_replycoment |
								date:'dd-MM-yyyy' }}</small></span></div>
								<div >{{ item2.desc_replycoment }}</div>
						</div>
					</div>
					<div ng-repeat-end></div>
				</div>
			</div>
		</div>
	</div>	
</div>

