<br/>
<br/>
<br/>
<script>
// Add active class to the current button (highlight it)
$('.inicio-fondocategorias button.btn').click(function(){
	$('.inicio-fondocategorias button.btn').removeClass('active');
	$(this).addClass('active');
})
</script>
<div>
	<div class="container">
		 <div >
          <form class="form-headersearchlist">
            <div class="inicio-search">
            <div class="row form-inline justify-content-center align-items-center">					 
              <div class="col-12 col-sm-5">               
                <input autocomplete="off" id="find_desc" maxlength="64" name="find_desc" placeholder="Buscar negocios" value="" ng-model="Search" class="form-control form-control-lg form-control-ecreceSearch" aria-autocomplete="list" tabindex="1" list="list">
              </div>
              <div class="col-12 col-sm-3 col-lg-4">               
                  		 <select name="category" id ="category" class="form-control form-control-lg form-control-ecreceSearch" ng-model="Category"
                                    ng-init="Category = Category || Categorias[0].idcategory"
									ng-options="item.idcategory as item.name_category for item in Categorias  | orderBy:'name_category'"> 
									<option value="" disabled hidden selected>{{'CATEGORY' | translate}}</option>                              
                            </select>             
               </div>
              <div class="col-6 col-sm-3 col-lg-2">
                		<button type="submit" class="btn boton-descarga bottom-search-color"  ng-click="Searching()">{{'SEARCH' | translate}}</button>
              </div>                           		              		 
			</div>
				<div class="form-inline pding-left-boxsearch">
				<div class="custom-control custom-checkbox" ng-if="Islogged">
				  <input type="checkbox" class="custom-control-input" id="favorite" ng-model="Favorite" ng-click="checkfavo()">
				  <label class="custom-control-label paddingspan-modalbusinesnoti" for="favorite">{{'FAVORITES' | translate}}</label>
				</div>
				<div class="custom-control custom-checkbox" ng-if="Islogged">
				  <input type="checkbox" class="custom-control-input" id="lastsearch" ng-model="LastSearch" ng-click="checklastsearch()">
				  <label class="custom-control-label" for="lastsearch">{{'LAST_SEARCH' | translate}}</label>
				</div>
				</div>
					
			</div>		
				<div class="inicio-fondocategoriassearch d-none d-sm-block ">						
				<div class="row form-inline justify-content-center" id="myDIV">	
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller"  ng-click="changecategorybyBotons('Belleza')"data-toggle="tooltip"
						  data-placement="bottom" title="{{'BEAUTY' | translate}}">
						   <span class="icon-Belleza" ></span></button>						
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" ng-click="changecategorybyBotons('Alimentos')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'FOODGASTRONOMY' | translate}}">
					<span class="icon-Alimentos"></span></button>
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller"   ng-click="changecategorybyBotons('Confecciones')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'CLOTHING' | translate}}">
					<span class="icon-Confecciones"></span></button>					
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" ng-click="changecategorybyBotons('Construcción')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'CONSTRUCTIONREPAIR' | translate}}">
					<span class="icon-Construccin"></span></button>
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" ng-click="changecategorybyBotons('Educación')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'EDUCATION' | translate}}"><span class="icon-Educacin"></span></button>
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller"  ng-click="changecategorybyBotons('Recreación')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'RECREATION' | translate}}"><span class="icon-Recreacion"></span></button>
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" ng-click="changecategorybyBotons('Transportación')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'TRANSPORTATION' | translate}}">
					<span class="icon-Tranportacin"></span></button>
					<button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" ng-click="changecategorybyBotons('Inmuebles')" data-toggle="tooltip"
						  data-placement="bottom" title="{{'HOMESERVICES' | translate}}">
					<span class="icon-Inmuebles"></span></button>
					<div ng-click="changecategorybyBotons('Otros')"><button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" data-toggle="tooltip"
						  data-placement="bottom" title="{{'OTHERSERVICES' | translate}}"><span class="icon-Otros"></span></button></div>
					<div ng-click="changecategorybyBotons('Flora')"><button type="button" class="btn btn-a-ecrece btn-withoutshadow material-tooltip-smaller" data-toggle="tooltip"
						  data-placement="bottom" title="{{'FLORAFAUNA' | translate}}"><span class="icon-Flora" ></span></button></div>
				</div> 
				</div>
		  </form>  
          <datalist id="list">
			  <option ng-repeat="item in Business | filter:{$:Search}" value="{{item.name_business}}">   </option>			 			 
			</datalist>        
        </div> 
          <script type="text/javascript">
	       /*   $(function () {
	        	  $('.material-tooltip-smaller').tooltip({
	        	    template: '<div class="tooltip md-tooltip"><div class="tooltip-arrow md-arrow"></div><div class="tooltip-inner md-inner"></div></div>'
	        	  });
	        	})  */
	        	 $(function () {
	        		$('[data-toggle="tooltip"]').tooltip()
	        		}) 
	  </script> 
	</div>
</div>
<br/>
<div class="container">
<tr><div ng-if= "pagedItems.length==0" style="float: left;">{{'NOT_RECORD ' | translate}}</div></tr>
<div class="row" ng-if= "pagedItems.length>0">
<div class="col-lg-9 col-md-12 col-sm-12">
	<div class="container ">		
		<table class="table-ecrece table-hover table-striped">
			<tbody>
				<tr>
					<div  ng-show="logueado()">
						<button type="button" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow"
							ng-click="gonewbusiness()"><span class="icon-Adicionar"
								style="font-size:24px;"></span></button> {{'BUSINESS' | translate}}
					</div>
				</tr>
				<tr>
					<div class="grid">
						<div ng-repeat="item in pagedItems[currentPage] ">
							<div class="row">
											 <div class="col-xs-12 col-md-5 padding0 ">
												<img class="card-img-top" ng-src="{{rutaimagen}}{{item.name_image}}"
													alt="{{'BUSINESS_IMG' | translate}}">
												<!-- end row -->
											 </div> 
											 <div class="col-xs-12 col-md-7 padding5"> 
												<div class="card-ecrece" >
													<div class="card-body">
														<h5 class="card-title">{{item.name_business}}</h5>
														<p class="card-text"> {{ item.dir_business }}</p>
														<button  title="{{'READ_MORE' | translate}}"
															class="btn btn-a-ecrece btn-withoutshadow"
															ng-click="get(item)">{{'READ_MORE' | translate}}</button>

													</div>
												</div>
											 </div> 							
							</div>
						</div>
					</div>
				</tr>
			</tbody>
		</table>
		
	<tfoot>
			  <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                    
        </tfoot>
	</div>	
</div>
<div  class="col-sm-12 col-lg-3 paddingmapsm">
	 <openlayers  ol-center="center" >   	      
	   <ol-marker ng-repeat="marker in markersbusi" ol-marker-properties="marker"></ol-marker>
	   </openlayers> 
	</div>
</div>
</div>


