<br />
<br />
<br />
<div class="container paddingmapsm">
<modal title="{{'BUSINESS_SCHEDULE' | translate}}" >		
			<div class="modal-dialog modal-lg" role="dialog">
				<div class="modal-content">
				<form class="form" name="scheduleform" novalidate>
					<div class="modal-header-ecrece">
						<h3 class="modal-title">{{'BUSINESS_SCHEDULE' | translate}}</h3>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
							ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></button>
					</div>
					<div class="modal-body">
						<!-- Inicio nuevo horario -->
					<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5">
						<table class="table table-borderless table-sm">
								<tr>
								 	<td>
									 	<div class="custom-control custom-checkbox">
										    <input type="checkbox" class="custom-control-input" id="defaultUnchecked" ng-click="selectedalldays()" ng-checked="selectAll">
										    <label class="custom-control-label" for="defaultUnchecked"><strong>{{'ALL' | translate}}</strong></label>
										</div>
									</td>
									<td ><strong>{{'WEEKDAY' | translate}}</strong></td>
								</tr>
								<tr ng-repeat="dia in dias">
									<td >
									<div class="custom-control custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="{{dia.id}}" name="selectedday[]"
								  value="{{dia.id}}" ng-checked="diaseleccionados.indexOf(dia) > -1"
								  ng-click="daysselected(dia)">
								  <label class="custom-control-label" for="{{dia.id}}"></label>
								</div> </td>
									<td > {{dia.name}} </td>
								</tr>
								
							</table>
					</div>
					
					<div class="col-xs-12 col-sm-7 col-md-7">
						<div class="row" style="padding-top: 9px;"><strong>{{'SCHEDULES' | translate}}</strong>
						<div class="custom-control custom-checkbox tfhours-paddingleft">
							    <input type="checkbox" class="custom-control-input" id="tfhour" ng-click="tfhours()" ng-checked="selecttfhours">
							    <label class="custom-control-label" for="tfhour"><strong>{{'TFHOURS' | translate}}</strong></label>
							</div>
							</div>
						<div class="row" style="padding-top: 15px;">
						  <div class="col">		
						  <div class="custom-control custom-radio">
							  <input type="radio" class="custom-control-input" id="defaultGroupExample1" ng-model="Business.weekday" value="1" type="radio" name="weekday" ng-checked = "horario1">
							  <label class="custom-control-label" for="defaultGroupExample1">1</label>
							</div>
							</div>
							<div class="col">
							<div class="custom-control custom-radio">
							  <input type="radio" class="custom-control-input" id="defaultGroupExample2" ng-model="Business.weekday" value="2" type="radio" name="weekday" ng-checked = "horario2">
							  <label class="custom-control-label" for="defaultGroupExample2">2</label>
							</div>
							</div>
							<div class="col">
								<div class="custom-control custom-radio">
								  <input type="radio" class="custom-control-input" id="defaultGroupExample3" ng-model="Business.weekday" value="3" type="radio" name="weekday" ng-checked = "horario3">
								  <label class="custom-control-label" for="defaultGroupExample3">3</label>
								</div>
							</div>
						</div>	
						<div class="row">	
								<div class="col">{{'FROM' | translate}} 
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 1 || Business.weekday == 2 || Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="8am"
										class="form-field" format="HH:mm:ss"
										ng-model="Business.h_star" 
										></timepicker>
									</div>	
									
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 2 || Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="8am"
										class="form-field" 
										ng-model="Business.h_star1" 
										></timepicker>
									</div>
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="8am"
										class="form-field" 
										ng-model="Business.h_star2" 
										></timepicker>
									</div>
								
								</div>					
								<div class="col">{{'TO' | translate}}
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 1 || Business.weekday == 2 || Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="7pm"
											class="form-field" format="HH:mm:ss"
											ng-model="Business.h_end" 
										></timepicker>
									</div>
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 2 || Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="7pm"
											class="form-field" 
											ng-model="Business.h_end1" 
										></timepicker>
									</div>
								
									<div class="form-group md-form" style="margin-top: 0px; margin-bottom: 0px;" ng-show="Business.weekday == 3">
										<timepicker id="id_time" name="time" default-time="7pm"
											class="form-field" 
											ng-model="Business.h_end2" 
											></timepicker>	
									</div>
								</div>
							</div>
							<div>
								<button type="button" title="Adicionar" class="btn btn-a-ecrece btn-withoutshadow"	
								ng-disabled="toshowbottomaddschedule()"							
									ng-click="adicionarhorario()">{{'ADD' | translate}}<label>({{'ADD_SCHEDULE' | translate}})</label></button>
									
						</div>
					</div>
					</div>					
					
						<!-- Fin nuevo horario -->
					
					<!-- Inicio antiguo horario -->
						<input type="hidden" id="idschedule" name="idschedule" class="form-control" readonly="readonly"
							ng-model="Business.idschedule" />						
						<div ng-show = "addfortableSchedule.length >0">
							<table class="table table-sm">
								<thead >
								<tr>
									<th>{{'FUNC_DAYS' | translate}}</th>
									<th>{{'1STARTTIME' | translate}}</th>
									<th>{{'1ENDTIME' | translate}}</th>
									<th>{{'2STARTTIME' | translate}}</th>
									<th>{{'2ENDTIME' | translate}}</th>
									<th>{{'3STARTTIME' | translate}}</th>
									<th>{{'3ENDTIME' | translate}}</th>
									<th>{{'ACTIONS' | translate}}</th>
								</tr>
								</thead>
								<tbody>
								<tr ng-repeat="item in addfortableSchedule | orderBy: 'weekday'">
									<td class="td-ecrece-white">{{dias[item.weekday].name}}</td>
									<td class="td-ecrece-white">{{item.h_star | date:'HH:mm'}}<span ng-if="item.tfhours == true">{{'TFHOURS' | translate}}</span></td>
									<td class="td-ecrece-white">{{item.h_end | date:'HH:mm'}}</td>
									<td class="td-ecrece-white">{{item.h_star1 | date:'HH:mm'}}</td>
									<td class="td-ecrece-white">{{item.h_end1 | date:'HH:mm'}}</td>
									<td class="td-ecrece-white">{{item.h_star2 | date:'HH:mm'}}</td>
									<td class="td-ecrece-white">{{item.h_end2 | date:'HH:mm'}}</td>
									<td>										
										<button title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow" ng-click="deletehorario(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
									</td>
								</tr>
								</tbody>
							</table>
	
						</div>
						<div class="modal-footer modal-footer-ecrece">
						<div></div>
						<div>
							<button type="button" title="{{'SAVE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"	style="color: #00CCFF;" 							
								ng-click="CerrarModal()">{{'SAVE' | translate}}</button>
							<button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" style="color: #00CCFF;" 
								ng-click="CerrarModal()"><span
									class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
									</div>
						</div>
					</div>
					</form>
				</div>
				</div>
		
	</modal>
	<form class="form" name="BusinessForm" novalidate>
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{'BUSINESS' | translate}}</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" ng-show="verMessageError">
					<p ng-bind-html="errorMessage"></p>
				</div>
				<input type="hidden" id="idbusiness" name="idbusiness" class="form-control" readonly="readonly"
					ng-model="Business.idbusiness" />
				<div class="row">
					<div class="col-lg-8 col-md-8  col-sm-12">
						<div class="row">
							<div class="form-group col-sm-4">
								 <div class="md-form">  
									<label for="name_business" class="active">{{'BUSINESS_NAME' | translate}}<span class="asteristo"> * </span></label>
									<input type="text" id="name_business" name="name_business" class="form-control"
										ng-model="Business.name_business" maxlength="255" autofocus required />
									<span class="text-danger"
										ng-show="BusinessForm.name_business.$dirty && BusinessForm.name_business.$error.required">{{'BUSINESS_NAME_REQUIRED' | translate}}</span>
										<span class="text-danger"
										ng-show="BusinessForm.name_business.length > 255">{{'BUSINESS_NAME_REQUIRED' | translate}}</span>
								 </div>
							</div>
							<div class="form-group col-sm-4">
								<div class="md-form">  												
									<label for="province" class="active" >{{'PROVINCES' | translate}} <span class="asteristo"> * </span></label>
									<select name="province" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Business.Province"
										ng-change="changeprovince()"
										ng-init="Business.Province = Business.Province || Provincias[0].idprovince"
										ng-options="item.idprovince as item.name_province for item in Provincias | orderBy:'name_province'">
									</select> 
								 </div>
							</div>
							<div class="form-group col-sm-4">
							  <div class="md-form">  	
									<label for="municipality" class="active">{{'MUNICIPALITY' | translate}}<span class="asteristo"> *</span>	</label>
									<select name="municipality" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-model="Business.municipality"
										ng-init="Business.municipality = Business.municipality || Municipios[0].idmunicipality"
										ng-options="item.idmunicipality as item.name_municipality for item in Municipios | orderBy:'name_municipality'" required>
									</select>
							 </div>
							</div>
						</div>	
						<div class="row">
					<div class="form-group col-sm-12">
					<div class="md-form">  
						<label for="dir_business" class="active">{{'BUSINESS_DIR' | translate}}<span class="asteristo"> *</span></label>
						<input type="text" id="dir_business" name="dir_business" class="form-control"
							ng-model="Business.dir_business"  maxlength="255" required />
						<span class="text-danger"
							ng-show="BusinessForm.dir_business.$dirty && BusinessForm.dir_business.$error.required">{{'BUSINESS_DIR_REQUIRED' | translate}}</span>
				   	</div>
					</div>
				</div>
						

					<div class="row">
						<div class="form-group col-sm-8">
							<div class="md-form">  
								<label for="desc_business" class="active">{{'BUSINESS_DESC' | translate}}<span class="asteristo"> *</span></label>
								<textarea rows="" cols="" id="desc_business" name="desc_business" class="md-textarea form-control"
									ng-model="Business.desc_business"  maxlength="255" required></textarea>
								<!-- input type="text" id="desc_business" name="desc_business" class="form-control" ng-model="Business.desc_business" required/-->
								<span class="text-danger"
									ng-show="BusinessForm.desc_business.$dirty && BusinessForm.desc_business.$error.required">{{'BUSINESS_DESC_REQUIRED' | translate}}</span>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<div class="md-form">  
								<label for="web_site" class="active">{{'BUSINESS_WEBSITE' | translate}}</label>
								<input type="text" id="web_site" name="web_site" class="form-control"  maxlength="255"
									ng-model="Business.web_site" />
								<span class="text-danger"
									ng-show="BusinessForm.web_site.$dirty && BusinessForm.web_site.$error.required">{{'BUSINESS_WEBSITE_REQUIRED' | translate}}</span>
							</div>
						</div>
					</div>

				<div class="row">
					<div class="form-group col-sm-4">
						<div class="md-form">
							<label for="category" class="active">{{'CATEGORY' | translate}}</label>
							<select name="category" id="category" class="form-control input-lg border-left-0 border-right-0 border-top-0" ng-change="changecategory()"
								ng-model="Business.Category"
								ng-init="Business.Category = Business.Category || Categorias[0].idcategory"
								ng-options="item.idcategory as item.name_category for item in Categorias | orderBy:'name_category'">
							</select>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<div class="md-form">
							<label for="licence_business" class="active">{{'BUSINESS_LICENSE' | translate}}</label>
							<input type="text" id="licence_business" name="licence_business" class="form-control"  maxlength="255"
								ng-model="Business.licence_business" />
							<span class="text-danger"
								ng-show="BusinessForm.licence_business.$dirty && BusinessForm.licence_business.$error.required">{{'BUSINESS_LICENSE_REQUIRED' | translate}}</span>
						</div>
					</div>
					<div class="form-group col-sm-4">
						<div class="md-form">
							<label for="phone_business" class="active">{{'BUSINESS_PHONE' | translate}}</label>
							<input type="text" id="phone_business" name="phone_business" class="form-control"  maxlength="12"
								ng-pattern="/^[0-9]{1,8}$/" ng-model="Business.phone_business" />
							<span class="text-danger"
								ng-show="BusinessForm.phone_business.$dirty && BusinessForm.phone_business.$error.required">{{'BUSINESS_PHONE_REQUIRED' | translate}}</span>
							<span class="text-danger "
								ng-show="BusinessForm.phone_business.$error.pattern">{{'NUMBER_NVALIDATE' | translate}}</span>
						</div>
					</div>					
				</div>
					<div class="row">											
						<div class="form-group select-subcategory" >		
							<div class="md-form input-group mb-3 col-sm-12" style="padding-right: 10px;">							
							  <label for="subcategory" class="active"  style="padding-left: 45px;"   >{{'SUBCATEGORY' | translate}}</label>
									<select name="subcategory" id="subcategory" class="form-control input-lg border-left-0 border-right-0 border-top-0"
										ng-model="Business.Subcategory"
										ng-init="Business.Subcategory = Business.Subcategory || Subcategorias[0].idsubcategory"
										ng-options="item.idsubcategory as item.name_subcategory for item in Subcategorias | orderBy:'name_subcategory'"
										ng-disabled="Subcategorias.length ===0">
									</select>
									 <button type="button" title="{{'ADD' | translate}}" class="btn btn-ecrece btn-withoutshadow"
										ng-disabled="Subcategorias.length ===0" ng-click="addsubcategorybusiness(Business)">
										
											<!-- <span class="icon-Adicionar" style="font-size:24px;"></span> -->
											<span class="btn btn-a-ecrece btn-withoutshadow"> {{'ADD' | translate}}</span>
													</button>
							</div>					
						</div>									
						<div class="container">
							<div class="alert alert-danger" ng-show="verMessageSubcategory && addSubCategorias.length==0">{{ MessageSubcategory | translate}}</div>
						<table class="table-ecrece table-bordered table-hover table-striped">
							<thead class="thead-ecrece">
								<tr>
									<th>{{'SUBCATEGORY' | translate}}</th>
									<th>{{'ACTIONS' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="p in addSubCategorias">
									<td>{{ p.name_subcategory}}</td>
									<td>
										<button title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow"
											ng-click="deleteaddsubcategory(p)"><span class="icon-EliminarRelleno"
												style="font-size:24px;"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						
					</div>	
				</div>
					<!--Fin de la primera columna-->

				<div class="col-lg-4 col-md-4 col-sm-12">			
						
							<div class="form-group">
								<label for="mapa_business">{{'MAP' | translate}}</label>
								<div>
								 	<openlayers  ol-center="center" ol-defaults="defaults">									
								      <ol-marker ng-if="Business.latitude != 0" ol-marker-properties="businessmark" ><span></span></ol-marker> 
								    </openlayers> 		
								</div>
								<div class="input-group" style="padding-top: 10px;">
								  <div class="custom-file">
								  <input type="file" name="file-input" id="file-input" file-model="myFile" 
									accept="image/png, .jpeg, .jpg, image/gif" required  class="custom-file-input"  aria-describedby="inputGroupFileAddon01"/>
									<label for="file-input" class="custom-file-label">{{'BUSINESS_IMAGE' | translate}}<span class="asteristo"> *
										</span></label>
								  </div>
								  <span class="text-danger"
									ng-show="BusinessForm.file-input.$dirty && BusinessForm.file-input.$error.required">{{'BUSINESS_IMAGE_REQUIRED' | translate}}</span>
								</div>
								
							</div>	
							<div class="alert alert-danger" ng-show="verMessageImage && myFile===undefined">{{ MessageImage | translate}}</div>						
							<div>
								<img ng-hide="myFile===undefined" id="imgSalida" class="col-sm-12"  src="" />
							</div>
							<!-- <div>
								<img ng-hide="myFile!=undefined" class="col-sm-12"  src="{{pathimage}}{{Business.name_image}}" />
							</div> -->							
							<div>
									<button type="button" title="{{'BUSINESS_SCHEDULE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" style="color: #00CCFF;" 
										ng-click="AdicionarModal()">{{'BUSINESS_SCHEDULE' | translate}}</button>
								</div>
					</div>
					</div>
				</div>
			<!--Fin de las filas-->

			<div class="modal-footer modal-footer-ecrece">
					<div> 
							<label class="asteristo"> * </label><label>{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
				<button type="button" title="{{'SAVE' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-disabled="(!BusinessForm.$valid)" ng-click="save(Business)"><span
						class="glyphicon glyphicon-floppy-disk"></span>{{'SAVE' | translate}}</button>
				<button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
					ng-click="out()"><span
						class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
			</div>
		</div>
	</form>
</div>