 <br/>
  <br/>
   <br/>
<div class="container padding-carddetail">
	  <!--inicio modal de Negocio  -->
		 <modal title="{{'BUSINESS' | translate}}" visible="showModalBusiness" >
	            <div class="modal-dialog modal-lg" role="dialog">
	                <div class="modal-content">
	                    <div class="modal-header-ecrece">                    
	                     <h3 class="modal-title">{{'BUSINES' | translate}}: {{BusinessDetail.name_business}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                    </div>
	                    <div class="modal-body">
	                    <input type="hidden" id="idnotification" class="form-control" readonly="readonly" ng-model="BusinessDetail.idnotification" />
	                    						
						<div class="row">
						 <div class="col-lg-8 col-md-8  col-sm-12">
							<div class="row md-form">
							
                       		 <div class="form-group col-sm-4">
                       		  <label for="muni" class="active pdingleft-modal-notif-busi ">{{'MUNICIPALITY' | translate}}<span class="asteristo"> *</span></label>
								<input type="text" id="muni" name="muni" class="form-control "
									ng-model="BusinessDetail.municipality.name_municipality" ng-disabled="true" />
                       		 </div>
                       		 <div class="form-group col-sm-4">
	                            <label for="phone_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_PHONE' | translate}}</label>
							<input type="text" id="phone_business" name="phone_business" class="form-control "
								ng-pattern="/^[0-9]{1,8}$/" ng-model="BusinessDetail.phone_business" ng-disabled="true"/>
							</div>
							<div class="form-group col-sm-4">
	                            <label for="licence_business"  class="active pdingleft-modal-notif-busi">{{'BUSINESS_LICENSE' | translate}}</label>
							<input type="text" id="licence_business" name="licence_business" class="form-control "
								ng-model="BusinessDetail.licence_business" ng-disabled="true"/>
							</div>
	                       
							</div>
							<div class="row md-form">
	                        <div class="form-group col-sm-4 col-lg-12" >
	                            <label for="desc_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_DESC' | translate}}<span class="asteristo"> *</span></label>
								<textarea rows="" cols="" id="desc_business" name="desc_business" class="md-textarea form-control "
									ng-model="BusinessDetail.desc_business" ng-disabled="true"></textarea>
	                        </div>
	                        <div class="form-group col-sm-4 col-lg-12 marginbottom-modalbusinesnoti">
	                           <label for="dir_business" class="active pdingleft-modal-notif-busi">{{'BUSINESS_DIR' | translate}}<span class="asteristo"> *</span></label>
								<input type="text" id="dir_business" name="dir_business" class="form-control "
									ng-model="BusinessDetail.dir_business" ng-disabled="true" />
							</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12 marginbottom-modalbusinesnoti">
								<span >{{'SUBCATEGORYS' | translate}}:</span>	   
								<span class="paddingspan-modalbusinesnoti " ng-repeat="p in addSubCategorias">{{ p.name_subcategory}}</span>	                         
						   </div>
						 </div>
						 </div>
						 <div class="col-lg-4 col-md-4 col-sm-8">
						   <div>
								<img  class="col-lg-10 col-md-8 col-sm-6 padding6"  ng-src="{{BusinessDetail.name_image}}" alt="{{'BUSINESS_IMAGE' | translate}}" />
							</div> 							
							<div ng-if="showmap">
								 <openlayers  ol-center="center" ol-defaults="defaults">
								      <ol-marker ng-if="markersbusi.length > 0" ng-repeat="marker in markersbusi" ol-marker-properties="marker"></ol-marker> 
								    </openlayers>  
							</div>  
							</div>
							</div>	
	                    </div>
	                    <div class="modal-footer modal-footer-ecrece" style="justify-content: flex-end;">
	                       
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow " ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
	                    </div>
	                </div>
	            </div>
	    </modal>
	 <!--fin modal de negoico  -->
	<modal title="{{'FUNCIONALITIES_LIST' | translate}}" visible="showModal" >	        
	            <div class="modal-dialog modal-lg" role="dialog">
	                <div class="modal-content">
	                <form class="form" name="BusinessListForm">
	                    <div class="modal-header-ecrece">                    
	                     <h3 class="modal-title">{{'FUNCIONALITIES_LIST' | translate}}</h3>
	                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
	                      </div>
	                    <div class="modal-body">
                         <table class="table-ecrece table-hover table-striped">
					        <thead class="thead-ecrece">
					        <tr>
					            <th><input type="checkbox" ng-model="selectAll" ng-click="selectedallFuncionalities()" /> {{'FUNCIONALITIES_LIST' | translate}}</th>
					            <th>{{'FUNCIONALITY_POINTS' | translate}}</th>
					            <th>{{'FUNCIONALITY_POINT_LESS' | translate}}</th>
				             	<th>{{'FUNCIONALITY_POINT_PLUS' | translate}}</th>
				             	<th>{{'DATE_END' | translate}}</th>
					        </tr>
					        </thead>
					        <tbody>
					        <tr ng-repeat="item in Funcionalitiestoo">
					            <td class="td-ecrece-white"><input type="checkbox" name="selectedfuncionality[]" value="{{item}}"
										    ng-checked="selectionfuncionality.indexOf(item) > -1"  ng-click="toggleSelectionFuncionality(item)" > {{item.nameFuncionality}}
								 </td>
								  <td class="td-ecrece-white"> {{ item.pointFuncionality }} </td>
								  <td class="td-ecrece-white"> {{ item.point_less }} </td>
								  <td class="td-ecrece-white"> {{ item.point_plus }} </td>
								   <td class="td-ecrece-white"><input type="date" name="input" ng-model="item.dateend"   min="{{diainicial | date: 'dd/MM/yyyy'}}"  />
								   </td>
								
			<!-- 					  <td class="td-ecrece-white"> {{ item.dateend | date:'dd-MM-yyyy'}} </td> -->
								 </tr>
					        </tbody>
					    </table>
	                         
						</div>
	                    <div class="modal-footer modal-footer-ecrece" style="justify-content: flex-end;">
	                        <button type="button" title="{{'ASSIGN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"   ng-disabled='selectionfuncionality.length===0' ng-click="asigfuncionality()"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ASSIGN' | translate}}</button>
	                        <button type="button" title="{{'CANCEL' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="CerrarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CANCEL' | translate}}</button>
	                    </div>
	                     </form>
	                </div>
	            </div>
	       
	    </modal>
    <div class="form-inline">
         <div>
             <button title="{{'FUNCIONALITY_ACTIVE' | translate}}" class="btn btn-withoutshadow" ng-disabled="selection.length===0" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:20px;"></span></button>
              <span class="touppercase">{{'FUNCIONALITY_ASSIGMENT' | translate}}</span>
        </div>
        <div class="ml-auto padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
        
        <tr>
            <th>{{'BUSINESS' | translate}}</th>
            <th>{{'BUSINESS_DIR' | translate}}</th>
            <th>{{'FUNCIONALITY' | translate}}</th>
            <th>{{'STATE' | translate}}</th>
            <th>{{'ACTIONS' | translate}}</th>
        </tr>
        <tr>
            <td class="width-colum-name">
            
            <div class="form-inline">
            <div class="aling-center-check">
            	 <input type="checkbox" ng-model="selectAllBusiness" ng-disabled="Business.length == 0" ng-click="selectedallBusiness()" />
            	 </div>
            	 <div class="aling-center-input">
            	<input type="search" id="id_search"  class="form-control-ecrece" placeholder="{{'NAME' | translate}}" ng-change="searchcbusi()" ng-model="search_name_business" />
            	</div>
            </div>
         </td> 
         <td class="width-colum-name"> <input type="search" id="id_search_dir"  class="form-control-ecrece" placeholder="{{'DIRECCION' | translate}}" ng-change="searchdir()" ng-model="search_dirbusines" /></td>   
         <td class="width-colum-middel"> <input type="search" id="id_search_funcion"    class="form-control-ecrece" placeholder="{{'FUNCIONALITY' | translate}}" ng-change="searchfuncio()" ng-model="search_funcio" /></td>   
         <td class="width-colum-number"> <input type="search" id="id_search_funcion1"  class="form-control-ecrece" placeholder="{{'STATE' | translate}}" ng-change="searchstate()" ng-model="search_state" /></td>     
        <td class="width-colum-action"><input type="search" ng-disabled="true"  class="form-control-ecrece" placeholder="{{'ACTIONS' | translate}}"  /></td>
        </tr>
        </thead>
        <tbody>        
        <tr class="contenedor" ng-repeat="item in Business ">
            <td class="td-ecrece-white"><input type="checkbox" name="selecteduser[]" value="{{item}}"
					    ng-checked="selection.indexOf(item) > -1"  ng-click="toggleSelection(item)"> {{item.name_business}}
			 </td>
			  <td class="td-ecrece-white"> {{ item.dir_business }} </td>
			  <td class="td-ecrece-white"> <div ng-repeat="f in item.funcionality">{{f.nameFuncionality}}</div> </td>
			  <td class="td-ecrece-white"> {{ item.businessStates.name_state_business }} </td>
			  <td class="alingcenter-btn ">
			  <button title="{{'VIEW' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow botonDelete" ng-click="goDetail(item)">
			  <span class="icon-Ver-Relleno"  style="font-size:24px;"></span>
			  </button></td>
			 </tr>
        </tbody>
	</table>
	</div>
	<tr>
        <div ng-if="Business.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
	<tfoot>
		  <div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
       		 </div>                     
         </tfoot>
    
 </div>