 <br/>
  <br/>
   <br/>
<div class="container padding-carddetail" >
		<div  class="row">
			<div ng-click="gonewbusiness()">
            <button type="button" title="{{'NEW' | translate}}" class="btn btn-ecrece btn-withoutshadow" ><span class="icon-Adicionar" style="font-size:24px;"></span></button>
             <a class="touppercase">{{'BUSINESS' | translate}}</a>             
        	</div>        
	        <div class="ml-auto padding-botomnback  col-md-3  ">
					<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
								ng-click="back()">{{'BACK' | translate}}</button>
				</div>
			</div>
	<table class="table-ecrece table-hover table-striped">			
		<tbody>			
			<tr>
				<div class="grid paddingleft20" >
				<div ng-if= "pagedItems.length==0"  style="float: left;">{{'NOT_RECORD ' | translate}}</div>
						<div ng-repeat="item in pagedItems[currentPage] ">
							<div class="row">
											 <div class="col-xs-12 col-md-5 padding0 ">
												<img class="card-img-top" ng-src="{{rutaimagen}}{{item.name_image}}"
													alt="{{'BUSINESS_IMG' | translate}}">
												<!-- end row -->
											 </div> 
											 <div class="col-xs-12 col-md-7 padding5"> 
												<div class="card-ecrece" >
													<div class="card-body">
														<h5 class="card-title">{{item.name_business}}</h5>
														<p class="card-text"> {{ item.dir_business }}</p>
														<button  title="{{'READ_MORE' | translate}}"
															class="btn btn-a-ecrece btn-withoutshadow"
															ng-click="get(item)">{{'READ_MORE' | translate}}</button>
														<button  title="{{'COPY' | translate}}"
															class="btn btn-a-ecrece btn-withoutshadow"
															ng-click="goclone(item)">{{'COPY' | translate}}</button>	
													</div>
												</div>
											 </div>							
							</div>
						</div>
					</div>
			</tr>
		</tbody>
	</table>
	<tfoot>
			<div class='paginado-ecrece' ng-show = "pagedItems.length > 1">
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='firstPage()'>
					 <span class="icon-Doble-Flecha-Izq" style="font-size:12px;"></span></button>
			 <button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage == 0' ng-click='prevPage()'>
					<span class="icon-Flecha-Izq" style="font-size:12px;"></span></button>		
			 <select name="paginado" class="btn droplist-init btn-withoutshadow" ng-model="page"
				ng-change="setPage(page)"
				ng-init="page = currentPage"
				ng-options="n as n+1 for n in range(pagedItems.length, currentPage, currentPage + pagedItems.length)">
				</select>
          		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='nextPage()'>
					  <span class="icon-Flecha-Der" style="font-size:12px;"></span></button>
		 		<button type='button' class='btn btn-ecrece btn-withoutshadow' ng-disabled='currentPage >= pagedItems.length - 1' ng-click='lastPage()'>
					 <span class="icon-Doble-Flecha-Der" style="font-size:12px;"></span></button>
        </div>                    
      </tfoot>
</div>
