<br/>
<br/>
<br/>
<div class="container">
    <modal title="{{'CONFIGURATION' | translate}}" visible="showModal" >
       
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                 <form class="form" name="configurationform">
                    <div class="modal-header-ecrece">                    
                     <h3 class="modal-title">{{'CONFIGURATION' | translate}}</h3>
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
								ng-click="CerrarModal()"><span class="icon-CerrarVentana"  style="font-size:10px;"></span></button>
                   </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" ng-show="verMessageError"><p ng-bind-html="errorMessage"></p></div>
                        <input type="hidden" id="id_configuration" class="form-control" readonly="readonly" ng-model="Configuration.id_configuration" />
                        <div class="row">
                        <div class="form-group col-sm-6">
                        <div class="md-form">
                            <label for="latitude" ng-if="Configuration.latitude.length == 0">{{'LATITUDE' | translate}} <span class="asteristo"> *</span></label>
							<label for="latitude" ng-if="Configuration.latitude.length >0" class="active">{{'LATITUDE' | translate}}<span class="asteristo"> * </span></label>
                            <input type="text" id="latitude" name="latitude" class="form-control"  maxlength="100" ng-model="Configuration.latitude" required autofocus/>
                             <span class="text-danger" ng-show="configurationform.latitude.$dirty && configurationform.latitude.$error.required">{{'LATITUDE_REQUIRED' | translate}}</span>
                        </div>
                        </div>
                         <div class="form-group col-sm-6">
                          <div class="md-form">
                            <label for="longitude" ng-if="Configuration.longitude.length == 0">{{'LENGTH' | translate}} <span class="asteristo"> *</span></label>
							<label for="longitude" ng-if="Configuration.longitude.length >0" class="active">{{'LENGTH' | translate}}<span class="asteristo"> * </span></label>
                            <input type="text" id="longitude" name="longitude" class="form-control"  maxlength="100" ng-model="Configuration.longitude" required />
                             <span class="text-danger" ng-show="configurationform.longitude.$dirty && configurationform.longitude.$error.required">{{'LENGTH_REQUIRED' | translate}}</span>
                        </div>
                        </div>
                        <div class="form-group col-sm-6">
                          <div class="md-form">
                            <label for="ptos_star" ng-if="Configuration.ptos_star.length == 0">{{'INIT_POINTS' | translate}} <span class="asteristo"> *</span></label>
							<label for="ptos_star" ng-if="Configuration.ptos_star.length >0" class="active">{{'INIT_POINTS' | translate}}<span class="asteristo"> * </span></label>
                            
                            <input type="number" id="ptos_star" name="ptos_star" class="form-control" ng-model="Configuration.ptos_star" required />
                             <span class="text-danger" ng-show="configurationform.ptos_star.$dirty && configurationform.ptos_star.$error.required">{{'INIT_POINTS_REQUIRED' | translate}}</span>
                          </div>
                        </div>
                        <div class="form-group col-sm-6">
                         <div class="md-form">
                            <label for="daysfuncionality" ng-if="Configuration.daysfuncionality.length == 0">{{'FUNCIONALITY_DAYS' | translate}} <span class="asteristo"> *</span></label>
							<label for="daysfuncionality" ng-if="Configuration.daysfuncionality.length >0" class="active">{{'FUNCIONALITY_DAYS' | translate}}<span class="asteristo"> * </span></label>
                            <input type="number" id="daysfuncionality" name="daysfuncionality" class="form-control" ng-model="Configuration.daysfuncionality" required />
                             <span class="text-danger" ng-show="configurationform.daysfuncionality.$dirty && configurationform.daysfuncionality.$error.required">{{'RECORDBYPAGE_REQUIRED' | translate}}</span>
						 </div>
						</div>   
						<div class="form-group col-sm-6">
						 <div class="md-form">
                            <label for="recordbypage" ng-if="Configuration.recordbypage.length == 0">{{'RECORDBYPAGE' | translate}} <span class="asteristo"> *</span></label>
							<label for="recordbypage" ng-if="Configuration.recordbypage.length >0" class="active">{{'RECORDBYPAGE' | translate}}<span class="asteristo"> * </span></label>
                            <input type="number" id="recordbypage" name="recordbypage" class="form-control" ng-model="Configuration.recordbypage" required />
                            <span class="text-danger" ng-show="configurationform.recordbypage.$dirty && configurationform.recordbypage.$error.required">{{'RECORDBYPAGE' | translate}}</span>
                      	 </div>
                        </div> 
                        </div>
                         
                    </div>
                   <div class="modal-footer modal-footer-ecrece">
						<div> 
							<label class="asteristo"> * </label><label >{{'FIELD_REQUIRED' | translate}}</label>
						</div>
						<div>
							<button type="button" ng-disable="true" title="{{'CLEAN' | translate}}" class="btn btn-a-ecrece btn-withoutshadow" ng-click="LimpiarModal()"><span class="glyphicon glyphicon-remove-circle"></span>{{'CLEAN' | translate}}</button>
                       		<button type="button" title="{{'ACCEPT' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"  ng-disabled="!configurationform.$valid" ng-click="save(Configuration)"><span class="glyphicon glyphicon-floppy-disk"></span>{{'ACCEPT' | translate}}</button>
                        </div>
					</div>
					</form>
                </div>
            </div>
        
    </modal>
    <div class="form-inline">
        <div>
            <button type="button" title="{{'NEW' | translate}}" ng-disabled="configurations.length>=1" class="btn btn-ecrece btn-withoutshadow" ng-click="AdicionarModal()"><span class="icon-Adicionar" style="font-size:24px;"></span></button>
        </div>
        <div class="alert alert-success" ng-show="verMessage">{{ Message | translate }}</div>
        <div class="ml-auto padding-botomnback-funcionality  col-md-3  ">
				<button type="button" title="{{'BACK' | translate}}" class="btn btn-a-ecrece btn-withoutshadow"
							ng-click="back()">{{'BACK' | translate}}</button>
			</div>
    </div>
    <div class="table-responsive">
    <table class="table-ecrece table-hover table-striped">
        <thead class="thead-ecrece">
         <tr>
            <th class="width-colum-number" >{{'LATITUDE' | translate}}</th>
            <th class="width-colum-number">{{'LENGTH' | translate}}</th>
            <th class="width-colum-number">{{'INIT_POINTS' | translate}}</th>
			<th class="width-colum-number">{{'FUNCIONALITY_DAYS' | translate}}</th>
			<th class="width-colum-number" >{{'RECORDBYPAGE' | translate}}</th>
			<th class="width-colum-action">{{'ACTIONS' | translate}}</th>
			
        </tr>
        </thead>
        <tbody>
        <tr class="contenedor" ng-repeat="item in configurations ">
            <td class="td-ecrece-white">{{ item.latitude }}</td>
            <td class="td-ecrece-white">{{ item.longitude }}</td>
            <td class="td-ecrece-white">{{ item.ptos_star }}</td>
			<td class="td-ecrece-white">{{ item.daysfuncionality }}</td>
			<td class="td-ecrece-white">{{ item.recordbypage }}</td>
            <td ng-if= "configurations.legth!=0">
                <div >
					<button id="botonEdit" title="{{'EDIT' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow" ng-click="get(item)"><span class="icon-EditarRelleno" style="font-size:24px;"></span></button>
					<button id="botonDelete" ng-disabled="true" title="{{'DELETE' | translate}}" class="btn btn-xs btn-ecrece btn-withoutshadow" ng-click="delete(item)"><span class="icon-EliminarRelleno"  style="font-size:24px;"></span></button>
		   		</div>
				</td>
        </tr>
        </tbody>
    </table>
    </div>
     <tr>
        <div ng-show= "configurations.length==0" style="float: left;">{{'NOT_RECORD ' | translate}}</div>
        </tr>
</div>